@model List<BookingHistory>
@using Nop.Web.Models.Booking
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts("Lịch sử đặt khám");
}
<style>
    .active{
        background: #cedcec;
    }
</style>
    <main>
        <div class="login-page bg-grey">
            <div class="container">
                <div class="row tab-vertical">
                    <!-- /////////////SIDE LEFT//////////////////// -->
                    <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="user-info-left">
                            <div class="left-side">
                                <img src="/assets/img/icon/sg_icon.png" />
                                <div>
                                    <small>Tài khoản của</small>
                                    <h5>@ViewBag.CustomerName</h5>
                                </div>
                            </div>
                            <ul>
                                <li><a href="/profile"><img src="/assets/img/icon/user-login.png" />Thông tin tài khoản</a></li>
                                <li><a href="/don-hang-cua-toi"><img src="/assets/img/icon/order.png" />Đơn hàng của tôi</a></li>
                                <li><a href="/ho-so-benh-nhan"><img src="/assets/img/icon/ba.png" />Hồ sơ bệnh án</a></li>
                                <li class="active"><a href="/Booking/BookingHistory"><img src="/assets/img/icon/order.png" />Lịch sử đặt khám</a></li>
                                <li><a href="/logout"><img src="/assets/img/icon/logout.png" />Thoát tài khoản</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- ///////////// END SIDE LEFT//////////////////// -->
                    <!-- /////////////SIDE RIGHT//////////////////// -->
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9" style="min-height:425px">
                        <h4 class="title-right">Lịch sử đặt khám</h4>
                        <div class="user-info-form">
                            <div class="card card-4">
                                <div class="">
                                    <div class="order-table">
                                        <table class="table table-hover table-responsive">
                                            <thead>
                                              <tr>
                                                <th scope="col">Mã khám</th>
                                                <th scope="col">Ngày khám</th>
                                                <th scope="col">Bác sĩ</th>
                                                <th scope="col">Bệnh nhân</th>
                                                <th scope="col">SDT</th>
                                                <th scope="col">Tình trạng</th>
                                                <th scope="col">Thao tác</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td>@item.Booking_number</td>
                                                <td><span class="birthday">@item.BookingDate</span> <span>@item.BvTime</span></td>
                                                <td>@item.DoctorName</td>
                                                <td>@item.PatientName</td>
                                                <td>@item.Mobile</td>
                                                <td>@item.Status</td>
                                                <td><a href="/Booking/BookingDetail/@item.Id">Chi tiết</a></td>
                                             </tr>                                             
                                            }
                                            </tbody>
                                          </table>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <!-- ///////////// END SIDE RIGHT //////////////////// -->
                </div>
            </div>
        </div>
    </main>