﻿@model BookingDetailModel
@using Nop.Web.Models.Booking
@{    
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Thông tin đặt khám");
}
<style>
    .date-picker-wrapper{
        display: flex;
        margin-left: 15px;
    }
    .btn-back{
        color: #004898;
        border: 1px solid;
        width: 100%;
        border-radius: 4px;
        height: 35px;
        text-align: center!important;
        margin-bottom: 15px;
    }
    .pad-0{
        padding-right: 0;
    }
</style>
<main>
    <div class="login-page bg-grey">
        <div class="container">
            <div class="row tab-vertical">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="user-info-left">
                        <div class="left-side">
                            <img src="assets/img/icon/sg_icon.png" />
                            <div>
                                <small>Tài khoản của</small>
                                <h5>@ViewBag.CustomerName</h5>
                            </div>
                        </div>
                        <ul>
                            <li><a href="/profile"><img src="/assets/img/icon/user-login.png" />Thông tin tài khoản</a></li>
                            <li><a href="/don-hang-cua-toi"><img src="/assets/img/icon/order.png" />Đơn hàng của tôi</a></li>
                            <li><a href="/ho-so-benh-nhan"><img src="/assets/img/icon/ba.png" />Hồ sơ bệnh án</a></li>
                            <li><a href="/Booking/BookingHistory"><img src="/assets/img/icon/order.png" />Lịch sử đặt khám</a></li>
                            <li><a href="/logout"><img src="/assets/img/icon/logout.png" />Thoát tài khoản</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <h4 class="title-right">Thông tin đặt khám</h4>
                    <div class="user-info-form">
                        <div class="">
                            <div class="card card-4">
                                <div class="card-body">
<form >
	<div class="form-group row">
	   <label class="col-form-label col-4">Họ Tên</label>
	   <div class="col-4">
	      <input disabled type="text" class="form-control" value ="@Model.PatientSurname"
		 aria-autocomplete="list">
	   </div>
	   <div class="col-4">
	      <input disabled type="text" class="form-control"  value ="@Model.PatientName"
		 aria-autocomplete="list">
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">CMND</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control" value ="@Model.SocialId"
		 aria-autocomplete="list">
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Mã bệnh nhân</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control" value ="@Model.PatientCode"
		 aria-autocomplete="list">
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Mã TT</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.TransactionCodeTT"
		 aria-autocomplete="list">
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Mã GD</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.TransactionCodeGD"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Ngày khám</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.BookingDate @Model.BvTime"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Bác sĩ</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.DoctorName"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Khoa</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.SubjectName"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Phòng khám</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.RoomName"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Địa chỉ</label>
	   <div class="col-8 row pad-0">
        <div class="col-4 pad-0">
	      <input disabled type="text" class="form-control"  value="@Model.WardName"
		 aria-autocomplete="list" readonly>
         </div>
        <div class="col-4 pad-0">
	      <input disabled type="text" class="form-control"  value="@Model.DistrictName"
		 aria-autocomplete="list" readonly>
         </div>
        <div class="col-4 pad-0">
	      <input disabled type="text" class="form-control"  value="@Model.CityName"
		 aria-autocomplete="list" readonly>
         </div>
         <div class="col-12 pad-0" style="margin-top: 10px;">
	      <textarea disabled  class="form-control" rows="3">@Model.Address</textarea>
	   </div>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Phương thức đặt khám</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.MethodId"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Chi phí</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.Amount"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Tình trạng</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.Status"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="form-group row">
	   <label class="col-form-label col-4">Ngày đặt</label>
	   <div class="col-8">
	      <input disabled type="text" class="form-control"  value="@Model.DateCreate"
		 aria-autocomplete="list" readonly>
	   </div>
	</div>
	<div class="col-sm-12" style='margin-right: 0;    text-align: right;display: inherit;'>
	   <button type="button" onclick="window.history.go(-1); return false;" class="col-md-2 btn btn-default btn-back text-right" >Quay lại</button>
	</div>
     </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
setTimeout(()=>{
    const cityId = '@Model.CityId'
    const districtId = '@Model.DistrictId'
    const wardId = '@Model.WardId'

    $(document).ready(()=>{
        $(`.city`).children().remove()
        $(`.city`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=VN`).then(res=>{
                (res || []).map(x=> {
                    let value = `<option value="${x.Id}">${x.Name}</option>`
                    if(cityId && x.Id == cityId){
                        value = `<option selected value="${x.Id}">${x.Name}</option>`
                    }
                    return $(`.city`).append(value)
                    })
        }).catch(err=>console.log(err))
        if(cityId){
            $.getJSON(`/booking/GetDistricts?city_id=${cityId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(districtId && x.Id == districtId){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.district`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
        if(districtId){
            $.getJSON(`/booking/GetWards?district_id=${districtId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(wardId && x.Id == wardId){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.ward`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
    })
},1000)    
const getDirectory = (type,value)=>{
    switch(type){
        case 'city':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetCities?country_code=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'district':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'ward':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetWards?district_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        default:
            break
    }
}
</script>