﻿@model PatientModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
     Layout = "_ColumnsOne";
      Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var now = DateTime.Now;
    var weeks =Model.Calendars.Select(x=>x.Week).Distinct();
    var nextLink = "/booking/insurance?patientId=" + Model.Id;
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    #section-booking-45{
        margin-top: 10px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm, .btn.btn--rounded-gray.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
    .brt-cont-group.active.doctor{
        background-color: #258dd430;
    }
    .brt-cont-group.active.doctor .brt-cont-name, .brt-cont-group.active.doctor .brt-cont-code{
        color: white;
    }
     .brt-cont-group.active.doctor .timing{
        color: white;
        border-color: white;
    }
    .guide-line{
        margin-bottom: 10px;
    }
</style>

<div id="section-booking-45">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1">
                <div class="booking-left-menu">
                    <div class="booking-left-menu-top shadow-2">
                        <div class="blmt-name">
                             <div class="nav-title-name uppercase">@Model.Name</div>
                        </div>
                         <div class="blmt-info">Địa chỉ: @Model.Address</div>
                        <div class="blmt-info">Điện thoại: @Model.Mobile</div>
                    </div>
                    <div id="section-find-doctor-2">
                        <div class="find-doctor-left-1 shadow-2">
                            <h4 class="title1">THÔNG TIN KHÁM</h4>
                            <ul>
                                 <li class="circle"><i class="fa fa-hospital uppercase text-center"></i>@storeName</li>
                                <li class="circle"><i class="fa fa-file-medical"></i>@Model.SubjectName</li>
                                <li class="circle"><i class="fa fa-calendar-check"></i>@T("common.day") khám:
                                    <span>@Model.ExaminationDate</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="booking-left-menu-hotline text-center shadow-2">
                        @* <div class="blmh-name">@T("common.phoneonline")</div><a href="tel:@homepageSettings.PhoneOnline"
                            class="d-block">@homepageSettings.PhoneOnline</a>
                        <hr> *@
                        <div class="blmh-name">@T("common.phonesupport")</div><a href="tel:@homepageSettings.PhoneSuport" class="d-block">@homepageSettings.PhoneSuport</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-1 order-md-2">
                <div class="booking-right-navigation">
                    <ul>
                        <li><a to="#" class="active">Ngày khám, Chuyên khoa  &nbsp;<i class="fa fa-angle-right"></i></a></li>
                        <li><a class="active" style="cursor: not-allowed;">Phòng khám, giờ khám &nbsp;<i
                                    class="fa fa-angle-right"></i></a></li>
                        <li><a class="">Thông tin đăng ký &nbsp; <i class="fa fa-angle-right"></i></a></li>
                        <li><a class="">Thanh toán &nbsp;</a></li>
                    </ul>
                </div>
                <div class="user-navigate mb-2"> Vui lòng chọn phòng khám và giờ khám</div>
                <div class="booking-right-time">
                    @foreach(var item in Model.Schedules){
                    <div class="brt-cont-group" id="schedule-@item.RoomId-@item.DoctorId" data-roomid="@item.RoomId" data-doctorid="@item.DoctorId" data-start="@item.StartTime.GetValueOrDefault().TimeOfDay" data-end="@item.EndTime.GetValueOrDefault().TimeOfDay">
                        <div class="brt-cont d-flex align-items-center"><i class="fa fa-angle-left"></i><span
                                class="fa fa fa-user-md"></span>
                            <div class="brt-cont-right">
                                <div class="brt-cont-name">@item.Doctor.Fullname</div>
                                <div class="brt-cont-code">@item.Room.Name</div>
                            </div>
                        </div>
                        <div class="brt-cont-hide show">
                            <ul>
                                <li title="Chọn giờ khám"><a class="timing" style="cursor: pointer;">@item.StartTime?.ToString("hh"):@item.StartTime?.ToString("mm") - @item.EndTime?.ToString("hh"):@item.EndTime?.ToString("mm")</a></li>
                            </ul>
                        </div>
                    </div>
                    }
                    <div class="brc-btn row align-items-center text-center show">
                        <div class="col-lg-6 col-12 mr-auto">
                            <div class="row">
                                <div class="col-6 pl-0"><button id="cancel" class="btn btn--rounded-gray btn--sm">Quay lại</button>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-6 ml-auto" >
                                <div class="row">
                                    <div class="col-lg-6  ml-auto">
                                        <button class="btn btn--rounded-blue btn--sm" id="submit" disabled onClick="next('@nextLink')">TIẾP TỤC</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="guide-line">
                    <div>Chọn: <b>Phòng khám</b> &gt; <b>Giờ khám</b> &gt; <b>Tiếp tục</b>.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const next = (link)=>{
    let gotoLink = `${link}&subjectId=${window.subjectId}&day=${window.day}&month=${window.month}&year=${window.year}&roomId=${window.roomId}&doctorId=${window.doctorId}&start=${window.start}&end=${window.end}`
    console.log(gotoLink)
    window.location.href = gotoLink
}
setTimeout(()=>{
    $(document).ready(()=>{
        //http://localhost:3000/booking/doctor?patientId=1&subjectId=122&day=24&month=5&year=2020
        window.patientId = params('patientId')
        window.subjectId = params('subjectId')
        window.day       = params('day')
        window.month     = params('month')
        window.year      = params('year')
    })
    $(document).on('click', '.brt-cont-group' , (e)=>{
        let element
        $('.brt-cont-group').removeClass('active')
        $('.brt-cont-group').removeClass('doctor')

        if($(e.target)[0].className.includes("brt-cont-group")){
            element     = $(e.target)
        }else{
                element = $(e.target).closest('.brt-cont-group')[0]
        }
        console.log($(e.target)[0].className,element)
        $(element).addClass('active')
        $(element).addClass('doctor')

        window.roomId     =  $(element).data("roomid")
        window.doctorId   =  $(element).data("doctorid")
        window.start      =  $(element).data("start")
        window.end        =  $(element).data("end")

         $('button#submit').prop("disabled", false); 
    })
    $('button#cancel').on('click', function(e){
        e.preventDefault();
        window.history.back();
    });
},1000)
function params (sParam) {
  var sPageURL = window.location.search.substring(1)
  var sURLVariables = sPageURL.split('&')
  var sParameterName
  var i

  for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=')

    if (sParameterName[0] === sParam) {
      return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1])
    }
  }
};
</script>