﻿
@model List<HIS.Model.EncounterModel>
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    var patientId = @ViewContext.HttpContext.Request.Query["patientId"].ToString();
    var start = @ViewContext.HttpContext.Request.Query["start"].Any();
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    .pagination-a{float:right;}
    .pagination-a ul{display:inline-block;}
    .total-summary{display:none;}
    .pagination-a ul li{
        float: left;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border: 1px solid #888;
        margin-left: 5px;
        border-radius: 4px;
        text-align: center;
    }
    .bmi-content{
        text-align: justify;
    }
    .bmi-img{
        height: auto;
        width: 100%;
    }
    #code{
        width:30%;
        display: inline;
    }
    form{
        text-align: center;
    }
    .code-label{
        display: block;
    }
    body{
        background: #fffff;
    }
    .list-group-item{
        text-transform: capitalize;
    }
    .text-center{
        text-align: center;
    }
    .control-panel{
        margin-top: 10px;
    }
    .input-group{
        width: 30%;
        display: inline-block;
    }
    .date-input{
        width: 100%!important;
    }
    .wrap-search{
        margin-top:5px;
    }
    .searchButton{
        width: 150px;
    }
    table{
        border: 1px;
        border-bottom-style: dotted;
    }
    .input-group-text{
        font-size: 14px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>
<div class="doctor">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <section class="patient-search">
        <div class="container">
            <form class="text-center">
                <input type="hidden" name="patientId" value="@patientId"/>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >@T("common.startdate")</span>
                    </div>
                    <input type="date" name="start" data-provide="datepicker" class="form-control date-input" aria-label="Large" aria-describedby="inputGroup-sizing-sm"/>
                </div>
                 <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >@T("common.enddate")</span>
                    </div>
                    <input type="date" name="end" data-provide="datepicker" class="form-control date-input" aria-label="Large" aria-describedby="inputGroup-sizing-sm"/>
                </div>
                <div class="wrap-search">
                    <div class="search">
                        <button type="submit" class="searchButton cursor-pointer btn btn-blue">
                            @T("common.search")
                            <img src="/icons/search.svg" alt="icon-tim-kiem" />
                        </button>
                    </div>
                </div>
            </form>
            
        </div>
    </section>
    <section class="doctor-content">
        @if(Model.Any()){
        <div class="container">

            <table class="table  table-striped">
            <thead class="thead-light">
                <tr>
                <th>@T("his.encountercode")</th>
                <th>@T("his.datecreate")</th>
                <th>@T("his.room")</th>
                <th>@T("his.idccode")</th>
                <th>@T("his.idcname")</th>
                <th>@T("his.doctor")</th>
                <th>@T("his.testresult")</th>
                <th>@T("his.cdha")</th>
                </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.EncounterCode</td>
                        <td>@item.CreateDate</td>
                        <td>@item.RoomName</td>
                        <td>@item.ICDCode</td>
                        <td>@item.ICDName</td>
                        <td>@item.DoctorName</td>
                        <td><a class="text-underline" href="/booking/TestResult?patientId=@patientId&encouterCode=@item.EncounterCode">@T("common.detail")</a></td>
                        <td><a class="text-underline" href="/booking/cdha?patientId=@patientId&encouterCode=@item.EncounterCode">@T("common.detail")</a></td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
        }else if(start){
            <h4 class="text-center">@T("common.lackinfo")</h4>
        }
        <div class="container">
            <div class="text-right">
                <button onclick="onfly('/booking/PatientInfo?patientId=@patientId')" class="btn btn-default">@T("common.back")</button>
            </div>
        </div>
    </section>
</div>

