﻿@model List<PatientModel>
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Helpers;
@{
     Layout = "_ColumnsOne";
      Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var now = DateTime.Now;
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
.group-results:hover{
    background-color: #3a90d2;
}
.group-results:hover .gr-info > .gr-p-name{
    color: #fff !important;
}
.group-results:hover .gr-info .choose-profile-active{
    color: #fff !important;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>
<main id="section-info-13">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="group text-center shadow-2">
                <div class="col-md-10 col-lg-6 mx-md-auto">
                    <div class="themesflat-headings style-1 group-items group-items-register text-center">
                        <h2 class="clearfix">CHỌN @T("common.patientfile")</h2>
                          @foreach(var item in Model){
                            <div class="sep clearfix"></div>
                            <div class="group-results group-results-13 d-flex">
                                <div class="gr gr-info text-left cursor-pointer" onclick="onfly('/booking/schedule?patientId=@item.Id')">
                                    <div class="gr-p-name gr-name d-plex capital">@item.Name<br>
                                        <div class="choose-profile-active ml-auto"><i
                                                class="fa fa-check-circle"></i><span>Chọn</span></div>
                                    </div>
                                    <div class="gr-p-name gr-name-1"><span class="nav-title-bhyt"></span></div>
                                    <div class="gr-p-name gr-name-1">@T("common.day") sinh : <span class="birthday">@item.Birthdate</span></div>
                                    <div class="gr-p-name gr-name-1 ">Điện thoại : <span class="phone">@item.Mobile</span></div>
                                </div>
                            </div>
                            }
                        @* <div class="group-dashed group-dashed-info text-center" onclick="onfly('/booking/patients')"><i class="fa fa-user-plus"></i>
                            <div class="gdi-book">Đặt cho bệnh nhân khác</div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="guide-line">
            <div>Chọn: <b>@T("common.patientfile")</b> &gt; <b>Tiếp tục</b>.</div>
            <div>Nếu danh sách không có hồ sơ phù hợp, vui lòng chọn <b>Đặt cho bệnh nhân khác</b>.</div>
        </div>
    </div>
</main>  
<script>
setTimeout(()=>{
    $('.phone').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });
    @*$('.birthday').text(function(i, text) {
        var year = text.substring(0,4)
        var month = text.substring(4,6)
        var day = text.substring(6,8)
    return `${day}/${month}/${year}`
    })
     $('.group-results').hover((e)=>{
        $(e.target).css('background-color', '#3a90d2')
        $(e.target).find('.gr-name').css('color', 'white')
        $(e.target).find('.gr-name-1').css('color', 'white')
        $(e.target).find('.ml-auto').css('color', 'white')
    })
    $('.group-results').mouseleave((e)=>{
        $(e.target).css('background-color', 'white')
        $(e.target).find('.gr-name').css('color', 'black')
        $(e.target).find('.gr-name-1').css('color', 'black')
        $(e.target).find('.ml-auto').css('color', 'black')
    }) *@
},1000)
</script>