﻿@model PatientModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
     Layout = "_ColumnsOne";
      Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var now = DateTime.Now;
    var weeks =Model.Calendars.Select(x=>x.Week).Distinct();
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    #section-booking-45{
        margin-top: 10px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm, .btn.btn--rounded-gray.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>

<div id="section-booking-45">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1">
                <div class="booking-left-menu">
                    <div class="booking-left-menu-top shadow-2">
                        <div class="blmt-name">
                             <div class="nav-title-name uppercase">@Model.Surname @Model.Name</div>
                        </div>
                         <div class="blmt-info">Địa chỉ: @Model.Address</div>
                        <div class="blmt-info">Điện thoại: @Model.Mobile</div>
                    </div>
                    <div id="section-find-doctor-2">
                        <div class="find-doctor-left-1 shadow-2">
                            <h4 class="title1">THÔNG TIN KHÁM</h4>
                            <ul>
                                 <li class="circle"><i class="fa fa-hospital uppercase text-center"></i>@storeName</li>
                                <li class="circle"><i class="fa fa-file-medical"></i>@Model.SubjectName @Model.Surname @Model.Name</li>
                                <li class="circle"><i class="fa fa-calendar-check"></i>@T("common.day") khám:
                                    <span>@Model.ExaminationDate</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="booking-left-menu-hotline text-center shadow-2">
                        @* <div class="blmh-name">@T("common.phoneonline")</div><a href="tel:@homepageSettings.PhoneOnline"
                            class="d-block">@homepageSettings.PhoneOnline</a>
                        <hr> *@
                        <div class="blmh-name">@T("common.phonesupport")</div><a href="tel:@homepageSettings.PhoneSuport" class="d-block">@homepageSettings.PhoneSuport</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-1 order-md-2">
                <div class="booking-right-navigation">
                    <ul>
                        <li><a to="#" class="active">Ngày khám, Chuyên khoa  &nbsp; <i class="fa fa-angle-right"></i></a></li>
                        <li><a class="active" style="cursor: not-allowed;">Phòng khám, giờ khám  &nbsp;<i
                                    class="fa fa-angle-right"></i></a></li>
                        <li><a class="">Thông tin đăng ký  &nbsp; <i class="fa fa-angle-right"></i></a></li>
                        <li><a class="">Thanh toán</a></li>
                    </ul>
                </div>
                <div class="user-navigate mb-2"> Thông tin đặt khám</div>
                <div class="booking-right-info">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>THÔNG TIN KHÁM</h4>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped bri-show-records">
                            <thead>
                                <tr>
                                    <th scope="col-3">Chuyên khoa</th>
                                    <th scope="col-3">@T("common.day") khám</th>
                                    <th scope="col-3">Bác sĩ</th>
                                    <th scope="col">Hình thức</th>
                                    <th scope="col">Tiền khám</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="no_border_bot"><strong>@Model.SubjectName</strong></td>
                                    <td class="no_border_bot"><span>@Model.ExaminationDate</span><br><span>@Model.ExaminationTime</span></td>
                                    <td class="no_border_bot"><span>@Model.DoctorName</span></td>
                                    <td><span>@(Model.HaveInsurance?"Khám bảo hiểm":"Khám dịch vụ")</span></td>
                                    <td class="no_border_bot"><span class="price" id='price' value='@Model.Price'>@Model.Price</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="bri-profile">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 ">
                                <div class="bri-profile-top d-md-flex align-items-center">
                                    <h4>THÔNG TIN BỆNH NHÂN</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-xl-6 col-lg-8">
                                <ul>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-user"></i>Họ @T("common.name"):</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t uppercase" id="patient-name">@Model.Name</p>
                                    </li>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-calendar-alt"></i>@T("common.day") sinh:</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t " id="patient-date">@Model.Birthdate</p>
                                    </li>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-mobile-alt"></i>Điện thoại:</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t phone" id="patient-phone">@Model.Mobile</p>
                                    </li>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-map-marker"></i>Địa chỉ:</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t" id="patient-city"> @Model.Address</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xl-6 col-lg-8">
                                <ul>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-venus-mars"></i>@T("common.sex"):</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t" id="patient-gender">@(Model.Sex == 0?"Nam":"Nữ")</p>
                                    </li>
                                    <li class="li-left">
                                        <p class="conf-f"><i class="fa fa-globe"></i>Quốc gia:</p>
                                    </li>
                                    <li class="li-right">
                                        <p class="conf-t" id="patient-city">Việt Nam</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class=" bri-payment-btn">
                        <div class="row">
                            <div class=" col-lg-6  col-12 ml-auto">
                            <form  asp-controller="Booking" asp-action="Book" method="post">
                                <input type="hidden" name="DoctorId" value="@Model.DoctorId" />
                                <input type="hidden" name="RoomId" value="@Model.RoomId" />
                                <input type="hidden" name="PatientId" value="@Model.PatientId" />
                                <input type="hidden" name="SubjectId" value="@Model.SubjectId" />
                                <input type="hidden" name="HaveInsurance" value="@Model.HaveInsurance" />
                                <input type="hidden" name="StartTime" value="@Model.StartTime" />
                                <input type="hidden" name="EndTime" value="@Model.EndTime" />
                                <div class="row">
                                    <div class="col-6"><button id='cancel' class="btn btn--rounded-gray btn--sm">Quay lại</button></div>
                                    <div class="col-6"><button  class="btn btn--rounded-blue btn--sm">Đăng ký</button></div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide-line">
                    <div>Chọn: <b>Phòng khám</b> &gt; <b>Giờ khám</b> &gt; <b>Tiếp tục</b>.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
setTimeout(()=>{
    $('button#cancel').on('click', function(e){
        e.preventDefault();
        window.history.back();
    });
    $('.phone').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });
    $('.birthday').text(function(i, text) {
        var year = text.substring(0,4)
        var month = text.substring(4,6)
        var day = text.substring(6,8)
    return `${day}/${month}/${year}`
    })
},1000)
function params (sParam) {
  var sPageURL = window.location.search.substring(1)
  var sURLVariables = sPageURL.split('&')
  var sParameterName
  var i

  for (i = 0; i < sURLVariables.length; i++) {
    sParameterName = sURLVariables[i].split('=')

    if (sParameterName[0] === sParam) {
      return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1])
    }
  }
};
</script>
<script>
const price = document.getElementById('price')

const priceVND = (parseInt(price.getAttribute("value"))).toLocaleString('vi-VN', {
  style: 'currency',
  currency: 'VND',
})
price.innerHTML = priceVND
</script>