﻿@model PatientModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Models.Booking
@{

    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    string patientId = ViewContext.HttpContext.Request.Query["patientId"];
    if(string.IsNullOrEmpty(patientId))
    {
        patientId = Model.PatientId.ToString();
    }
    string date = ViewContext.HttpContext.Request.Query["day"];
    string start = ViewContext.HttpContext.Request.Query["start"];
    string end = ViewContext.HttpContext.Request.Query["end"];
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if (!String.IsNullOrEmpty(ViewBag.BannerUrl))
    {
        bannerUrl = ViewBag.BannerUrl;
    }
    var generalInfos = new List<GeneralInfo>();

    var s = Json.Serialize(Model);
    foreach (var item in Model.Hospitalize)
    {
        var createDate = DateTime.ParseExact(item.CreateDate, "dd/MM/yyyy HH:mm", null);
        var sameDate = generalInfos.FirstOrDefault(x => x.CreateDate.Date == createDate.Date);
        if (sameDate == null)
        {
            generalInfos.Add(new GeneralInfo
            {
                CreateDate = createDate,
                Hospitalizies = new List<HIS.Model.EncounterModel> { item }
            });
        }
        else
        {
            sameDate.Hospitalizies.Add(item);
        };
    }
    var fullName = Model.Surname;
    if (String.IsNullOrEmpty(fullName))
    {
        fullName = Model.Name;
    }
    else
    {
        if (!String.IsNullOrEmpty(Model.Name)
        && !fullName.Contains(Model.Name))
        {
            fullName += " " + Model.Name;
        }
    }
}
<style>
    .hsba-tab table thead th {
        background: none;
    }

    .input-code {
        margin-left: 10px;
        margin-right: 3px;
    }

    .ds-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
    }

    .btn {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 12px;
    }

    #section-find-doctor-1 .find-doctor-left h4,
    #section-find-doctor-2 .find-doctor-left-1 h4,
    #section-find-doctor-2 .find-doctor-left-2 h4 {
        background: #078ae0;
    }

    .btn.btn--rounded-blue.btn--sm {
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }

    .booking-left-menu-top.shadow-2 {
        line-height: 20px;
    }

    @*.responsive-on-desktop{display:block;width:100%;overflow-x:auto;}*@@@media screen and (max-width:480px) {
        .responsive-table {
            display: block;
            width: 100%;
            overflow-x: auto;

            .table th {
                min-width: 100px;
            }

            .table td {
                min-width: 100px;
            }
        }
    }
</style>
<style>
    .collapseButton {
        vertical-align: text-top;
    }

    th,
    td {
        padding: 1em;
    }

    #hidden {
        display: none;
    }

    .Table {
        margin-left: 12em;
        margin-top: 1em;
        margin-right: 1em;
    }

    table {
        border-collapse: collapse;
    }

    table tr:nth-child(even) {
        @*background-color:#5873C1;*@@*color:white;*@
    }

    table tr:nth-child(odd) {
        @*background-color:#3756B1;*@@*color:white;*@
    }

    table th {
        @*background-color:#092168;*@
    }

    table th,
    td {
        padding: 1em;
        text-align: center;
    }

    #collapseButton:hover {
        @*background-color:#092168;*@
    }
</style>
<main>
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>THÔNG TIN BỆNH ÁN</span>
        </div>
    </div>
    <div class="user-page">
        <div class="user-page-content">
            <div class="container">
                <section id="tabs" class="hsba-tab">
                    <div class="container">
                        <!-- THÔNG TIN BỆNH NHÂN -->
                        <div class="row hsba-patient-info">
                            <div class="col-lg-7 col-md-7">
                                <div class="hsba-patient-info-left">
                                    <p>
                                        <span>Mã bệnh nhận: <b>@Model.Id</b></span>
                                        <span>Giới tính: <b>@(Model.Sex == 0?"Nam":"Nữ")</b></span>
                                        <span>Năm sinh: <b>@Model.Birthyear</b></span>
                                    </p>
                                    <p>Tên:<b>@fullName</b></p>
                                    <p>Số điện thoại: <b>@Model.Mobile</b></p>
                                    <p style="margin-bottom: 30px;">Địa chỉ: <b>@Model.Address, @Model.WardId,
                                            @Model.DistrictId, @Model.CityId</b></p>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5">
                                <div class="hsba-patient-info-right">
                                    <div class="form-group">
                                        <label class="radio-container m-r-45">
                                            <input type="radio" name="radio1" checked>
                                            <span class="checkmark"></span>
                                            Mã BN
                                            <div class="input-group input-code">
                                                <input type='text' name='patientId' id='patientId' class="form-control"
                                                    placeholder="Mã bệnh nhân" value='@patientId' />
                                            </div>
                                        </label>
                                        <label class="radio-container m-r-45">
                                            <input type="radio" id='date' name="date" value='0' checked="checked">
                                            <span class="checkmark"></span>
                                            Ngày
                                            <div>
                                                <div class="input-group input-daterange">
                                                    <div class="position">
                                                        <input type="text" id='start' name='start' class="form-control"
                                                            placeholder="" data-date-end-date="0d" />
                                                    </div>
                                                    <div class="position">
                                                        <input type="text" id='end' name='end' class="form-control"
                                                            placeholder="" data-date-end-date="0d">
                                                        <i class="far fa-calendar-alt"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <div class="ds-flex">
                                            <label class="radio-container m-r-45">
                                                <input type="radio" id='date' name="date" value='90'>
                                                <span class="checkmark"></span>
                                                3 Tháng
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" id='date' name="date" value='180'>
                                                <span class="checkmark"></span>
                                                6 Tháng
                                            </label>
                                            <label class="radio-container">
                                                <input type="radio" id='date' name="date" value='365'>
                                                <span class="checkmark"></span>
                                                1 Năm
                                            </label>
                                        </div>
                                        <div class="btn-group">
                                            <button type="submit" onclick='search()' class="btn btn-dark-blue">Tìm kiếm
                                                <i class="fas fa-search"></i></button>
                                            @* <button type="submit" class="btn btn-dark-blue" >Kết thúc <i class="fas
                                                fa-power-off"></i></button> *@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- THÔNG TIN BỆNH NHÂN -->
                        <!-- TABLE TAB -->
                        <div class="row">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="thongtinchung" data-toggle="tab"
                                            href="#nav-tb01" role="tab" aria-controls="nav-home"
                                            aria-selected="true">Thông tin chung</a>
                                        <a class="nav-item nav-link" id="khambenh" data-toggle="tab" href="#nav-tb02"
                                            role="tab" aria-controls="nav-profile" aria-selected="false">Khám bệnh</a>
                                        @* <a class="nav-item nav-link" id="CĐHA" data-toggle="tab" href="#nav-tb03"
                                            role="tab" aria-controls="nav-contact" aria-selected="false">CĐHA</a>
                                            <a class="nav-item nav-link" id="xetnghiem" data-toggle="tab"
                                            href="#nav-tb04" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">Xét nghiệm</a>
                                            <a class="nav-item nav-link" id="toathuoc" data-toggle="tab"
                                            href="#nav-tb05" role="tab" aria-controls="nav-contact"
                                            aria-selected="false">Toa thuốc</a> *@
                                    </div>
                                </nav>
                                <!-- TAB CONTENT -->
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- THÔNG TIN CHUNG -->
                                    <div class="tab-pane fade show active" id="nav-tb01" role="tabpanel"
                                        aria-labelledby="thongtinchung">
                                        <table class="table table-striped responsive-table responsive-on-desktop"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    @* <th style="min-width:100px">Thời gian tiếp đón</th> *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var info in generalInfos.OrderByDescending(x => x.CreateDate))
                                                {
                                                    <tr>
                                                        <td id="collapseButton" style="cursor: pointer;"
                                                        onclick="collapse(this)">+</td>
                                                        <td style="min-width:100px;">Ngày khám</td>
                                                        <td style="min-width:100px; font-weight: 600;"><span
                                                            style="min-width:100px; font-weight:">@info.CreateDate.ToString("dd/MM/yyyy")</span>
                                                        </td>
                                                    </tr>
                                                    <tr id="hidden">
                                                        <td></td>
                                                        <td colspan=3>
                                                            <table
                                                            class="table table-striped responsive-table responsive-on-desktop"
                                                            cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="min-width:100px">Thời gian tiếp đón</th>
                                                                        <th style="min-width:100px">Ngày khám xong</th>
                                                                        <th style="min-width:100px">Tái khám</th>
                                                                        <th style="min-width:100px">Mã chẩn đoán</th>
                                                                        <th style="min-width:200px">Chẩn đoán</th>
                                                                        <th style="min-width:100px">Thao tác</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in info.Hospitalizies)
                                                                    {
                                                                        <tr>
                                                                            <td style="min-width:100px">@item.CreateDate</td>
                                                                            <td style="min-width:100px">@item.OutDate</td>
                                                                            <td style="min-width:100px">@item.ReExamDate</td>
                                                                            <td style="min-width:100px">@item.ICDCode</td>
                                                                            <td style="min-width:200px">@item.ICDName</td>
                                                                            <td style="min-width:100px"><a
                                                                            href="/chi-tiet-benh-an?patientId=@patientId&encounterCode=@item.EncounterCode&day=@date&start=@start&end=@end">Chi
                                                                                    tiết</a></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /. THÔNG TIN CHUNG -->
                                    <!-- KHÁM BỆNH -->
                                    <div class="tab-pane fade" id="nav-tb02" role="tabpanel" aria-labelledby="khambenh">
                                        <table class="table table-striped responsive-table responsive-on-desktop"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    @* <th style="min-width:100px">Thời gian tiếp đón</th> *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var info in generalInfos.OrderByDescending(x => x.CreateDate))
                                                {
                                                    <tr>
                                                        <td id="collapseButton" style="cursor: pointer;"
                                                        onclick="collapse(this)">+</td>
                                                        <td style="min-width:100px;">Ngày khám</td>
                                                        <td style="min-width:100px; font-weight: 600;"><span
                                                            style="min-width:100px; font-weight:">@info.CreateDate.ToString("dd/MM/yyyy")</span>
                                                        </td>
                                                    </tr>
                                                    <tr id="hidden">
                                                        <td></td>
                                                        <td colspan=3>
                                                            <table
                                                            class="table table-striped responsive-table responsive-on-desktop"
                                                            cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="min-width:200px">@T("his.encountercode")
                                                                        </th>
                                                                        <th style="min-width:100px">@T("his.datecreate")
                                                                        </th>
                                                                        <th style="min-width:100px">@T("his.room")</th>
                                                                        <th style="min-width:100px">@T("his.idccode")</th>
                                                                        <th style="min-width:200px">@T("his.idcname")</th>
                                                                        <th style="min-width:200px">@T("his.doctor")</th>
                                                                        @* <th>@T("his.testresult")</th> *@
                                                                        @* <th>@T("his.cdha")</th> *@
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var item in info.Hospitalizies)
                                                                    {
                                                                        <tr>
                                                                            <td style="min-width:200px">@item.EncounterCode</td>
                                                                            <td style="min-width:100px">@item.CreateDate</td>
                                                                            <td style="min-width:100px">@item.RoomName</td>
                                                                            <td style="min-width:100px">@item.ICDCode</td>
                                                                            <td style="min-width:200px">@item.ICDName</td>
                                                                            <td style="min-width:200px">@item.DoctorName</td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /. KHÁM BỆNH -->
                                </div>
                            </div>
                        </div>
                        <!-- TABLE TAB -->
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</main>
<script>
    function collapse(cell) {
        $.cell = cell
        var row = cell.parentElement;
        var target_row = row.parentElement.children[row.rowIndex];
        if (target_row.style.display == 'table-row') {
            cell.innerHTML = '+';
            target_row.style.display = 'none';
        } else {
            cell.innerHTML = '-';
            target_row.style.display = 'table-row';
        }
        console.log({ cell, row, target_row })
    }
</script>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link', window.location.origin + "/" + link)
        window.location.href = window.location.origin + "/" + link
    }
    function search() {
        const id = $('#patientId').val()
        const date = $('input[name="date"]:checked').val()
        const start = $('#start').val()
        const end = $('#end').val()
        window.conto = $('input[name="date"]:checked')
        followLink(`ho-so-benh-nhan?patientId=${id}&day=${date}&start=${start}&end=${end}`)
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#start').val('@start')
        $('#end').val('@end')
        const date = parseInt('@date')
        console.log('conto', date, '@date')
        if (date) {
            document.querySelector(`input[name=date][value='${date}']`).checked = true;
        }

        // Your code to run since DOM is loaded and ready
    });
</script>
<script>
    console.log('Model: @s')
</script>