﻿@model PatientModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    string patientId = ViewContext.HttpContext.Request.Query["patientId"];
    string date = ViewContext.HttpContext.Request.Query["day"];
    string start = ViewContext.HttpContext.Request.Query["start"];
    string end = ViewContext.HttpContext.Request.Query["end"];
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    var s = Json.Serialize(Model);
    if (!String.IsNullOrEmpty(ViewBag.BannerUrl))
    {
        bannerUrl = ViewBag.BannerUrl;
    }
    var generalInfo = new HIS.Model.EncounterModel();
    if (Model.Hospitalize.Any())
    {
        generalInfo = Model.Hospitalize.FirstOrDefault();
    }

    var reExamDate = generalInfo.ReExamDate;
    if (String.IsNullOrEmpty(reExamDate))
    {
        reExamDate = "Ghi trên toa thuốc";
    }
}
<style>
    .input-code {
        margin-left: 10px;
        margin-right: 3px;
    }

    .ds-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
    }

    .btn {
        text-transform: capitalize;
        font-weight: 400;
        font-size: 12px;
    }

    #section-find-doctor-1 .find-doctor-left h4,
    #section-find-doctor-2 .find-doctor-left-1 h4,
    #section-find-doctor-2 .find-doctor-left-2 h4 {
        background: #078ae0;
    }

    .btn.btn--rounded-blue.btn--sm {
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }

    .booking-left-menu-top.shadow-2 {
        line-height: 20px;
    }

    .hsba-patient-info-left.child p {
        border-bottom: 1px dotted #ccc;
    }

    .btn-back {
        color: #004898;
        border: 1px solid;
        width: 100%;
        border-radius: 4px;
        height: 35px;
        text-align: center !important;
        margin-bottom: 15px;
    }

    .btn-group {
        text-align: right;
    }

    .responsive-on-desktop {
        display: block;
        width: 100%;
        overflow-x: auto;
    }

    @@media screen and (max-width:480px) {
        .responsive-table {
            display: block;
            width: 100%;
            overflow-x: auto;
        }
    }
</style>
<main>
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>THÔNG TIN BỆNH ÁN</span>
        </div>
    </div>
    <div class="user-page">
        <div class="user-page-content">
            <div class="container">
                <section id="tabs" class="hsba-tab">
                    <div class="container">
                        <!-- THONG TIN CHUNG -->
                        <div class="row hsba-patient-info">
                            <div class="col-lg-6 col-md-6">
                                <div class="hsba-patient-info-left child">
                                    <p>Thời gian tiếp đón: <b>@generalInfo.CreateDate</b></p>
                                    <p>Ngày khám xong : <b>@generalInfo.OutDate</b></p>
                                    <p>Tái khám : <b>@reExamDate</b></p>
                                    <p>&nbsp; </p>
                                    <p>&nbsp; </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="hsba-patient-info-left child">
                                    <p>Mã chẩn đoán:<b>@generalInfo.ICDCode</b></p>
                                    <p>Chẩn đoán:<b>@generalInfo.ICDName</b></p>
                                    @* <p>Mã vào viện: <b>@generalInfo.EncounterCode</b></p> *@
                                    <p>Phòng: <b>@generalInfo.RoomName</b></p>
                                    <p>Bác sĩ: <b>@generalInfo.DoctorName</b></p>
                                </div>
                            </div>
                        </div>
                        <!----->
                        <div class="row" style='margin-right: 0;    text-align: right;display: inherit;'>
                            <button type="button" onclick="window.history.go(-1); return false;"
                                class="col-md-1 btn btn-default btn-back text-right">Quay lại</button>
                        </div>
                        <!-- TABLE TAB -->
                        <div class="row">
                            <div class="col-md-12">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="CĐHA" data-toggle="tab" href="#nav-tb03"
                                            role="tab" aria-controls="nav-contact" aria-selected="false">CĐHA</a>
                                        <a class="nav-item nav-link" id="xetnghiem" data-toggle="tab" href="#nav-tb04"
                                            role="tab" aria-controls="nav-contact" aria-selected="false">Xét nghiệm</a>
                                        <a class="nav-item nav-link" id="toathuoc" data-toggle="tab" href="#nav-tb05"
                                            role="tab" aria-controls="nav-contact" aria-selected="false">Toa thuốc</a>
                                    </div>
                                </nav>
                                <!-- TAB CONTENT -->
                                <div class="tab-content" id="nav-tabContent">
                                    <!-- CĐHA -->
                                    <div class="tab-pane fade show active" id="nav-tb03" role="tabpanel"
                                        aria-labelledby="CĐHA">
                                        <table class="table table-striped responsive-table" cellspacing="0"
                                            style="width: 100%">
                                            <colgroup>
                                                <col span="1" style="width: 2%;">
                                                <col span="1" style="width: 5%;">
                                                <col span="1" style="width: 18%;">
                                                <col span="1" style="width: 75%;">
                                            </colgroup>

                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="min-width:200px">@T("his.TypeName")</th>
                                                    @* <th>Ngày tạo</th> *@
                                                    <th style="min-width:100px">@T("his.Name")</th>
                                                    <th style="min-width:200px">@T("his.Description")</th>
                                                    @* <th>@T("his.Conclusion")</th> *@
                                                    @* <th>@T("his.Indication")</th> *@
                                                    <th>Hình ảnh</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.IDS.GroupBy(x => x.TypeID).Select(x => x.FirstOrDefault()))
                                                {
                                                    <tr>
                                                        <td>@item.TypeID</td>
                                                        <td style="min-width:50px">@item.TypeName</td>
                                                        @* <td>@item.CreateDate</td> *@
                                                        <td style="min-width:50px">@item.Name</td>
                                                        <td style="text-align: left; min-width: 200px;">
                                                            @Html.Raw(item.Description)
                                                            @if (!String.IsNullOrEmpty(item.Conclusion))
                                                            {
                                                                <b style="color: red;">Kết luận:</b> @Html.Raw(item.Conclusion)
                                                            }
                                                            @if (!String.IsNullOrEmpty(item.Indication))
                                                            {
                                                                <b style="color: red;">Đề Nghị:</b> @Html.Raw(item.Indication)
                                                            }
                                                        </td>
                                                        @* <td style="text-align: left;">@Html.Raw(item.Conclusion)</td> *@
                                                        @* <td>@item.Indication</td> *@
                                                        <td  style="text-align: left; min-width: 200px;">
                                                            @if (item.ImageBinary != null)
                                                            {
                                                                var imageBase64 = Convert.ToBase64String(item.ImageBinary);
                                                                var src = string.Format("data:image/gif;base64,{0}", imageBase64);
                                                                <img class='img-responsive' src="@src" width="100%" height="auto" />
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.CĐHA -->
                                    <!-- XÉT NGHIỆM -->
                                    <div class="tab-pane fade" id="nav-tb04" role="tabpanel"
                                        aria-labelledby="xetnghiem">
                                        <table class="table table-striped responsive-table responsive-on-desktop"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th style="min-width:100px">@T("his.GettingSampleDate")</th>
                                                    <th style="min-width:100px">@T("his.ReturnDate")</th>
                                                    @* <th style="min-width:100px">@T("his.TypeOrderNumber")</th> *@
                                                    <th style="min-width:100px">@T("his.TypeName")</th>
                                                    @* <th style="min-width:100px">@T("his.SymptonOrderNumber")</th> *@
                                                    @* <th style="min-width:100px">@T("his.SymptonID")</th> *@
                                                    <th style="min-width:100px">@T("his.SymptonName")</th>
                                                    @* <th style="min-width:100px">@T("his.ResultOrderNumber")</th> *@
                                                    @* <th style="min-width:100px">@T("his.ResultID")</th> *@
                                                    <th style="min-width:100px">@T("his.ResultName")</th>
                                                    <th style="min-width:100px">@T("his.Result")</th>
                                                    <th style="min-width:100px">@T("his.Unit")</th>
                                                    <th style="min-width:100px">@T("his.UsualIndex")</th>
                                                    @* <th>@T("his.Note")</th> *@
                                                    @* <th>@T("his.Base64String")</th> *@
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.TestResults)
                                                {
                                                    <tr>
                                                        <td style="min-width:100px">@item.GettingSampleDate</td>
                                                        <td style="min-width:100px">@item.ReturnDate</td>
                                                        @* <td style="min-width:100px">@item.TypeOrderNumber</td> *@
                                                        <td style="min-width:100px">@item.TypeName</td>
                                                        @* <td style="min-width:100px">@item.SymptonOrderNumber</td> *@
                                                        @* <td style="min-width:100px">@item.SymptonID</td> *@
                                                        <td style="min-width:100px">@item.SymptonName</td>
                                                        @* <td style="min-width:100px">@item.ResultOrderNumber</td> *@
                                                        @* <td style="min-width:100px">@item.ResultID</td> *@
                                                        <td style="min-width:100px">@item.ResultName</td>
                                                        <td style="min-width:100px">@item.Result</td>
                                                        <td style="min-width:100px">@item.Unit</td>
                                                        <td style="min-width:100px">@item.UsualIndex</td>
                                                        @* <td>@item.Note</td> *@
                                                        @* <td>@item.Base64String</td> *@
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /. XÉT NGHIỆM -->
                                    <!-- TOA THUỐC -->
                                    <div class="tab-pane fade" id="nav-tb05" role="tabpanel" aria-labelledby="toathuoc">
                                        <table class="table table-striped responsive-table" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th style="min-width:200px">Tên thuốc</th>
                                                    <th style="min-width:100px">Số lượng</th>
                                                    <th style="min-width:100px">Loại</th>
                                                    @* <th>Liều lượng</th> *@
                                                    <th>Ngày tạo</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    var index = 1;
                                                    foreach (var item in Model.Prescription)
                                                    {
                                                        <tr>
                                                            <td>@index</td>
                                                            <td style="min-width:200px">
                                                                @item.Name
                                                                <br />
                                                                <span>@item.DosageText</span>
                                                            </td>
                                                            <td style="min-width:100px">@item.Quantity</td>
                                                            <td style="min-width:100px">@item.Type</td>
                                                            @* <td style="min-width:100px">
                                                                @item.Dosage
                                                                </td> *@
                                                            <td style="min-width:100px">@item.CreateDate</td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--/. TOA THUỐC -->
                                </div>
                            </div>
                        </div>
                        <!-- TABLE TAB -->
                    </div>
                </section>
            </div>
        </div>
    </div>
    </div>
</main>

<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link', window.location.origin + "/" + link)
        window.location.href = window.location.origin + "/" + link
    }
    function search() {
        const id = $('#patientId').val()
        const date = $('input[name="date"]:checked').val()
        const start = $('#start').val()
        const end = $('#end').val()
        window.conto = $('input[name="date"]:checked')
        followLink(`ho-so-benh-nhan?patientId=${id}&day=${date}&start=${start}&end=${end}`)
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#start').val('@start')
        $('#end').val('@end')
        const date = parseInt('@date')
        console.log('conto', date, '@date')
        if (date) {
            document.querySelector(`input[name=date][value='${date}']`).checked = true;
        }

        // Your code to run since DOM is loaded and ready
    });
</script>
<script>
    console.log('Model: @s')
</script>