﻿@model List<Country>
@using Nop.Core;
@using Nop.Core.Domain.Directory;
@{
    Layout = "_ColumnsOne";
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
    var days = new
    List<string> { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17",
"18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31" };
    var months = new List<string> { "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" };
}
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    form {
        padding: 20px !important;
        width: 100% !important;
        margin: 10px !important;
    }

    select {
        width: 100% !important;
    }

    .chuatungkham {
        margin-top: 20px;
    }

    .nice-select {
        width: 100% !important;
    }

    .form-check-label {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    .custom-select{
        font-size:12px;
    }
    .form-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>
<div class="patient-info">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <section class="patient-search">
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane fade chuatungkham active show" role="tabpanel" aria-labelledby="btn-chuatungkham">
                    <div class="tab-panel-group group-items-register" id="CreateNew">
                        <div>
                            <h2 class="title-form">@T("common.inputpatient")</h2>
                            <p class="txt-required">(*)@T("common.inputrequire")</p>
                        </div>
                        <form asp-controller="Booking" asp-action="Patients" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group text-left">
                                        <div class="row">
                                            <div class="col-8">
                                                <label>
                                                    @T("common.surname")
                                                    <i>(@T("common.accent"))</i>
                                                    <sup>*</sup>
                                                </label>
                                                <input required name="Surname" tabindex="1" type="text"
                                                    class="form-control capital" placeholder="@T("common.surname")"
                                                    value="" />
                                            </div>
                                            <div class="col-4" style="padding-left: 0px;">
                                                <label>
                                                    @T("common.name")
                                                    <i>(@T("common.accent"))</i>
                                                    <sup>*</sup>
                                                </label>
                                                <input required tabindex="2" type="text" name="Name"
                                                    class="form-control capital" placeholder=" @T("common.name")"
                                                    value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-left">
                                        <label>
                                            @T("common.phone")
                                            <sup>*</sup>
                                        </label>
                                        <input required name="Mobile" tabindex="4" placeholder=" @T("common.phone")"
                                            type="text" class="form-control" name="Tel" value="" />
                                    </div>
                                    <div class="form-group text-left">
                                        <label>
                                            @T("common.birthday")
                                            <sup>*</sup>
                                        </label>
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4 col-4 pd-right-0">
                                                <select required name="Day" class="patient-select custom-select mb-sm-0 select-day" tabindex="5"
                                                    id="inlineFormCustomSelect">
                                                    <option value="0">@T("common.day")</option>
                                                    @foreach (var item in days)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-4 col-4">
                                                <select required name="Month" class="custom-select mb-sm-0 select-month" tabindex="6"
                                                    id="inlineFormCustomSelect">
                                                    <option value="-1">@T("common.month")</option>
                                                    @foreach (var item in months)
                                                    {
                                                        <option value="@item">@item</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-4 pd-left-0">
                                                <select required name="Birthyear" tabindex="7"
                                                    class="custom-select mb-sm-0 select-year"
                                                    id="inlineFormCustomSelect">
                                                    <option value="-1">@T("common.year")</option>
                                                    @for (var i = 1980; i < 2020; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                    @for (var i = 1979; i > 1900; i--)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group text-left"  style="min-height: 70px;">
                                        <label class="d-block">
                                            @T("common.sex")
                                            <sup>*</sup>
                                        </label>
                                        <div class="form-check form-check-inline mb-0" role="radio" tabindex="8">
                                            <label class="form-check-label" for="inlineRadioOptions">
                                                <input name="Sex" class="form-check-input height-11" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadioOptions"
                                                    value="0" />@T("common.male")
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline mb-0" aria-checked="false" role="radio"
                                            tabindex="9">
                                            <label class="form-check-label" for="inlineRadioOptions2">
                                                <input name="Sex" class="form-check-input height-11" type="radio"
                                                    name="inlineRadioOptions" id="inlineRadioOptions2" value="1" />Nữ
                                            </label>
                                        </div>
                                        <div></div>
                                    </div>
                                    <div class="form-group text-left">
                                        <label>Số CMND/Passport</label>
                                        <input required name="Passport" placeholder="Vui lòng nhập Số CMND/Passport"
                                            tabindex="11" type="text" class="form-control" name="cmnd" value="" />
                                    </div>
                                    <div class="form-group text-left">
                                        <label>
                                            Địa chỉ email
                                            <i> (dùng để nhận phiếu khám bệnh)</i>
                                        </label>
                                        <br />
                                        <input name="Email" placeholder="Vui lòng nhập địa chỉ email" tabindex="12"
                                            type="text" class="form-control" name="email" value="" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group text-left">
                                        <label>
                                            Chọn quốc gia
                                            <sup>*</sup>
                                        </label>
                                        <select required name="CountryCode" onchange="getDirectory('city',this.value)"
                                            tabindex="14" class="custom-select  mb-sm-0" id="inlineFormCustomSelect">
                                            <option value="0" selected>--Chọn--</option>
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.TwoLetterIsoCode">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group text-left mar-17">
                                        <label>
                                            Chọn tỉnh thành
                                            <sup>*</sup>
                                        </label>
                                        <select required name="CityId" onchange="getDirectory('district',this.value)"
                                            tabindex="16" class="city custom-select  mb-sm-0"
                                            id="inlineFormCustomSelect">
                                            <option value="0">--Chọn--</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-left">
                                        <label>
                                            Chọn quận huyện
                                            <sup>*</sup>
                                        </label>
                                        <select required name="DistrictId" onchange="getDirectory('ward',this.value)"
                                            tabindex="17" class=" district custom-select  mb-sm-0"
                                            id="inlineFormCustomSelect">
                                            <option value="0">--Chọn--</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-left mar-17" style="min-height: 70px;">
                                        <label>
                                            Chọn phường xã
                                            <sup>*</sup>
                                        </label>
                                        <select required name="WardId" tabindex="18" class="ward custom-select  mb-sm-0"
                                            id="inlineFormCustomSelect">
                                            <option value="0">--Chọn--</option>
                                        </select>
                                    </div>
                                    <div class="form-group text-left mar-17">
                                        <label>
                                            Địa chỉ
                                            <sup>*</sup>
                                        </label>
                                        <input required name="Address" tabindex="19"
                                            placeholder="Vui lòng nhập số nhà, đường, thôn(ấp), xóm" type="text"
                                            class="form-control capital" value="" />
                                    </div>
                                    <div class="form-group text-left mar-17">
                                        <label>
                                            Bảo hiểm y tế
                                        </label>
                                        <input name="Insurance" tabindex="20"
                                            placeholder="Vui lòng nhập bảo hiểm y tế (nếu có)" type="text"
                                            class="form-control capital" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row form-footer">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-blue">Xác nhận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function getDirectory(type, value) {
        switch (type) {
            case 'city':
                $(`.${type}`).children().remove()
                $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
                httpGetAsync(`/booking/GetCities?country_code=${value}`, (data = []) => {
                    if (typeof data !== 'object'){
                        data = JSON.parse(data)
                    }
                    data.forEach(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
                })
                break
            case 'district':
                $(`.${type}`).children().remove()
                $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
                httpGetAsync(`/booking/GetDistricts?city_id=${value}`, (data = []) => {
                    if (typeof data !== 'object'){
                        data = JSON.parse(data)
                    }
                    data.forEach(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
                })
                break
            case 'ward':
                $(`.${type}`).children().remove()
                $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
                httpGetAsync(`/booking/GetWards?district_id=${value}`, (data = []) => {
                    if (typeof data !== 'object'){
                        data = JSON.parse(data)
                    }
                    data.forEach(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
                })
                break
            default:
                break
        }
    }
</script>