﻿@using Nop.Core.Domain.Customers;
@model Booking
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
     Layout = "_ColumnsOne";
      Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var now = DateTime.Now;
    int bookId = int.Parse(Context.Request.Query["bookId"]);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }

}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    #section-booking-45{
        margin-top: 10px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>

<div id="section-booking-45">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1">
                <div class="booking-left-menu">
                    <div id="section-find-doctor-2">
                        <div class="find-doctor-left-1 shadow-2">
                            <h4 class="title1"style="background: #058ae0;">@storeName</h4>
                            <ul>
                                 <li class="circle"><i class="fa fa-hospital uppercase text-center"></i>@storeName</li>
                                @* <li class="circle"><i class="fa fa-file-medical"></i>@Model.SubjectName</li>
                                <li class="circle"><i class="fa fa-calendar-check"></i>@T("common.day") khám:
                                    <span>@Model.ExaminationDate</span></li> *@
                            </ul>
                        </div>
                    </div>
                    <div class="booking-left-menu-hotline text-center shadow-2">
                        @* <div class="blmh-name">@T("common.phoneonline")</div><a href="tel:@storePhoneNumber"
                            class="d-block">@storePhoneNumber</a>
                        <hr> *@
                        <div class="blmh-name">@T("common.phonesupport")</div><a href="tel:@homepageSettings.PhoneSuport" class="d-block">@storePhoneNumber</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-1 order-md-2">
                <div class="user-navigate mb-2 mt-0"> @T("common.checkoutbank")</div>
                <div class="booking-right-payment">
                    <div class="row">
                        @if(Model.Successful){
                            <div class="col-lg-12">
                            <h2>@T("common.exam.success")</h2>
                            <p>@T("doctor.examdatefailplz") <b><a href="#">
                                        <font color="blue">@homepageSettings.BankAccountPhone</font>
                                    </a></b> @T("common.phonesupport") <b>@storePhoneNumber</b> @T("setting.tosentmoney")</p>
                            <p>@T("common.checkoutcode"): <b>@Model.TransactionCodeTT</b></p>
                        </div>
                        }else{
                            <div class="col-lg-12">
                            <h2>@T("common.examfail")</h2>
                            <p> Mã lỗi: @Model.ErrorCode </p>
                            <p>@T("doctor.examdatefailplz") <b><a href="#">
                                        <font color="blue">@homepageSettings.BankAccountPhone</font>
                                    </a></b> @T("common.phonesupport") <b>@storePhoneNumber</b> @T("setting.tosupport")</p>
                        </div>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
setTimeout(()=>{
    $('button#cancel').on('click', function(e){
        e.preventDefault();
        window.history.back();
    });
    $('.phone').text(function(i, text) {
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
    });
    $('.birthday').text(function(i, text) {
        var year = text.substring(0,4)
        var month = text.substring(4,6)
        var day = text.substring(6,8)
    return `${day}/${month}/${year}`
    })
},1000)
</script>