﻿@model PatientModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
     Layout = "_ColumnsOne";
      Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var now = DateTime.Now;
    var weeks = Model.Calendars.Select(x=>x.Week).Distinct();
    var nextWeeks = Model.CalendarNextMonths.Select(x=>x.Week).Distinct();
    var nextLink = "/booking/doctor?patientId=" + Model.Id;
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    body{
        font-family: Muli, sans-serif;
    }
    #section-booking-3{
        margin-top: 10px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
    tbody td{
        border: 1px solid #dee2e6;
    }
</style>

<div id="section-booking-3">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-3 order-2 order-md-1">
                <div class="booking-left-menu">
                    <div class="booking-left-menu-top shadow-2">
                        <div class="blmt-name">
                            <div class="nav-title-name uppercase">@Model.Name</div>
                        </div>
                        <div class="blmt-info">@T("common.address"): @Model.Address</div>
                        <div class="blmt-info">@T("common.phone"): @Model.Mobile</div>
                    </div>
                    <div id="section-find-doctor-2">
                        <div class="find-doctor-left-1 shadow-2">
                            <h4 class="title1">@T("doctor.exam")</h4>
                            <ul>
                                <li class="circle"><i class="far fa-hospital"></i>@storeName</li>
                            </ul>
                        </div>
                    </div>
                    <div class="booking-left-menu-hotline text-center shadow-2">
                        @* <div class="blmh-name">@T("common.phoneonline")</div><a href="tel:@homepageSettings.PhoneOnline"
                            class="d-block">@homepageSettings.PhoneOnline</a>
                        <hr> *@
                        <div class="blmh-name">@T("common.phonesupport")</div><a href="tel:@homepageSettings.PhoneSuport" class="d-block">@homepageSettings.PhoneSuport</a>
                    </div>
                     <div class="booking-left-menu-hotline text-center shadow-2">
                        <div class="blmh-name">@T("doctor.examdate")</div>
                        <a href="#" class="d-block date-overview"></a>
                        <hr>
                    </div>
                     <div class="booking-left-menu-hotline text-center shadow-2">
                        <div class="blmh-name">@T("doctor.facultied")</div>
                        <a href="#" class="d-block subject-overview"></a>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-9 order-1 order-md-2">
                <div class="booking-right-navigation">
                    <ul>
                        <li><a class="active" href="#">@T("doctor.datenfaculty") &nbsp;<i class="fa fa-angle-right"></i></a></li>
                        <li><a class="">@T("doctor.roomndate") &nbsp;<i class="fa fa-angle-right"></i></a></li>
                        <li><a class="">@T("doctor.patientinfo") &nbsp;<i class="fa fa-angle-right"></i></a></li>
                        <li><a class="">@T("common.checkout")</a></li>
                    </ul>
                </div>
                <div class="user-navigate mb-2"> @T("doctor.examdateplz")</div>
                <div class="booking-right-calendar">
                    <div>
                        <div class="calendar-current-month">
                            <div class="brc-top d-flex align-items-center text-center" data-count="0">
                                <h2 class="mounth-title">@T("common.month") @now.ToString("MM-yyyy")</h2>
                                <button id="current-month" type="button" class="arrow-right"><i
                                        class="fa fa-arrow-circle-right"></i></button>
                            </div>
                            <div class="table-responsive">
                                <table class="calTable table" id="tableCalendar">
                                    <tbody>
                                        <tr>
                                            <th class="cn">@T("common.sun")</th>
                                            <th>@T("common.mon")</th>
                                            <th>@T("common.tue")</th>
                                            <th>@T("common.wed")</th>
                                            <th>@T("common.thurs")</th>
                                            <th>@T("common.fri")</th>
                                            <th class="t7">@T("common.sat")</th>
                                        </tr>
																				@if(weeks.Any()){
                                        for (int i = weeks.Min(); i <= weeks.Max(); i++)
                                        {
                                            if(weeks.Max() == 52){
                                                 <tr class="btn-booking-tr">
                                                @foreach (var item in Model.Calendars.Where(x=>x.Week == i))
                                                {
                                                    var availabe = item.Schedules.Any()?"round-button":"btn-booking-calendar-disable";
                                                    <td class='week-@i' data-day="@item.Day" data-month="@item.Month" data-year="@item.Year">
                                                        <button type="button" class='@availabe btn btn-secondary '><span>@item.Day</span></button>
                                                    </td>
                                                }
                                            </tr>
                                            }else{
                                                if(i == weeks.Max()){
                                                    continue;
                                                }
                                                <tr class="btn-booking-tr">
                                                    @foreach (var item in Model.Calendars.Where(x=>x.Week == i))
                                                    {
                                                        var availabe = item.Schedules.Any()?"round-button":"btn-booking-calendar-disable";
                                                        <td class='week-@i' data-day="@item.Day" data-month="@item.Month" data-year="@item.Year">
                                                            <button type="button" class='@availabe btn btn-secondary '><span>@item.Day</span></button>
                                                        </td>
                                                    }
                                                </tr>
                                            }
                                        }
																				}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class= "calendar-next-month" style="display: none;">
                        <div class="brc-top d-flex align-items-center text-center" data-count="0">
                            <button id="next-month" type="button" class="arrow-left">
                                <i class="fa fa-arrow-circle-left"></i></button>
                            <h2 class="mounth-title">@T("common.month") @now.AddMonths(1).ToString("MM-yyyy")</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="calTable table" id="tableCalendar">
                                <tbody>
                                    <tr>
                                        <th class="cn">@T("common.sun")</th>
                                        <th>@T("common.mon")</th>
                                        <th>@T("common.tue")</th>
                                        <th>@T("common.wed")</th>
                                        <th>@T("common.thurs")</th>
                                        <th>@T("common.fri")</th>
                                        <th class="t7">@T("common.sat")</th>
                                    </tr>
																		@if(nextWeeks.Any()){
                                    for (int i = nextWeeks.Min(); i < nextWeeks.Max(); i++)
                                    {
                                        if(i==1 && nextWeeks.FirstOrDefault() == 52){
                                            <tr class="btn-booking-tr">
                                            @foreach (var item in Model.CalendarNextMonths.Where(x=>x.Week == 52))
                                            {
                                                if(item.Month!=1){
                                                    <td class='week-@i' data-day="@item.Day" data-month="@item.Month" data-year="@item.Year">
                                                    <button type="button" class='btn-booking-calendar-disable btn btn-secondary '></button>
                                                    </td>
                                                    continue;
                                                }
                                                var availabe = item.Schedules.Any()?"round-button":"btn-booking-calendar-disable";
                                                <td class='week-@i' data-day="@item.Day" data-month="@item.Month" data-year="@item.Year">
                                                    <button type="button" class='@availabe btn btn-secondary '><span>@item.Day</span></button>
                                                </td>
                                            }
                                            </tr>
                                        }
                                        <tr class="btn-booking-tr">
                                            @foreach (var item in Model.CalendarNextMonths.Where(x=>x.Week == i))
                                            {
                                                var availabe = item.Schedules.Any()?"round-button":"btn-booking-calendar-disable";
                                                <td class='week-@i' data-day="@item.Day" data-month="@item.Month" data-year="@item.Year">
                                                    <button type="button" class='@availabe btn btn-secondary '><span>@item.Day</span></button>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                        <div id="subject-panel" class="brc-scroll-group">
                            <div class="search-carlendar" style="display: none;">
                                <div class="row d-flex">
                                    <div class="col-md-3 text-title-search"><span class="align-middle">  <th class="cn">@T("common.search")</th>
                                            <th>@T("common.mon")</th>
                                            <th>@T("common.tue")</th>
                                            <th>@T("common.wed")</th>
                                            <th>@T("common.thurs")</th>
                                            <th>@T("common.fri")</th>
                                            <th class="t7">@T("common.sat")</th></span></div>
                                    <div class="col-md-7 search-line"><input type="search" class="form-control"
                                            placeholder="@T("common.search")" value=""></div>
                                    <div class="col-md-2 button-close"><button type="button" class="btn btn-secondary" 
                                            style="height: 100%;"><i class="fa fa-times">@T("common.close")</i></button></div>
                                </div>
                            </div>
                            <div class="brc-scroll-auto" id="subject-list">
                            </div>
                        </div>
                        <div class="brc-btn row align-items-center text-center show" id="subject-confirm">
                            <div class="col-md-6 ml-auto" id="AcceptDate">
                                <div class="row">
                                    <div class="col-lg-6  ml-auto"><div class="btn btn--rounded-blue btn--sm"
                                            onClick="next('@nextLink')">@T("common.continue")</div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide-line">
                    <div>@T("common.select"): <b>@T("doctor.examdate")</b> &gt; <b>@T("common.faculty")</b> &gt; <b>@T("common.continue")</b>.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    console.log("@Model.CalendarNextMonths")
    const next = (link)=>{
        let gotoLink = `${link}&subjectId=${window.subjectId}&day=${window.day}&month=${window.month}&year=${window.year}`
        console.log(gotoLink)
        window.location.href = gotoLink
    }
    setTimeout(()=>{
        $('#current-month').click(()=>{
            $(".calendar-current-month").css('display','none')
            $(".calendar-next-month").css('display','block')
        })
        $('#next-month').click(()=>{
            $(".calendar-current-month").css('display','block')
            $(".calendar-next-month").css('display','none')
        })

        $('.calTable').bind('click',(e)=>{
            $('#subject-list').html()
            let element
             switch($(e.target)[0].tagName){
                case "TD":
                    element = $(e.target)
                    break
                default:
                    element = $(e.target).closest('td')
                    break
            }
            window.day =  $(element).data("day")
            window.month =  $(element).data("month")
            window.year =  $(element).data("year")

            $('.date-overview').html(`${window.day} - ${window.month} - ${window.year}`)
            
            if ($('#subject-panel').hasClass('show')){
                $('#subject-panel').removeClass('show')
            }else{
                
                $('#subject-panel').addClass('show')
            }
            $.getJSON(`/booking/GetSubjectsByDay?day=${window.day}&month=${window.month}&year=${window.year}`).then(subjects=>{
                $('#subject-list').empty()
                if(!subjects || !subjects.length){
                    return
                }
                for(let item of subjects){
                    $('#subject-list').append(
                        `<ul class="table-ul-cont" id="subject-${item.id}" data-id="${item.id}" data-name="${item.name}">
                                    <li class="subject-${item.id}">${item.name}</li>
                                    <li><a style="margin-top: -10px;">Chọn</a></li>
                                </ul>`
                    )
                }
            }).catch(err=>{
                console.error(err)
            })
        })
        $('.button-close').click(()=>{
            $('#subject-panel').removeClass('show')
        })
        $(document).on('click', '.table-ul-cont' , (e)=>{
            $('.table-ul-cont').removeClass('active')
            $('.table-ul-cont').find('a').html("Chọn")
            let element
            switch($(e.target)[0].tagName){
                case "UL":
                    element = $(e.target)
                    break
                default:
                    element = $(e.target).closest('ul')[0]
                    break
            }
            console.log($(e.target)[0].tagName,element)
            $(element).addClass('active')
            $(element).find('a').html("Đã chọn")
            window.subjectId =  $(element).data("id")
            $('.subject-overview').html($(element).data("name"))
        })
    },1000)
    
</script>
<script>
	const error = '@ViewBag.Error'
	const url = '@ViewBag.ErrorUrl'
	let errorMessage = "Thiếu thông tin địa chỉ thành phố/tỉnh, quận/huyện hoặc phường/xã. Vui lòng cập nhật thông tin trên trang Tài khoản của tôi và thử lại."
	if(error && url){
		switch(error){
			case 'MISSING_CITY':
			errorMessage = "Thiếu thông tin địa chỉ thành phố/tỉnh. Vui lòng cập nhật thông tin trên trang Tài khoản của tôi và thử lại."
			break
			case 'MISSING_DISTRICT':
			errorMessage = "Thiếu thông tin địa chỉ quận/huyện. Vui lòng cập nhật thông tin trên trang Tài khoản của tôi và thử lại."
			break
			case 'MISSING_WARD':
			errorMessage = "Thiếu thông tin địa chỉ phường/xã. Vui lòng cập xãật thông tin trên trang Tài khoản của tôi và thử lại."
			break
		}
		alert(errorMessage)
		window.location.href = url
	}
</script>