﻿@model List<ScheduleModel>
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    var start = @ViewContext.HttpContext.Request.Query["start"].Any();
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}

<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    .pagination-a {
        float: right;
    }

    .pagination-a ul {
        display: inline-block;
    }

    .total-summary {
        display: none;
    }

    .pagination-a ul li {
        float: left;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border: 1px solid #888;
        margin-left: 5px;
        border-radius: 4px;
        text-align: center;
    }

    .bmi-content {
        text-align: justify;
    }

    .bmi-img {
        height: auto;
        width: 100%;
    }

    .text-center {
        text-align: center;
    }

    .input-group {
        width: 30%;
        display: inline-block;
    }

    .date-input {
        width: 100% !important;
    }

    .wrap-search {
        margin-top: 5px;
    }

    .searchButton {
        width: 150px;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>
<div class="doctor">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <section class="schedule-search">
        <div class="container">
            <form class="text-center">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="">@T("common.startdate")</span>
                    </div>
                    <input type="date" name="start" data-provide="datepicker" class="form-control date-input"
                        aria-label="Large" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="">@T("common.enddate")</span>
                    </div>
                    <input type="date" name="end" data-provide="datepicker" class="form-control date-input"
                        aria-label="Large" aria-describedby="inputGroup-sizing-sm" />
                </div>
                <div class="wrap-search">
                    <div class="search">
                        <button type="submit" class="btn btn-blue">
                            <img src="/icons/search.svg" alt='icon-dat-kham'/>
                            @T("common.search")
                        </button>
                    </div>
                </div>
            </form>

            <div class="container">
                @if (!Model.Any() && start)
                {
                    <div class="row doctor-item">
                        <div class="col-md-3">
                            <div class="doctor-img">
                                <img class="img-fluid" src="/images/doctors/doctor04.png" alt="thong-tin-bac-si">
                                <a class="btn-gradient" href="/dat-kham">@T("doctor.booking")</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4>@T("schedule.notfound")</h4>
                        </div>
                    </div>
                }

                <div class="doctor-content">
                    <div class="doctor-area">

                        <div class="doctor-list">
                            @foreach (var item in Model)
                            {
                                var imageUrl = T("setting.homepage.doctor.image.value").ToString();
                                <div class="doctor-item bg-light">
                                    <img class="img-fluid" src="@imageUrl" alt="thong-tin-bac-si"/>
                                    <div class="info">
                                        <label class=>@T("doctor.specialize")</label>
                                        <p class='doctor-title'><span class="text-blue">@T("doctor.title")</span>:
                                            @item.Doctor?.Fullname</p>
                                        <p class='doctor-specialize'><span class="text-blue">@T("doctor.specialize")</span>:
                                            @item.Room?.Name</p>
                                        <p><span class="text-blue">@T("doctor.experience"):</span> @item.StartTime</p>
                                        <div>
                                            <a href="/dat-kham" class="btn-green">@T("doctor.booking")</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doctor-content">
        <div class="container">

        </div>
    </section>
</div>
