﻿
@model List<HIS.Model.TestResultModel>
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    var patientId = @ViewContext.HttpContext.Request.Query["patientId"].ToString();
    var start = @ViewContext.HttpContext.Request.Query["start"].Any();
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
}
<style>
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
    .pagination-a{float:right;}
    .pagination-a ul{display:inline-block;}
    .total-summary{display:none;}
    .pagination-a ul li{
        float: left;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border: 1px solid #888;
        margin-left: 5px;
        border-radius: 4px;
        text-align: center;
    }
    .bmi-content{
        text-align: justify;
    }
    .bmi-img{
        height: auto;
        width: 100%;
    }
    #code{
        width:30%;
        display: inline;
    }
    form{
        text-align: center;
    }
    .code-label{
        display: block;
    }
    body{
        background: #fffff;
    }
    .list-group-item{
        text-transform: capitalize;
    }
    .text-center{
        text-align: center;
    }
    .control-panel{
        margin-top: 10px;
    }
    .input-group{
        width: 30%;
        display: inline-block;
    }
    .date-input{
        width: 100%!important;
    }
    .wrap-search{
        margin-top:5px;
    }
    .searchButton{
        width: 150px;
    }
    table{
        border: 1px;
        border-bottom-style: dotted;
    }
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
</style>
<div class="doctor">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="sub-breadcrumb">
        <div class="container">
            <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ KHÁM BỆNH</span>
        </div>
    </div>
    <section class="doctor-content">
        @if(Model.Any()){
        <div class="container">

            <table class="table  table-striped">
            <thead class="thead-light">
                <tr>
                <th>@T("his.GettingSampleDate")</th>
                <th>@T("his.ReturnDate")</th>
                <th>@T("his.TypeOrderNumber")</th>
                <th>@T("his.TypeName")</th>
                <th>@T("his.SymptonOrderNumber")</th>
                <th>@T("his.SymptonID")</th>
                <th>@T("his.SymptonName")</th>
                <th>@T("his.ResultOrderNumber")</th>
                <th>@T("his.ResultID")</th>
                <th>@T("his.ResultName")</th>
                <th>@T("his.Result")</th>
                <th>@T("his.Unit")</th>
                <th>@T("his.UsualIndex")</th>
                <th>@T("his.Note")</th>
                <th>@T("his.Base64String")</th>
                </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GettingSampleDate</td>
                        <td>@item.ReturnDate</td>
                        <td>@item.TypeOrderNumber</td>
                        <td>@item.TypeName</td>
                        <td>@item.SymptonOrderNumber</td>
                        <td>@item.SymptonID</td>
                        <td>@item.SymptonName</td>
                        <td>@item.ResultOrderNumber</td>
                        <td>@item.ResultID</td>
                        <td>@item.ResultName</td>
                        <td>@item.Result</td>
                        <td>@item.Unit</td>
                        <td>@item.UsualIndex</td>
                        <td>@item.Note</td>
                        <td>@item.Base64String</td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
        }else if(start){
            <h4 class="text-center">@T("common.lackinfo")</h4>
        }
       
        <div class="container">
            <div class="text-right">
                <button onclick="window.history.back()" class="btn btn-default">@T("common.back")</button>
            </div>
        </div>
    </section>
</div>

