﻿@using Nop.Core.Domain.Catalog
@using Nop.Services
@model AddressAttributeModel

<div class="panel-group">
    <div class="panel-body">
        @(Html.LocalizedEditor<AddressAttributeModel, AddressAttributeLocalizedModel>("addressattribute-localized",
              @<div>
                  <div class="form-group">
                      <div class="col-md-3">
                          <nop-label asp-for="@Model.Locales[item].Name" />
                      </div>
                      <div class="col-md-9">
                          <nop-editor asp-for="@Model.Locales[item].Name" />
                          <span asp-validation-for="@Model.Locales[item].Name"></span>
                      </div>
                  </div>
                   <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
              </div>
                ,
              @<div>
                  <div class="form-group">
                      <div class="col-md-3">
                          <nop-label asp-for="Name" />
                      </div>
                      <div class="col-md-9">
                          <nop-editor asp-for="Name" asp-required="true" />
                          <span asp-validation-for="Name"></span>
                      </div>
                  </div>
              </div>
              ))

        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="IsRequired" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsRequired" />
                <span asp-validation-for="IsRequired"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AttributeControlTypeId" />
            </div>
            <div class="col-md-9">
                @{
                    IEnumerable<SelectListItem> attributeControlTypes = ((AttributeControlType)Model.AttributeControlTypeId)
                        .ToSelectList(valuesToExclude:
                            //these attributes don't support some control types
                            new[] { (int)AttributeControlType.FileUpload, (int)AttributeControlType.Datepicker, (int)AttributeControlType.ColorSquares, (int)AttributeControlType.ImageSquares });
                }
                <nop-select asp-for="AttributeControlTypeId" asp-items="@attributeControlTypes"/>
                <span asp-validation-for="AttributeControlTypeId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="label-wrapper"><label class="control-label" for="DisplayOrder">Thứ tự hiển thị</label><div title="Thứ tự hiển thị bài viết"." data-toggle="tooltip" class="ico-help"><i class="fa fa-question-circle"></i></div></div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>

</div>