﻿@model BestsellerSearchModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Reports.Sales.Bestsellers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Bestsellers");
}

@{
    const string hideSearchBlockAttributeName = "BestsellersPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Reports.Sales.Bestsellers")
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")"
                        data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="StartDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="StartDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="EndDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="EndDate" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ?
                                    Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="StoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="StoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'")
                                    : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="OrderStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="OrderStatusId" asp-items="Model.AvailableOrderStatuses" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="PaymentStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="PaymentStatusId"
                                            asp-items="Model.AvailablePaymentStatuses" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper"><label class="control-label" for="CategoryId">Danh
                                                mục</label></div>
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="CategoryId" asp-items="Model.AvailableCategories" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="ManufacturerId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="ManufacturerId" asp-items="Model.AvailableManufacturers" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="BillingCountryId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="BillingCountryId" asp-items="Model.AvailableCountries" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'")
                                    : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="VendorId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-salesreport" class="btn btn-primary btn-search">
                                    <i class="fa fa-line-chart"></i>
                                    @T("Admin.Reports.Sales.Bestsellers.RunReport")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                    Name = "salesreport-grid",
                    UrlRead = new DataUrl("BestsellersList", "Report", null),
                    SearchButtonId = "search-salesreport",
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                    Filters = new List<FilterParameter>
                    {
                    new FilterParameter(nameof(Model.StartDate), typeof(DateTime?)),
                    new FilterParameter(nameof(Model.EndDate), typeof(DateTime?)),
                    new FilterParameter(nameof(Model.StoreId)),
                    new FilterParameter(nameof(Model.OrderStatusId)),
                    new FilterParameter(nameof(Model.PaymentStatusId)),
                    new FilterParameter(nameof(Model.CategoryId)),
                    new FilterParameter(nameof(Model.ManufacturerId)),
                    new FilterParameter(nameof(Model.BillingCountryId)),
                    new FilterParameter(nameof(Model.VendorId))
                    },
                    ColumnCollection = new List<ColumnProperty>
                    {
                    new ColumnProperty(nameof(BestsellerModel.ProductName))
                    {
                    Title = T("Admin.Reports.Sales.Bestsellers.Fields.Name").Text
                    },
                    new ColumnProperty(nameof(BestsellerModel.TotalQuantity))
                    {
                    Title = T("Admin.Reports.Sales.Bestsellers.Fields.TotalQuantity").Text
                    },
                    new ColumnProperty(nameof(BestsellerModel.TotalAmount))
                    {
                    Title = T("Admin.Reports.Sales.Bestsellers.Fields.TotalAmount").Text
                    },
                    new ColumnProperty(nameof(BestsellerModel.ProductId))
                    {
                    Title = T("Admin.Common.View").Text,
                    Width = "100",
                    ClassName = NopColumnClassDefaults.Button,
                    Render = new RenderButtonView(new DataUrl("~/Admin/Product/Edit/"))
                    }
                    }
                    })
                </div>
            </div>
        </div>
    </div>
</div>