﻿@model Nop.Web.Areas.Admin.Models.Media.SliderModel
@using  Nop.Web.Areas.Admin.Models.Media

@inject Nop.Services.Common.IGenericAttributeService genericAttributeService
@inject IWorkContext workContext

@{
	const string hideInfoBlockAttributeName = "SliderPage.HideInfoBlock";
	var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

	const string hideDisplayBlockAttributeName = "SliderPage.HideDisplayBlock";
	var hideDisplayBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideDisplayBlockAttributeName, defaultValue: true);

	const string hideMappingsBlockAttributeName = "SliderPage.HideMappingsBlock";
	var hideMappingsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMappingsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                </div>
            </div>
        </div>

        <nop-panels id="slider-panels">
            <nop-panel asp-name="slider-info" asp-icon="fa fa-info" asp-title="@T("Admin.Catalog.Sliders.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>
            <nop-panel asp-name="slider-display" asp-icon="fa fa-television" asp-title="@T("Admin.Catalog.Sliders.Display")" asp-hide-block-attribute-name="@hideDisplayBlockAttributeName" asp-hide="@hideDisplayBlock" asp-advanced="false">@await Html.PartialAsync("_CreateOrUpdate.Display", Model)</nop-panel>
                    
        </nop-panels>
    </div>
</div>