﻿@model Nop.Web.Areas.Admin.Models.Media.SliderModel
@using  Nop.Web.Areas.Admin.Models.Media

<div class="panel-body">
    <div>
        <div class="form-group">
            <div class="col-md-3">
            <div class="label-wrapper">
                <label class="control-label" for="Title">Tên gợi nhớ</label>
            </div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Title" asp-required="true" />
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        @* <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="SubTitle" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="SubTitle" asp-template="RichEditor" />
                <span asp-validation-for="SubTitle"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Description" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Description" asp-template="RichEditor" />
                <span asp-validation-for="Description"></span>
            </div>
        </div> *@
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Url" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Url" asp-template="RichEditor" />
                <span asp-validation-for="Url"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
            <div class="label-wrapper">
                <label class="control-label" for="Title">Chỉ hiển thị trên thiết bị di động</label>
            </div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsMobile" />
                <span asp-validation-for="IsMobile"></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-3">
            <div class="label-wrapper">
                <label class="control-label" for="Title">Xuất bản</label>
            </div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsActive" />
                <span asp-validation-for="IsActive"></span>
            </div>
        </div>
        <div class="form-group ">
            <div class="col-md-3">
            <div class="label-wrapper">
                <label class="control-label" for="Title">Thứ tự hiển thị</label>
            </div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
    </div>
    
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="PictureId" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PictureId" />
            <span asp-validation-for="PictureId"></span>
        </div>
    </div>
</div>
