@model Nop.Web.Areas.Admin.Models.Media.SliderModel
@using  Nop.Web.Areas.Admin.Models.Media

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.Sliders.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Slider page setting");
}

<form asp-controller="Slider" asp-action="Create" method="post" id="slider-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Sliders.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.Sliders.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>