
/***** Top content *****/

.mr-80{margin-top: 80px;margin-bottom: 80px;}
.header-sub-bg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background:/*  linear-gradient(to right, rgba(39, 70, 133, 0.8) 0%, rgba(61, 179, 197, 0.8) 100%),  */
    url("../images/header-bg.jpg") center center;
    position: relative;
}
.detail-page .navigation-page{
    background-color: transparent !important; 
}
.navigation-page{
  position: absolute;
    top: 60%;
    left: 8%;
    padding: 6px 8px;
    padding-right: 15px;
    border-radius: 50px;
    font-size: 18px;
    color: #3067a1;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.35);

}
.small-title{

    color: #fff;
    display: block;
    font-size: 30px;
    font-weight: 500;
}
.top-content { width: 100%; padding-top: 100px; }
.title-box{
    text-align: center;
    margin-bottom: 50px;
}
.title-icon{
    width: 50px;
    margin-right: 10px;
    float:  left;
}
.title-box span{font-weight: bold;font-size: 18px;}
.sub-title{text-align: center;padding-top: 20px;
    padding-bottom: 30px;
}
.page-link{
    border: 0;
    height: 35px;
    width: 35px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    color: #333;
}
.page-item.active .page-link{
    background: linear-gradient(to left,#42a8f0,#2d5c93);border-radius: 50%
}

.grey-bg{background: #c2cbd4 !important;}
.title-boxout-box{
    margin:  30px 0;
    position: relative;
}
.about .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 550px;
    object-fit: cover;
    z-index: 9;
    position: relative;
}
.about-doc-info{padding-top:40%;}
.about-doc-info h3{color:#3066a0;font-weight: bold;}
.about-doc-info h4{font-weight: bold;}
.about-intro{
    color: #ffffff !important;
    background: linear-gradient(to left, #42a8f0, #2f639c);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
        z-index: 1;
    position: relative;
}
.about-intro p{
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
}
.about-box .about-intro i::before{
    font-size: 35px;
    font-weight: normal;
}
.about-box::after{
    content: "";
    border: 1px dashed #3372ae;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 0;
}
.about-doc-img img{position: relative;z-index: 9;}
.about-staff{
    margin: 80px 0;
    padding: 35px 15%;
    border: 2px dashed #3372ae;
    border-radius: 20px;
}
.about-box .owl-carousel .owl-stage-outer{position: relative;}
.about .owl-arrow .owl-nav{
    position: absolute;
    top: 93%;
    right: 50%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.about .nav-pills-a.nav-pills .nav-link.active:after{
        background-color: #336faa;
}
.about-images{
    background: #efefef;
    padding-top: 50px;
}
/* VIDEO  */

.video-container{
    margin:0 auto;
}
.js-video{
    height:500px;
    width:100%;
    background:#dedede;
    position:relative;
    margin:10% auto;
}
.play i {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #3b8fd1;
  font-size: 70px;
  background: #fff;
  border-radius: 50%;
  height: 40px;
  width: 51px;
  line-height: 50px;
  z-index:2;
}
.video-poster{
    background: url('../images/news/8.jpg') 100%;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 500px;
 
}
.play i:hover{
    cursor:pointer;
}
.js-video iframe{
    z-index:5;
    position: relative;
        width: 100%;
}
.big-circle{
    height: 350px;
    width: 350px;
    background: #0242be;
    z-index: 1;
    bottom: 0;
    left: -100px;
    position: absolute;
    border-radius: 50%;
    opacity: .4;
}
.small-circle{
    height: 160px;
    width: 160px;
    background: #0242be;
    z-index: 10;
    bottom: -30px;
    left: 50px;
    position: absolute;
    border-radius: 50%;
}
.about-img{
    display: flex;
    flex-wrap: wrap;
}
.about-img-item{margin-bottom: 30px;}
.about-img .about-img-item img{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
/* SPECIALIST */
/****************************************/
.specialist-list-item .title-item{text-align: center;font-size: 16px;
    font-weight: bold;}
.specialist-list-item ul{
    padding: 40px 0 30px 0;
    line-height: 25px;
}
.specialist-box{background: #eceff3;padding: 50px 0;}
.specialist-list h3{
    text-align: center;
    padding: 40px 0;
}
.specialist-list{padding-bottom:100px;}

.specialist-item i::before{
    font-size: 40px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.specialist-item p{font-size: 20px;}
.title-item{
    background: #ced4da;
    padding: 18px 20px;
    margin: 0 -15px;
}
.specialist-item{
    background: #40a0e7;
    height: 150px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    background: linear-gradient(to left, #42a8f0, #3e74b3);
}
/* CONTACT  */
.heading-banner {
    height: 120px;
    position: relative;
    background: url(../images/contact-banner.jpg) no-repeat center bottom;
    background-size: cover;
    margin-top: 110px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    height: 500px;
}
.map-responsive {
    overflow: hidden;
    position: relative;
    height: 500px;
}
.contact-address {
    margin: 70px 0 80px 0;
    position: relative;
}
.contact-address h4{font-weight: bold;}
/* DOCTOR */
.doctor-content{margin-top: 50px;}
.wrap-search {
    width: 92%;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 550px;
    min-width: 270px;
}
.search{
    position: relative;
}
.search-sec{
    background: #ebebeb;
}
.search-sec .sub-title{padding-top: 50px;}
.search select{
    width: 100%;
    height: 40px;
    color: #777;
    border: 1px solid #ddd;
    padding-left: 20px;
    font-size: 15px;
}
.searchTerm {
    float: left;
    width: 100%;
    border: 1px solid #DDD;
    padding: 5px 5px 5px 15px;
    height: 40px;
    border-radius: 5px;
    outline: none;
}
.searchButton {
    position: absolute;
    right: 0;
    width: 60px;
    height: 40px;
    border: 1px solid #41a3ea;
    background: #40a2e8;
    text-align: center;
    color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.doctor-img img{
        display: block;
    border: 5px solid #ddd;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    object-fit: contain;
}
.tbl-left{
    border-bottom: 1px dotted #b5babf;
    border-right: 1px dotted #b5babf;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}
.tbl-right{
   border-bottom: 1px dotted #b5babf;
    padding: 10px;
    font-size: 15px;
}
.doctor-name{
    font-weight: bold;
    color: #4774a6;
}
.doctor-item{
    border: 5px solid #dee2e6;
    padding: 20px;
    margin-bottom: 50px;
    background: #fff;
    border-radius: 12px;
}
/* NEWS */
.news-title{
    font-size: 16px;
    text-align:justify;
}
.news-date{color:#777;    margin-bottom: 20px;}
.news-date span{font-size: 14px;}
.news-list .news-item-img img{
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.news-item-img{margin-right: 20px;}
.news-icon{
    width: 20px !important;
    height: auto !important;
    opacity: .5 !important;
}
.news-item{
    margin-bottom: 30px;
    display: flex;
    margin-bottom: 60px;
}
.btn-stroke-dark img{
        width: 20px;
    opacity: .5;
}
#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}
.sub-tab .nav-tabs{
    justify-content: center;
    background: #ced4da;
}
.news-left{position: relative;}
.news-left span{
        background: rgba(0, 123, 255, 0.67);
    position: absolute;
    bottom: 0px;
    left: 15px;
    width: 60%;
    color: #fff;
    padding: 20px;
}
.news-page .nav-tabs .nav-item{margin-bottom: -2px;}
.news-page .tab-content{padding: 90px 0;}
.news-page .nav-tabs .nav-link.active{
    background: linear-gradient(to left, #42a8f0, #2d5c93);
    color: #fff;
    border-color: transparent;
    border-radius: 0;
    border: 0;
}
/* DETAIL PAGE */
.detail-title{margin-bottom: 30px;}
.detail-img{margin: 30px 0;}
.right-content{
    background: #ebebeb;
    padding: 20px;
        border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.right-content hr{margin-bottom: 0;}
.right-content-img img{margin-bottom:20px;}
.right-content ul{padding:0;}
.right-content h5{    color: #2e5e95;}
.right-content ul li{
    border-bottom: 1px solid #ced4da;
    padding: 10px 0;
}
.advice{
    background: linear-gradient(to left, #42a8f0, #2d5c93);
    color: #fff;
    padding: 10px;
    position: relative;
    margin-top: 20px;
    padding: 20px;
}
.advice h4, .advice p{color:#fff;}
.advice img{
        position: absolute;
    right: 20px;
    bottom: 20px;
    width: 70px;
}
.right-content-info img{
    width: 20px;
    opacity: .5;
    margin-right: 10px;
}
@media (max-width:768px){
    .specialist-item{margin-bottom: 20px;}
    .right-content{margin-top: 30px;}
    .about-staff{padding: 35px 5%;}
}
@media (max-width:992px){
    .news-item{flex-wrap: wrap;}
    .news-list .news-item-img img {
        margin-bottom: 15px;
        height: 150px;
        width: 100%;
    }
}
@media (max-width:575px){
    .about-doc-info {padding-top: 20%;}
    .about-intro {
    height: 120px;
    width: 120px;
    }
    .about-intro p{font-size: 14px;}
    .about-intro{padding-top:15px;}
}