﻿@{
    Layout = "_ConfigurePlugin";
}

@using Nop.Plugin.Shipping.ShipStation
@model Nop.Plugin.Shipping.ShipStation.Models.ShipStationModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="ShipStation" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                
                <h3>Setup Instructions</h3>
                <ul>
                    <li>Register or login on the <strong><a href="https://www.shipstation.com/?ref=partner-project&utm_campaign=partner-referrals&utm_source=project&utm_medium=partner-referral" target="_blank">ShipStation</a></strong> site</li>
                    <li>Go to the "Settings » API Settings" page and get the <strong>API Key</strong> and the <strong>API Secret</strong> and copy them on the plugin settings</li>
                    <li>Select <strong>Selling Channels</strong> from the left-hand sidebar, then choose <strong>Store Setup</strong>.</li>
                    <li>Click <strong>+ Connect a Store or Marketplace</strong>.</li>
                    <li>Choose the <strong>Custom Store</strong> option</li>
                    <li>Enter the "@Model.WebhookURL" to the <strong>URL to Custom XML Page</strong> setting</li>
                    <li>Create a <strong>Username</strong> and <strong>Password</strong>, enter them into the settings forms (the ShipStation form and the project form). <em style="color: red">Do not use the ShipStation or project user credentials for this</em>.</li>
                    <li>Don't change the <strong>Statuses</strong> section</li>
                    <li>Save the project settings by pressing the <strong>Save</strong> button.</li>
                    <li>On the ShipStation form press Test your connection using the <strong>Test Connection</strong> button</li>
                    <li>Save the settings using the <strong>Connect</strong> button</li>
                </ul>
                <hr/>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiKey" asp-input="ApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="ApiKey"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey"/>
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiSecret" asp-input="ApiSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="ApiSecret"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiSecret"/>
                        <span asp-validation-for="ApiSecret"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="UserName" asp-input="UserName" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="UserName"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="UserName"/>
                        <span asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="Password" asp-input="Password" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="Password"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Password" asp-value="@Model.Password"/>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SendDimensio" asp-input="SendDimensio" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="SendDimensio"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SendDimensio"/>
                        <span asp-validation-for="SendDimensio"></span>
                    </div>
                </div>
                <div class="form-group" id="pnlPackingType">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PackingType" asp-input="PackingType" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="PackingTypeValues"/>
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="PackingType" asp-items="Model.PackingTypeValues"/>
                    </div>
                </div>
                <div class="form-group" id="pnlPackingPackageVolume">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PackingPackageVolume" asp-input="PackingPackageVolume" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
                        <nop-label asp-for="PackingPackageVolume"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PackingPackageVolume"/>
                        <span asp-validation-for="PackingPackageVolume"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {

        $("#PackingType").change(togglePackingType);

        $(@Html.IdFor(model => model.SendDimensio)).change(toggleSendDimensio);

        toggleSendDimensio();
    });

    function togglePackingType() {
        var selectedPackingTypeId = $("#PackingType").val();
        if (selectedPackingTypeId == @(((int) PackingType.PackByDimensions).ToString())) {
            $('#pnlPackingPackageVolume').hide();
        } else if (selectedPackingTypeId == @(((int) PackingType.PackByVolume).ToString())) {
            $('#pnlPackingPackageVolume').show();
        }
    }

    function toggleSendDimensio() {
        console.log(this);
        if ($(@Html.IdFor(model => model.SendDimensio)).attr('checked') == "checked") {
            $('#pnlPackingType').show();
        } else {
            $('#pnlPackingType').hide();
        }
        togglePackingType();
    }
</script>
