﻿@model CheckoutCompletedModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Đặt hành thành công");
}
    <main>
        <div class="warning-page">
            <div class="warning-order-page">
                <div class="container">
                    <div class="center">
                        <img src="/assets/img/icon/check-fill.png" alt="" />
                        <h2>CÁM ƠN QUÝ KHÁCH ĐÃ ĐẶT HÀNG TẠI SAIGON HEALTHCARE</h2>
                        <h4>Để hoàn tất đơn đặt hàng Quý khách hàng vui lòng thanh toán bằng hình thức chuyển khoản qua tài khoản ngân hàng dưới đây. Sau khi hoàn tất thanh toán đội ngũ nhân viên phòng khám sẽ gọi điện thoại và xác nhận đơn hàng trong vòng 24 giờ.</h4>
                        <div class="account-bank">
                            <h5>Thông tin tài khoản của phòng khám</h5>
                            <p>Chủ Tài Khoản: <span>CÔNG TY CỔ PHẦN DỊCH VỤ ĐẦU TƯ SAIGON HEALTHCARE</span></p>
                            <p>Số tài khoản: <span>16810000326726</span></p>
                            <p>Chi nhánh ngân hàng: <span>NGÂN HÀNG TMCP ĐẦU TƯ VÀ PHÁT TRIỂN ( BIDV) - CN BẾN THÀNH</span></p>
                            <p>Nội dung: <span>Thanh toán đơn hàng <b>@Model.CustomOrderNumber</b> tại website</span></p>
                        </div>
                        <a href="/" class="btn btn-blue">Trở về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

@* <div class="page checkout-page order-completed-page">
    @if (!Model.OnePageCheckoutEnabled)
    {
        @await Component.InvokeAsync("CheckoutProgress",  new { step = CheckoutProgressStep.Complete })
    }
    <div class="page-title">
        <h1>@T("Checkout.ThankYou")</h1>
    </div>
    <div class="page-body checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedTop, additionalData = Model })
        <div class="section order-completed">
            <div class="title">
                <strong>@T("Checkout.YourOrderHasBeenSuccessfullyProcessed")</strong>
            </div>
            <div class="details">
                <div class="order-number">
                    <strong>@T("Checkout.OrderNumber"): @Model.CustomOrderNumber</strong>
                </div>
                <div class="details-link">
                    <a href="@Url.RouteUrl("OrderDetails", new { orderID = Model.OrderId })">@T("Checkout.PlacedOrderDetails")</a>
                </div>
            </div>
            <div class="buttons">
                <input type="button" value="@T("Checkout.ThankYou.Continue")" class="button-1 order-completed-continue-button" onclick="setLocation('@Url.RouteUrl("Homepage")')" />
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.CheckoutCompletedBottom, additionalData = Model })
    </div>
</div> *@
