﻿@model CheckoutModel
@using Nop.Core
@inject IWebHelper webHelper
@{
  Layout = "_ColumnsOne";
  var storeLocation = webHelper.GetStoreLocation();
  //title
  Html.AddTitleParts(T("PageTitle.Checkout").Text);
  var productPrice = "";
  var items = Model.ShoppingCartModel.Items;
  if (items.Any())
  {
    productPrice = items[0].SubTotal;
  }

}
<style>
  .btn-red {
    border: none;
  }
</style>
<main>
  <div class="cart-page">
    <div class="payment-page">
      <div class="container">
        <form asp-route="OnePageCheckout" method="post" id="confirm-order-form-sghc">
          <div class="row">
            <!-- LEFT THÔNG TIN ĐƠN HÀNG -->
            <div class="col-lg-8">
              <div class="payment-left">
                <h4>THÔNG TIN ĐƠN HÀNG</h4>
                <div class="card">
                  <div class="form-group">
                    <label class="col-form-label">Họ và Tên</label>
                    <div class="row">
                      <div class="col-md-6">
                      <input type="text" class="form-control" name="Address.FirstName" value="@Model.CustomerInfo.FirstName" required
                        aria-autocomplete="list" />
                      </div>
                      <div class="col-md-6">
                      <input type="text" class="form-control" name="Address.LastName" value="@Model.CustomerInfo.LastName" required
                        aria-autocomplete="list" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Số điện thoại</label>
                    <div class="">
                      <input type="text" class="form-control" name="Address.PhoneNumber" value="@Model.CustomerInfo.Phone" required
                        aria-autocomplete="list" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Địa chỉ</label>
                    <div class="">
                      <input type="text" class="form-control" name="Address.Address1"  value="@Model.CustomerInfo.Address" required
                        aria-autocomplete="list" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Địa chỉ Email</label>
                    <div class="">
                      <input type="email" class="form-control" name="Address.Email" value="@Model.CustomerInfo.Email" required aria-autocomplete="list" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-form-label">Tỉnh/Thành phố</label>
                    <div class="">
                      <select name="Address.CityId" class="city form-control" required
                        onchange="getDirectory('district',this.value)" tabindex="14" id="inlineFormCustomSelect">
                        <option selected>--Chọn--</option>
                      </select>
                      <span asp-validation-for="Address.CityId"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Quận/ Huyện</label>
                    <div class="">
                      <select name="Address.DistrictId" class="district form-control" required
                        onchange="getDirectory('ward',this.value)" tabindex="14" id="inlineFormCustomSelect">
                        <option value="" selected>--Chọn--</option>
                      </select>
                      <span asp-validation-for="Address.DistrictId"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Phường Xã</label>
                    <div class="">
                      <select class="ward form-control" name="Address.WardId" required tabindex="14"
                        id="inlineFormCustomSelect">
                        <option value="" selected>--Chọn--</option>
                      </select>
                      <span asp-validation-for="Address.WardId"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <h5>THÔNG TIN BỔ SUNG</h5>
                    <p>Ghi chú đơn hàng</p>
                    <div class="">
                      <textarea name="NoteOrder" class="form-control" rows="4"
                        placeholder="Ghi chú về đơn hàng"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /. THÔNG TIN ĐƠN HÀNG -->
            <!-- RIGHT THÔNG TIN THANH TOÁN -->
            <div class="col-lg-4">
              <div class="payment-right">
                <h4>ĐƠN HÀNG CỦA BẠN</h4>
                <div class="cart-totals">
                  <table>
                    <tbody>
                      <thead>
                        <tr>
                          <td><b>SẢN PHẨM</b></td>
                          <td><b>TẠM TÍNH</b></td>
                        </tr>
                      </thead>
                     @if(Model.ShoppingCartModel.Items.Any()){
                      @foreach(var item in Model.ShoppingCartModel.Items){
                      <tr>
                        <td>
                          @item.ProductName x
                          <b>@item.Quantity</b>
                        </td>
                        <td class="subtotal">@item.SubTotal</td>
                      </tr>
                      }
                    }

                      <tr class="total-row">
                        <td><b>Phụ phí</b></td>
                        <td class="price-total">0 đ</td>
                      </tr>
                      <tr class="total-row">
                        <td><b>Tổng cộng</b></td>
                        <td class="price-total">@Model.ShoppingCartModel.TotalString</td>
                      </tr>
                    </tbody>
                  </table>
                  <br />
                  <div class="form-group" style="display:none;">
                    <div class="payment-select">
                      <label class="radio-container m-r-45">
                        <input type="radio" checked="checked" name="PayMethod" value="0" />
                        <span class="checkmark"></span>
                        Thanh toán tại phòng khám
                      </label>
                      @* <label class="radio-container">
                        <input type="radio" name="PayMethod" value="1"/>
                        <span class="checkmark"></span>
                        Chuyển khoản ngân hàng
                      </label>
                      <p>
                        Hỗ trợ thanh toán thẻ quốc tế Visa, Master Card & JCB và
                        thẻ ATM nội địa, internet banking và chuyển đổi trả góp
                      </p> *@
                    </div>
                  </div>
                  <div class="btn-cart-totals">
                    <button type="submit" class="btn-red">ĐẶT HÀNG</button>
                  </div>
                  <p>
                    Thông tin của quý khách được bảo mật và chỉ sử dụng cho mục
                    đích phục vụ cho nhu cầu thăm khám tại Saigon Healthcare,
                    chúng tôi tôn trọng và cam kết bảo mật những thông tin mang
                    tính riêng tư của bạn
                  </p>
                  <p>
                    Xin vui lòng đọc bảng chính sách bảo mật để hiểu hơn những
                    cam kết mà chúng tôi thực hiện nhằm tôn trọng và bảo vệ
                    quyền lợi của người truy cập
                  </p>
                  <a href="/chinh-sach-bao-mat">Chính sách bảo mật</a>
                  <!-- /.btn-cart-totals -->
                  <!-- /form -->
                </div>
              </div>
            </div>
            <!-- /. THÔNG TIN THANH TOÁN -->
          </div>
        </form>
      </div>
    </div>
  </div>
</main>


<script>
    const cityId = '@Model.CustomerInfo.CityId'
    const districtId = '@Model.CustomerInfo.DistrictId'
    const wardId = '@Model.CustomerInfo.WardId'

  setTimeout(() => {
    $(document).ready(() => {
      $(`.city`).children().remove()
      $(`.city`).append(` <option value="" selected>--Chọn--</option>`)
      $.getJSON(`/booking/GetCities?country_code=VN`).then(res => {
        (res || []).map(x=> {
                    let value = `<option value="${x.Id}">${x.Name}</option>`
                    if(cityId && (x.Id == cityId||x.HisId == cityId)){
                        value = `<option selected value="${x.Id}">${x.Name}</option>`
                    }
                    return $(`.city`).append(value)
                    })
      }).catch(err => console.log(err))
    })
        if(cityId){
            $.getJSON(`/booking/GetDistricts?city_id=${cityId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(districtId && (x.Id == districtId || x.HisId == districtId)){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.district`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
        if(districtId){
            $.getJSON(`/booking/GetWards?district_id=${districtId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(wardId && (x.Id == wardId || x.HisId == wardId)){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.ward`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
  }, 400)
  const getDirectory = (type, value) => {
    switch (type) {
      case 'city':
        $(`.${type}`).children().remove()
        $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=${value}`).then(res => {
          (res || []).map(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
        }).catch(err => console.log(err))
        break
      case 'district':
        $(`.${type}`).children().remove()
        $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res => {
          (res || []).map(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
        }).catch(err => console.log(err))
        break
      case 'ward':
        $(`.${type}`).children().remove()
        $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetWards?district_id=${value}`).then(res => {
          (res || []).map(x => $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
        }).catch(err => console.log(err))
        break
      default:
        break
    }
  }
</script>