.about-page {
    #pills-tab {
        background: #078ae0;
        padding: 0 5%;
        @media (max-width: 630px){

        }
        .nav-link {
            padding: 10px;
            background-color: transparent;
            color: #fff;
        }

        .nav-link.active {
            position: relative;
            color: #fff;

            &::after {
                content: '';
                width: 90%;
                height: 4px;
                bottom: 0;
                left: 0;
                right: 0;
                position: absolute;
                background: #012298;
            }
        }

    }
    
    // .tab-content {
        padding: 30px 0;
        .tab-item {
            
            .tab-content-item{
                ul {
                    padding-left: 20px;
                    li{list-style:circle;}
                }
                .btn{
                    border-radius: 3px;
                    text-align: center;
                    margin-top: 20px;
                    padding: 8px 15px;
                    font-size: 14px;
                    &:hover{opacity: .8;}
                }
                .post-item{
                    display: flex;
                    margin-bottom: 35px;
                    
                    .post-img{
                        width: 230px;
                        height: 140px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                    article{
                        width: 75%;
                        p{
                            overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        }
                        .see-more{
                            float: right;
                            .btn-share{cursor: pointer;}
                            img{width: 15px;
                                margin-right: 15px;}
                            .btn-more{
                                text-decoration: underline;
                                &:hover{
                                    color:#078ae0;
                                }
                            }
                        }
                    }
                }
                .video{
                    text-align: center;
                    .thumbnail{
                        position: relative;
                        margin: 0 auto;
                        text-align: center;
                        .img-video-lg {
                            width: 80%;
                            height:400px;
                            object-fit: cover;
                        }
                        .icon-video{
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
                
            }
        // }
    }
}

.main-banner {
    img{width: 100%;}
}
.title-tab {
    margin: 30px 0;
    h4 {
        color: #078ae0;
        border-bottom: 2px solid #078ae0;
    }

    .tb-icon {
        background: #078ae0;
        display: inline-block;
        margin-right: 10px;
        padding: 5px;

        img {
            width: 20px;
        }
    }
}
.tab-content-item{
    video{
        text-align: center;
    }
}
//////////////////// GUIDE-PAGE////////////////////
.guide-page{
    .guide-item{margin-bottom: 40px;
        h5{color: #014898;}
    }
}
.guide-detail-page{
    .feature-img{
        .blog-img{width:100%;margin-bottom: 20px;}
        img{width: 100%;
            height: 300px;
            object-fit: cover;}
    }
    .post_large{
        h4{margin-top:10px;
            color:#2680eb;
        }
    }
    .post_item{
        .img-small{
            width: 80px;
            height: 55px;
            object-fit: cover;
        }
    }
}