/* 1. Theme default css */

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap');
html{
    height:100%;
}
body {
    font-family: $font_2;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
}
main{min-height:100%;}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_1;
    color: #212529;
    margin-top: 0px;
    font-style: normal;
    text-transform: normal;
    font-weight: 800;
}
.uppercase{
    text-transform: uppercase;
}
.home-slider-icon{
    max-width: 35px;
}
.current-page{
    position: relative;
    display: inline-block;
    /* color: #2c3e50; */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 8px 16px 10px;
    background: #058ae0;
    color: white;
}
.cursor-pointer{
    cursor: pointer;
}
.display-none{display:none;}

h5 {
    font-size: 14px;
    color: #343a40;
}
h5:hover{
    color: #00306a;
    cursor: pointer;
}
p {
    font-family: "Muli", sans-serif;
    color: #10285d;
    // line-height: 1.4em;
    margin-bottom: 10px;
    font-weight: normal;
}

.text-center {
    text-align: center;
}
.blog-content{
    text-align: justify;
}
.text-blue {
    color: #3D6DAD;
    font-weight: 800;
}

.section-title {
    img {
        margin-right: 10px;
    }
    font-size:20px;
    font-weight: 800;
    // margin-bottom: 15px;
    ;
}

// background-image
.bg-img-1 {
    background-image: url(../img/slider/slider-img-1.jpg);
}

.bg-img-2 {
    background-image: url(../img/background-img/bg-img-2.jpg);
}

.cta-bg-1 {
    background-image: url(../img/background-img/bg-img-3.jpg);
}

.display-flex {
    display: flex;
}
.ds-flex{display: flex;align-items: center;}
.align-center {
    align-items: center;
}

.flex-auto {
    flex: auto;
}

.nopadding {
    padding-left: 0;
    padding-right: 0
}

.nomargin {
    margin-left: 0;
    margin-right: 0;
}

.mt30 {
    margin-top: 30px;
}

.mls15 {
    margin-left: -15px;
}

.ml20 {
    margin-left: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pt70 {
    padding-top: 70px;
}

.mtb50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center{
    text-align: center;
    margin: 0 auto;
}

.img {
    max-width: 100%;
    @include transition(.3s);
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both;
}

a,
.button {
    @include transition(.3s);
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a {
    color: #343a40;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    color: #fff;
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

button {
    color: #fff;
    outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}
input, select{
    height:36px !important;
    border-radius: 2px;
    border:1px solid #ccc;
    
}
label{font-weight: 600;}
.uppercase {
    text-transform: uppercase;
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.capitalize {
    text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}
.bg-grey{
    background:#f3f3f3;
}

/* Theme-overlay */

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.overlay2 {
    position: relative;
    z-index: 0;
}

.overlay2::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @extend %overlay1;
}

.overlay2 {
    position: relative;
    z-index: 0;
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: #2E2200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
.form-control {

    font-size: 13px !important;
}
////////////pagination/////////////
.pagination-sec{margin-top: 30px;}
.pagination-container {
    margin: 50px auto;
    text-align: center;
}

.pagination {
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 800;
    padding: 8px 16px 10px;
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #007bff;
    border-radius: 0;
    transform: scale(0);
    transition: all 0.2s;
}

.pagination a:hover,
.pagination a .pagination-active {
    color: #fff;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
    transform: scale(1);
}

.pagination .pagination-active {
    color: #fff;
}

.pagination .pagination-active:before {
    transform: scale(1);
}

// Section Padding
.section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

.separator {
    border-top: 1px solid #f2f2f2
}

.mb-90 {
    margin-bottom: 90px;
    @media #{$mobile_device} {
        margin-bottom: 30px;
    }
    @media #{$tablet_device} {
        margin-bottom: 45px;
    }
}


/* owl-carousel button style */

.owl-carousel {
    .owl-nav div {
        background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
        height: 40px;
        left: 20px;
        line-height: 40px;
        font-size: 22px;
        color: #646464;
        opacity: 1;
        visibility: visible;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 40px;
    }
    .owl-nav {
        div {
            &.owl-next {
                left: auto;
                right: -30px;
                i {
                    position: relative;
                    right: 0;
                    top: 1px;
                }
            }
            &.owl-prev {
                i {
                    position: relative;
                    right: 1px;
                    top: 0px;
                }
            }
        }
    }
    &:hover {
        .owl-nav {
            div {
                opacity: 1;
                visibility: visible;
                &:hover {
                    color: #fff;
                    background: $theme-color4;
                }
            }
        }
    }
}

.btn-stroke-small {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
    color: #fff;
    &:hover{
        background:#2680eb;
        color: #ffff !important;
        border:0;
       
    }
}
.btn-stroke-red{
    border: 2px solid #f01126;
    padding: 8px;
    color: #f01126 !important;
    font-weight: bold;
}
.btn-dark-blue{
    background-color: #102e9e;
    border-radius: 2px!important;
    padding: 8px 15px;
    color:#ffff !important;
    border:0;
}
.btn-stroke-blue{
    border: 2px solid #2680eb;
    color: #2680eb !important;
    line-height: 32px;
    padding: 0 15px;
    margin-right: 20px;
}
.btn-blue {
    background: #2680EB;
    border-radius: 30px;
    padding: 8px 24px;
    color: #fff !important;
}

.btn-red {
    background: #f40f0f;
    color: #fff !important;
    padding: 8px 24px;
    font-weight: 800;
    width: 150px;
    display: block;
    text-align: center;
}

.btn-green {
    background: #a1cc3a;
    border-radius: 30px;
    padding: 8px 15px;
    color: #fff !important;
    font-size: 14px;
    margin: 0 5px;
    &:hover{
        opacity: .7;
    }
}

.btn {
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    transition: 0.6s;
    background-position: right;
    i {
        color: #ffffff;
        font-size: 13px;
        // font-weight: 500;
        position: relative;
        left: 26px;
        @include transition(.4s);
    }
    &:hover {
        i {
            left: 30px;
        }
    }
    img {
        margin-right: 10px;
    }
}

.btn-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 38px;
    color: #fff;
    display: none;
    line-height: 35px !important;
    text-align: center;
    img {
        margin-right: 5px;
    }
    .green {
        background: #a1cc3a;
        height: 38px;
        padding-left: 10px;
        color: #fff;
    }
    .blue {
        background: #2680EB;
        padding-left: 10px;
        color: #fff;
    }
    .dark-blue {
        background: #02408d;
        a:hover{
            color:#fff !important;
        }
        img{width:20px;}
    }
   
}

.fl-right {
    text-align: right;
    float: right;
}

.btn-stroke {
    border: 1px solid #707070;
    border-radius: 30px;
    padding: 10px 20px;
    &:hover{
        background:#2680eb;
        color: #ffff !important;
        border:0;
       
    }
}

.btn2 {
    padding: 15px 65px 20px 31px;
    text-transform: capitalize;
    border-radius: 0px;
    cursor: pointer;
    color: $theme-color;
    display: inline-block;
    font-size: 16px;
    // box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.12);
    border: 1px solid $theme-color;
    background: none;
    i {
        color: $theme-color;
        font-size: 13px;
        font-weight: 500;
        position: relative;
        left: 26px;
        @include transition(.4s);
    }
    &:hover {
        i {
            left: 30px;
        }
    }
}

.btn2:hover {
    color: $theme-color;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn:hover{color:#fff !important}
.about-btn {
    padding: 18px 43px;
}

// Custom Btn
.header-btn {
    padding: 18px 43px;
}

.hero-btn {
    padding: 17px 65px 17px 31px;
}
.txt-blue{color:#007bff;}
.white-btn {
    padding: 30px 39px;
    background: #fff;
    color: #072366 !important;
    &::before {
        background: $theme-color;
        color: #fff !important;
    }
}

.black-btn {
    padding: 14px 35px;
    background: #000;
    display: inline-block;
    &::before {
        background: #331391;
    }
}

.borders-btn {
    padding: 14px 35px;
    background: none;
    border: 1px solid #ff2656;
    border-radius: 0 10px;
    display: inline-block;
    color: #ff2656;
    &::before {
        background: #331391;
    }
}

.cal-btn {
    i {
        color: #09cc7f !important;
        font-size: 31px;
        font-weight: 300;
        margin-right: 10px;
    }
    &>p {
        color: #072366 !important;
        font-weight: 700;
        font-size: 16px;
        display: inline-block;
        margin: 0 !important;
        position: relative;
        top: -7px;
    }
}

// Custom Btn
.submit-btn2 {
    background: $theme-color;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px;
}

.border-btn {
    border: 1px solid #ff5600;
    color: #464d65;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 19px 47px;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0;
    @media #{$xs} {
        display: none;
    }
    &::before {
        border: 1px solid transparent;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 101%;
        height: 101%;
        background: $theme-color;
        z-index: -1;
        transition: transform 0.5s;
        transition-timing-function: ease;
        transform-origin: 0 0;
        transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
        // 
        transform: scaleY(0);
        border-radius: 0;
    }
}

.border-btn:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent;
}

//section overly
.section-over1 {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(6, 7, 6, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background-repeat: no-repeat;
    }
}

.breadcrumb>.active {
    color: #888;
}

#scrollUp,
#back-top {
    background: $theme-color;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    position: fixed;
    @media #{$xs} {
        right: 16px;
    }
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 3px rgba(108,
    98,
    98,
    0.2);
    a i {
        display: block;
        line-height: 50px;
        color: #fff;
    }
}

#scrollUp:hover {
    color: #fff;
}
/* Sticky*/

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff;
}

/*-- Margin Top --*/

@for $i from 1 through 40 {
    .mt-#{5 * $i} {
        margin-top: 5px * $i;
    }
}


/*-- Margin Bottom --*/

@for $i from 1 through 40 {
    .mb-#{5 * $i} {
        margin-bottom: 5px *$i;
    }
}


/*-- Margin Left --*/

@for $i from 1 through 40 {
    .ml-#{5 * $i} {
        margin-left: 5px * $i;
    }
}

/*-- Margin Right --*/

@for $i from 1 through 40 {
    .mr-#{5 * $i} {
        margin-right: 5px *$i;
    }
}

/*-- Padding Top --*/

@for $i from 1 through 40 {
    .pt-#{5 * $i} {
        padding-top: 5px *$i;
    }
}

.pt-260 {
    padding-top: 260px;
}


/*-- Padding Bottom --*/

@for $i from 1 through 40 {
    .pb-#{5 * $i} {
        padding-bottom: 5px *$i;
    }
}


/*-- Padding Left --*/

@for $i from 1 through 40 {
    .pl-#{5 * $i} {
        padding-left: 5px *$i;
    }
}


/*-- Padding Right --*/

@for $i from 1 through 40 {
    .pr-#{5 * $i} {
        padding-right: 5px *$i;
    }
}

// others common css here :)

.bounce-animate {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}

@-webkit-keyframes float-bob {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

/* heartbeat */

.heartbeat {
    animation: heartbeat 1s infinite alternate;
}

@-webkit-keyframes heartbeat {
    to {
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}


/* rotateme */

.rotateme {
    -webkit-animation-name: rotateme;
    animation-name: rotateme;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotateme {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* 20. preloader */

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}

.preloader .preloader-circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    // border-top-color:$theme-color;
    border-top-color: $theme-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.preloader .preloader-circle2 {
    border-top-color: #0078ff;
}

.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.preloader .preloader-img img {
    max-width: 55px;
}

.preloader .pere-text strong {
    font-weight: 800;
    color: #dca73a;
    text-transform: uppercase;
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

@keyframes zoom {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
    }
}

.slick-initialized .slick-slide {
    outline: 0;
}


/*-- Section Padding -- */

.section-padding2 {
    padding-top: 200px;
    padding-bottom: 200px;
    @media #{$laptop} {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    @media #{$lg} {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media #{$sm} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.pb-bottom {
    padding-bottom: 130px;
    @media #{$lg} {
        padding-bottom: 110px;
    }
    @media #{$sm} {
        padding-bottom: 10px;
    }
    @media #{$xs} {
        padding-bottom: 10px;
    }
}

.pb-top {
    padding-top: 130px;
    @media #{$md} {
        padding-top: 70px;
    }
    @media #{$sm} {
        padding-top: 70px;
    }
    @media #{$xs} {
        padding-top: 70px;
    }
}

.w-padding2 {
    padding: 60px 30px;
    @media #{$xs} {
        padding: 70px 20px;
    }
}

.w-padding3 {
    padding: 34px 0;
}

.testimonial-padding {
    padding-top: 190px;
    padding-bottom: 170px;
    @media #{$lg} {
        padding-top: 190px;
        padding-bottom: 170px;
    }
    @media #{$md} {
        padding-top: 70px;
        padding-bottom: 60px;
    }
    @media #{$sm} {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.w-padding {
    padding-top: 100px;
    padding-bottom: 95px;
    @media #{$sm} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.section-padding30 {
    padding-top: 195px;
    padding-bottom: 180px;
    @media #{$lg} {
        padding-top: 150px;
        padding-bottom: 140px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 65px;
        padding-bottom: 70px;
    }
}

.section-padding40 {
    // padding-top: 80px;
    padding-bottom: 90px;
    @media #{$md} {
        padding-bottom: 50px;
    }
    @media #{$sm} {
        padding-bottom: 40px;
    }
    @media #{$xs} {
        padding-bottom: 40px;
    }
}

.services-padding {
    padding-top: 145px;
    padding-bottom: 170px;
    @media #{$lg} {
        padding-top: 145px;
        padding-bottom: 170px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-top: 65px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 65px;
        padding-bottom: 70px;
    }
}

.section-paddingt30 {
    padding-top: 195px;
    padding-bottom: 90px;
    @media #{$lg} {
        padding-top: 150px;
        padding-bottom: 90px;
    }
    @media #{$md} {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    @media #{$sm} {
        padding-top: 65px;
        padding-bottom: 10px;
    }
    @media #{$xs} {
        padding-top: 65px;
        padding-bottom: 10px;
    }
}

.section-padding3 {
    padding-top: 150px;
    padding-bottom: 0;
    @media #{$lg} {
        padding-top: 150px;
        padding-bottom: 0;
    }
    @media #{$md} {
        padding-top: 60px;
        padding-bottom: 0;
    }
    @media #{$sm} {
        padding-top: 60px;
        padding-bottom: 0;
    }
    @media #{$xs} {
        padding-top: 60px;
        padding-bottom: 0;
    }
}

.footer-padding {
    padding-top: 70px;
    padding-bottom: 20px;
    @media #{$md} {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @media #{$sm} {
        padding-top: 20px;
        padding-bottom: 70px;
    }
    @media #{$xs} {
        padding-top: 20px;
        padding-bottom: 0px;
    }
}

// section Tittle
.section-tittle {
    @media #{$xs} {
        margin-bottom: 50px;
        text-align: left !important;
    }
    @media #{$sm} {
        margin-bottom: 50px;
    }
    p {
        color: #7a8290;
        ;
    }
    span {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 22px;
        color: $theme-color;
        text-transform: capitalize;
        display: inline-block;
        color: #fff;
        @media #{$xs} {
            font-size: 14px;
            text-align: left;
        }
    }
    h2 {
        font-size: 40px;
        display: block;
        color: #072366;
        font-weight: 800;
        text-transform: normal;
        line-height: 1.4;
        @media #{$lg} {
            font-size: 36px;
        }
        @media #{$sm} {
            font-size: 31px;
        }
        @media #{$xs} {
            text-align: left;
            font-size: 23px;
        }
    }
}

// section Tittle 2
.section-tittle2 {
    h2 {
        font-size: 30px;
        @media #{$xs} {
            font-size: 23px;
        }
    }
}

.element {
    background-color: #FF3514;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    -webkit-animation: skew 3s infinite;
    animation: skew 3s infinite;
    animation-direction: normal;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    padding: 5px 17px;
}

@-webkit-keyframes skew {
    0% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
    }
    100% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }
}

@keyframes skew {
    0% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
    }
    100% {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }
}

.section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.section-bg2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.all-btn {
    color: $theme-color;
    text-decoration: underline;
    font-size: 16px;
    &:hover {
        color: $theme-color;
        text-decoration: underline;
        letter-spacing: 1px;
    }
}

.chat-box {
    img {
        position: fixed;
        bottom: 10%;
        right: 15px;
    }
}
a:hover {
    color: #007bff;
}
.underline{
    a{
     text-decoration: underline;
    }
    text-decoration: underline;
}
.main-banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.conto{
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-page {
    padding: 0;
}
.pagination-a ul {
    display: flex;
}
@media screen and (max-width : 480px){
    .main-banner img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}