.slider-height2 {
  height: 400px;
  background-size: cover;
  @media #{$md} {
    height: 350px;
  }
  @media #{$sm} {
    height: 260px;
  }
  @media #{$xs} {
    height: 260px;
  }
}
.slider-area {
  .slider,
  .slider > div {
    /* Images default to Center Center. Maybe try 'center top'? */
    background-position: center center;
    display: block;
    width: 100%;
    height: 419px;
    /* height: 100vh; */ /* If you want fullscreen */
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    overflow: hidden;
    -moz-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
  }
  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
  .slider > div {
    position: absolute;
  }

  .slider > i {
    color: #5bbd72;
    position: absolute;
    font-size: 60px;
    margin: 20px;
    top: 40%;
    text-shadow: 0 10px 2px #223422;
    transition: 0.3s;
    width: 30px;
    padding: 10px 13px;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    line-height: 0;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 4;
  }

  .slider > i svg {
    margin-top: 3px;
  }

  .slider > .left {
    left: -100px;
  }
  .slider > .right {
    right: -100px;
  }
  .slider:hover > .left {
    left: 0;
  }
  .slider:hover > .right {
    right: 0;
  }

  .slider > i:hover {
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    transform: translateX(-2px);
  }

  .slider > i.right:hover {
    transform: translateX(2px);
  }

  .slider > i.right:active,
  .slider > i.left:active {
    transform: translateY(1px);
  }

  .slider:hover > div {
    transform: scale(1.01);
  }

  .hoverZoomOff:hover > div {
    transform: scale(1);
  }

  .slider > ul {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 4;
    padding: 0;
    margin: 0;
    transform: translateX(-50%);
  }

  .slider > ul > li {
    padding: 0;
    width: 50px;
    height: 8px;
    border-radius: 6px;
    list-style: none;
    float: left;
    margin: 10px 10px 0;
    cursor: pointer;
    border: 1px solid #fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .slider > ul > .showli {
    background-color: #7ec03d;
    -moz-animation: boing 0.5s forwards;
    -o-animation: boing 0.5s forwards;
    -webkit-animation: boing 0.5s forwards;
    animation: boing 0.5s forwards;
  }

  .slider > ul > li:hover {
    background-color: #7ec03d;
  }

  .slider > .show {
    z-index: 1;
  }

  .hideDots > ul {
    display: none;
  }

  .showArrows > .left {
    left: 0;
  }

  .showArrows > .right {
    right: 0;
  }

  .titleBar {
    z-index: 2;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(100%);
    padding: 20px 30px;
    transition: 0.3s;
    color: #fff;
  }

  .titleBar * {
    transform: translate(-20px, 30px);
    transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
    opacity: 0;
  }

  .titleBarTop .titleBar * {
    transform: translate(-20px, -30px);
  }

  .slider:hover .titleBar,
  .slider:hover .titleBar * {
    transform: translate(0);
    opacity: 1;
  }

  .titleBarTop .titleBar {
    top: 0;
    bottom: initial;
    transform: translateY(-100%);
  }

  .slider > div span {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 0;
    width: 100%;
  }

  @keyframes boing {
    0% {
      transform: scale(1.2);
    }
    40% {
      transform: scale(0.6);
    }
    60% {
      transform: scale(1.2);
    }
    80% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}
.slider-bottom {
  .items {
    width: 100%;
    margin: 0px auto;
    margin-top: 50px;
    .slider-item {
      width: 25%;
      display: flex;
      border-radius: 30px;
      border: 1px solid #01508f;
      padding: 8px 15px;
      font-weight: bold;
      flex-wrap: nowrap;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }

  .slick-slide {
    margin: 10px;
  }

  .slick-slide img {
    border: 0px solid #fff;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #01508f !important;
  }
  .slick-dots {
    display: none !important;
  }
}
// Hero Overly
.hero-overly {
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    content: '';
    background-color: rgba(1, 10, 28, 0.3);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
  }
}

//  Transparent Header
.header-transparent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

// Another Hero Page
.slider-area2 {
  .hero-cap {
    h2 {
      color: #fff;
      font-size: 50px;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 1;
      @media #{$sm} {
        font-size: 50px;
      }
      @media #{$xs} {
        font-size: 27px;
      }
    }
  }
}
