// Header left right padding
.header-area {
    #user-info{
        padding:0;
        li{
            padding:8px 25px;
            &:hover, &:focus{
                background-color:#dee2e6;
                
           }
           a{
               &:hover{color:#333 !important;}
           }
        }
    }
    .logo img{width:130px;}
    .icon_menu{width:50px;margin-left: 15px;;}
    .header-middle{
        padding:15px 0;
        .social-top{
            font-weight: 600;
            text-transform: lowercase;
        }
        .logo{margin-right: 20px;}
        .icon{
            width:30px;
            margin: 5px;
        }
        .header-right{
            display: flex;
            align-items: center;
            float: right;
            justify-content: flex-end;
        }
        .header-left{
            display: flex;
            align-items: center;
        }
    }
    .header-bottom{
        border-top:1px solid #ddd;
        .logo-sticky{
            display: none;
        }
        // mobile menu show
        @media #{$md}{
            padding: 17px 0px;
         }
        @media #{$sm}{
            padding: 17px 0px;
         }
        @media #{$xs}{
            padding: 17px 0px;
         }
         
    }
}


.header-area {
    // Header Top
    @media #{$md}{
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
    @media #{$sm}{
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
    @media #{$xs}{
        box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    }
    .header-top{
        
        background:#014898;
        padding: 6px;
        .header-info-left{
            ul{
                li{
                    color: #fff;
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 13px;
                    font-weight: 100;
                    font-family: $font_1;
                    text-transform: normal;
                    &:last-child{
                        margin-right: 0px;
                    }
                    i{
                       margin-right: 8px;
                    }
                }
            }
        }
    }
}
// Header Bottom
.main-header{
    position: relative;
    z-index: 3;
    .main-menu{
        @media #{$laptop}{
           margin-right: 15px;
        }
        ul{
            li{
                display: inline-block;
                position: relative;
                z-index: 1;
                padding: 18px 10px;
                
                a{
                    color: #0d2d3e;
                    font-weight: 800;
                    display: block;
                    font-size: 12px;
                    @include transition(.3s);
                    // text-transform: uppercase;
                    @media #{$lg}{
                        padding: 8px 0px
                    }

                }
                &:hover{
                    & > a{
                        color:#0066b3;
                    }
                }
                &:last-child{
                    a{
                        padding-right: 0;
                    }
                }
                // Active Line
                &.active{
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: #0066b3;
                        bottom: 0;
                        margin: 0 auto;
                        left: 0;
                        right: 0;
                    }
                }
            }
            ul.submenu{
                position: absolute;
                width: 230px;
                background: #01508f;
                left: 0;
                top: 90%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                @include transition(.3s);
                & > li{
                    display: block;
                    padding: 2px 0 !important;
                    width: 100%;
                    border-bottom: 1px solid #ddd;
                    & > a{
                        padding: 6px 10px !important;
                        font-size: 13px;
                        color: #fdfdfd;
                        font-weight: 400;
                        &:hover{
                            // color:$theme-color;
                            background: none;
                            padding-left: 13px !important;
                        }
                        & i{
                            // @include transition(.4s);
                        }
                    }
                } 
            }
        }
    }
    .search-box{
        margin-left: auto;
    }
    .search{
        span {
            color: #0066b3;
            font-size: 16px;
            cursor: pointer;
            // padding: 20px 19px;
            float: right;
        }
    }
}
// Hover Show Sub-menu
.main-header ul > li:hover > ul.submenu {
	visibility: visible;
    opacity: 1;
    top: 100%;
}
 
.header-transparent {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 9;
}

// Social Icon Effect
.header-area {
    .header-top {
        .header-info-right{
            display:flex;
            img{width:20px;}
            a{
                &:hover, &:focus{color:#a1cc3a !important;}
            }
            .header-social {
                a{
                    i {
                        @include transition(.4s);
                        transform: rotateY(0deg);
                        -webkit-transform: rotateY(0deg);
                        -moz-transform: rotateY(0deg);
                        -ms-transform: rotateY(0deg);
                        -o-transform: rotateY(0deg);
                    }
                    // Hover
                    &:hover i {
                        color: #0066b3;
                        transform: rotateY(180deg);
                        -webkit-transform: rotateY(180deg);
                        -moz-transform: rotateY(180deg);
                        -ms-transform: rotateY(180deg);
                        -o-transform: rotateY(180deg);
                    }
                   
                }
            }
        }
    }
}


//! header Sticky  & Responsive
.header-area{
    .header-sticky{
        &.sticky-bar{
            background: #fff;
                .main-menu{
                
                   nav > ul {
                       & > li{
                          & >  a {
                                padding: 8px 2px;
                            }
                        }
                    }
                } 
                // Small device sticky show padding
                @media #{$md}{
                    padding: 15px 0px;
                }
                @media #{$sm}{
                    padding: 15px 0px;
                }
                @media #{$xs}{
                    padding: 15px 0px;
                } 

        }
    }
}
//! Mobile Menu
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        
        .slicknav_btn {
            top: -36px;
            right:5%;
            // mobile Menu button color
            .slicknav_icon{right:0;}
            .slicknav_icon-bar {
                background-color: $theme-color !important;
                height:2px;
            }
        }
        .slicknav_nav{
            margin-top: 9px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a:hover {
                background: transparent;
                color: $theme-color;
            }
            a {
                font-size: 15px;
                padding: 7px 10px;
            }
            // Dropdown Menu button Padding None
        .slicknav_item a {
                padding: 0 !important;
            }
        }
    }
}



//!  Modal Style 
.search-model-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99999;
    .search-model-form {
        padding: 0 15px;
        input {
            width: 500px;
            font-size: 40px;
            border: none;
            border-bottom: 2px solid #333;
            background: none;
            color: #999;
            @media #{$sm}{
                width: 251px;
                font-size: 26px;
            }
            @media #{$xs}{
                width: 251px;
                font-size: 26px;
            }
        }
    }
    .search-close-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 28px;
        top: 30px;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}
