
$mq-xs: "(max-width: 767px)";
$mq-sm: "(min-width: 768px) and (max-width: 991px)";
$mq-md: "(min-width: 992px) and (max-width: 1199px)";
$mq-lg: "(min-width: 1200px)";

@media #{$xs}{
   
    .footer-list{width:50%;}
   
    .slider-area {
        .hero__caption{
            h3{
                font-size:24px;
                .title{
                    font-size:35px;
                }
            }
           
        }
       
    }
    .slider-bottom ul{
        display:flex;
        flex-wrap: wrap;
            li{
                width: 20%;
                border-radius: 0;
            }
        
    }
}
@media #{$md}{
    .display-none{display: none;}
   
}
@media #{$sm}{
    
    .package-item{
        margin-bottom: 25px;
    }
    .about-low-area .register-info .img-fluid {
        min-width: 100%;
        height: 300px;
        object-fit: cover;
        padding-top: 15px;
        margin-left: 0;
    }
    .about-right-cap{padding-left: 20px;}
   
 
}

@media #{$mq-xs}
{
    .about-sec-02{
        .flex-flow{
            flex-flow: column-reverse;
        }
        .col-grey{height: 200px;padding-top: 60px;}
    }
    .footer-area .app-ico img{margin:5px 0;}
    .header-area .icon_menu{margin-left: 0;}
    .service-list{margin-top:20px;}
    .hero__caption{
        text-align: center;
        p{
            padding-left:0;
            padding-right:0;
        }
    }
    .slicknav_menu{
        .slicknav_icon{margin-right: -5px;}
    }
    .header-area .logo img {
        width: 100px;
        margin-left: 15px;
    }
    .about-low-area .justify-content-between{
        border-radius: 0;
    }
    .about-low-area .register-info .img-fluid{
        margin-top: 15px;
        margin-left: 0;
    }
    .about-low-area .package .package-item{margin-top: 20px;}
    .doctor-area .doctor-list .doctor-item img{
        width: 140px;
        height: 140px;
    }
    .insurance-area .insurance-item {
        width: 50%;
    }
    .insurance-area{height: auto;}
    .rss-area {
        padding:10px 0 0 0;
        .rss-list{
            flex-wrap: wrap;
            ul li{width: 100%;}
        }
    }
    .video-container{
        .video-item{
            margin-bottom: 20px;
        }
    }
    .footer-social{
        display:flex;flex-wrap: wrap;
        .footer-top .icon{
            margin-right: 20px;;
        }
    }
    .single-footer-caption{
        margin-bottom: 20px;
        padding-left: 15px;
        font-size:13px;
    }
    .footer-area {
        .footer-top {
            .footer-logo{width: 110px;margin-right: 0;}
            .footer-social{display: none;}
            .btn-red{padding:6px;font-size:13px;}
            
        }
        .footer-social-bottom{display:block;}
       
    }
    .footer-area .footer-tittle {
        ul, .app-ico{margin-left: -15px;}
        
    }
    .doctor-area{
        .doctor-info{
            p{width: 90%;}
            padding-top: 35px;
        }
        .doctor-list{
            .doctor-item{
                display:block;
                text-align:center;
                padding:25px;
                img{
                    margin:10px auto;
                }
                
            }
        }
    }
    .section-title{font-size:20px}
    .chat-box img {
        position: fixed;
        bottom: 14%;
        right: 2px;
    }
    
    .recruit-item{
        flex-wrap: wrap;
        .recruit-img{
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    .news-content .news-item{
        flex-wrap: wrap;
        .display-flex{
            display: inline-block;
        }
        .news-img{
            width: 100%;
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
    .service-content{
        .service-list{
            .service-item{
                flex-wrap: wrap;
                .service-img{width: 100% !important;margin-right:0;margin-bottom: 20px;}
            }
        }
    }
}

@media #{$mq-md}  {
    .app-ico{
        img{ margin-bottom: 5px;}
    }
    
}
@media (max-width: 768px){
    .doctor-area{
        .doctor-list{
             .doctor-item {
                .info{
                    width: 100%;
                }
                img{max-width:100%;}
             }
         }
        }
    .footer-area .footer-tittle{display:block;margin-bottom:25px;
        .footer-logo{
            margin-bottom: 20px;
        }
        .footer-info{
            border-left:0;
            padding-left:0;
        }
    }
    .footer-app{margin-left: -15px;}
    .login-page .login-content{padding:0 !important;}
    .login-page {
        .user-info-left{
            ul{
                display:flex;
                li{background: #eee;
                    border-right: 1px solid #fff;
                    font-weight: 700;}
            }
        }
        
        .tab-vertical{
            .title-right{
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }
        
    }
}
@media (max-width: 991px){
    .recruit-page{
        .recruit-content{
            .container{max-width:100%;}
        }
    }
    .login-page{
        .container{max-width: 100%;}
    }
    .service-content{
        .container{max-width: 100%;}
    }
    .doctor-item{
        width:100% !important;
        border-bottom: 1px solid #fff;;
    }
    .video-content, .news-list{
        max-width: 100%;
        flex: none;
        margin-bottom: 20px;
    }
    .header-middle{
        .container{
            width: 100%;
            max-width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .header-bottom .container {
        width: 100%;
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1000px) and (max-width: 1100px){
    .doctor-item{
        img{width:140px !important;height:140px !important;}
    }
}
@media (max-width: 991px){
    .footer-app{
        display: flex;
        flex-wrap: wrap;
       
    }
    .footer-area .app-ico{margin-right: 30px;}
    .lg-display{display:none;}
    .slider-bottom {
        padding-bottom: 30px;
        padding-top: 0;
        ul{
            display:flex;flex-wrap: wrap;
            li{
                width: 25%;
                border-radius: 0;
                padding: 10px;
                margin: 0;
            }
        }
    }
}
@media (max-width: 630px){
    .login-page{
        container{max-width: 100%;}
    }
    .img-video-lg{
        width: 100%;
        height: auto;
    }
    .icon-video{width:60px;}
    
    .post-item{
        flex-wrap: wrap;
        .post-img{width:100% !important;height:200px !important; margin-bottom: 15px;}
        article{
            width: 100% !important;
        }
    }
    .header-middle{display:none}
    .btn-mobile{display: grid;}
    .about-content{
        .slider-bottom{
            ul{
                flex-wrap: wrap;
                li{
                    width: 50%;
                    margin:0;
                    margin-bottom: 10px;
                }
            }
        }
    }
   
}
@media (min-width: 992px){
    .lg-block{display:none;}

}
@media (max-width: 480px){
    
    .slider-bottom {
        padding-bottom: 0;
        ul{
            display:flex;flex-wrap: wrap;
            li{
                width: 50%;
                border-radius: 0;
                padding: 10px;
                margin: 0;
            }
        }
    }

}
@media screen and (min-width: 992px) {
    .language-mobile{
        display: none!important;
    }
}
.language-list{
    display: inline-flex!important;
    margin: 0!important;
}