/////////////// GÓI KHÁM///////////////////////////////
.package-page {
    .filter-top {
        .btn-light {
            border: 1px solid #ddd;
            border-radius: 0;
        }
    }

    .package-list {
        .package-item {
            margin-bottom: 30px;
            .package-img {
                width: 100%;
                height: 210px;
                object-fit: cover;
            }

            .card-title {
                a {
                    color: #007bff;
                }
            }

            .card-body {
                padding: 0;
                margin-top: 15px;
            }

            .card-img-top {
                position: relative;
            }
        }
    }
}
.package-description{margin:50px 0;}
.product-see{
    h5{margin-bottom: 20px;}
}
.card-price {
    span {
        color: red;
        font-size: 18px;
    }
}

.product-price {
    background: #f21b30;
    color: #ffff;
    padding: 2px 6px;
    position: absolute;
}
///PACKAGE DETAIL////
.package-detail{
    margin-top: 20px;
    .package-item{
        border-right: 1px solid #ddd;
      .advisory{
            background:#2680EB;padding: 10px;
            border-radius: 4px;
            margin-top: 10px;
            p{color:#fff;}
            input{padding-left:8px;}
        }
        .gift {
            margin-top:20px;
            ul{
                padding-left: 15px;
                li{
                    list-style-type: disc;
                }
            }
        }  
    }
    .btn-group{
        margin-top:20px;
        .btn-blue{border-radius: 3px;margin-left: 20px;}
    }
    .package-note{
        p{
            border: 2px dotted #f0b01c;
            padding: 10px;
            border-radius: 3px;
        }
        .brand-location{
            h5{color:#007bff;margin-top: 15px;}
        }
    }
    .description-package{
        .nav-tabs{justify-content:center;}
    }
    .social-share-list{
        ul{display:flex;margin-top:15px;
            li{
                margin-right: 10px;
                a{
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    height: 35px;
                    display: block;
                    width: 35px;
                    text-align: center;
                    line-height: 35px;
                    color: #888;
                    &:hover{
                        background: #2680eb;
                        color: #fff;
                        border: 0;
                    }
                }
            }
        }
    }
    .tabbable-panel {
        padding: 10px;
    }
    .nav-tabs {
        .nav-link{
            border:0;
        }
    }
    .hsba-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        color:#102e9e;
    }
  /* Default mode */
  .tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
    justify-content: center;
  }
  .tabbable-line > .nav-tabs > li {
    margin-right: 2px;
  }
  .tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
  }
  .tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}

  .tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
  }
  .tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  .tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 35px 0 0 0;
  }
  .portlet .tabbable-line > .tab-content {
    padding-bottom: 0;
  }
  
  /* Below tabs mode */
  
  .tabbable-line.tabs-below > .nav-tabs > li {
    border-top: 4px solid transparent;
  }
  .tabbable-line.tabs-below > .nav-tabs > li > a {
    margin-top: 0;
  }
  .tabbable-line.tabs-below > .nav-tabs > li:hover {
    border-bottom: 0;
    border-top: 4px solid #fbcdcf;
  }
  
  .tabbable-line.tabs-below > .tab-content {
    margin-top: -10px;
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
}

.counter__increment, .counter__decrement {
    transition: all 0.4s ease-in-out;
  }
  
  .counter {
    position: relative;
    width: 7.5rem;
    height: 36px;
    border: 1px solid #8888;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
    margin-right: 30px;
  }
  .counter__input {
    border: none;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    color: #888;
    background-color: transparent;
  }
  .counter__increment, .counter__decrement {
    position: absolute;
    top: 0;
    font-size: 1rem;
    line-height:35px;
    height: 36px;
    width: 2.1875rem;
    font-weight: normal;
    color: #8888;
    text-decoration: none;
  }
  .counter__increment:hover, .counter__increment:active, .counter__increment:focus, .counter__decrement:hover, .counter__decrement:active, .counter__decrement:focus {
    color: #8888;
    text-decoration: none;
    background-color: #edeff0;
  }
  .counter__increment {
    right: 0;
    border-left: 1px solid #8888;
  }
  .counter__decrement {
    left: 0;
    top: 0;
    border-right: 1px solid #8888;
    line-height:35px;
  }
////////////////////CART/////////////////////
.cart-btn {
  
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    background-color: #212121;
    color: #efefef;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    transition: all ease 0.5s;
    position: relative;
    margin: 14px;
    &:hover {
      background-color: darken(#212121, 4%);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .count {
      position: absolute;
      height: 20px;
      width: 20px;
      display: inline-flex;
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);
      background-color: #85cb33;
      justify-content: center;
      align-items: center;
      color: #212121;
      font-size: 14px;
      border-radius: 400px;
      transition: all ease 1s;
      z-index: 1;
    }
  }
  