.categories-area {
    .single-cat{
        @include transition(.4s);
        z-index: 1;
        @media #{$xs}{
            padding: 30px 22px;
        }
        @media #{$sm}{
            padding: 30px 18px;
        }
        .cat-icon{
            img{
                margin-bottom: 30px;
                display: block;
            }
        }
        .cat-cap{
            h5{
             & > a{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 21px;
                display: block;
                @include transition(.2s);
                text-transform: uppercase;
                @media #{$sm}{
                    font-size: 21px;
                }
                @media #{$xs}{
                    font-size: 23px;
                }
              }
            }
            p{
                margin-bottom: 36px;
                color: #57667e;
                font-size: 16px;
                @include transition(.2s);
                @media #{$sm}{
                    font-size: 15px;

                }
            }
            a{
                color: #1c165c;
                font-size: 16px;
                font-weight: 600;
                @include transition(.2s);
            }
        }


        // Hover Effect In single 
        &:hover{
            .cat-cap{
                h5{
                    color: #000;
                }

            }
       }
    }
}
///SLIDER////////////////////////////
.package{

   
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md  if col-md-4*/
      .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -33.3333%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
  
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm  if col-sm-6*/
      .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -50%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
  
  }
  @media (min-width: 576px) {
      
      .carousel-item {
          margin-right: 0;
      }
  
      /* show 2 items */
      .carousel-inner .active + .carousel-item {
          display: block;
      }
      
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
          transition: none;
      }
  
      .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
      }
      
      /* left or forward direction */
      .active.carousel-item-left + .carousel-item-next.carousel-item-left,
      .carousel-item-next.carousel-item-left + .carousel-item,
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      } 
      
      /* farthest right hidden item must be abso position for animations */
      .carousel-inner .carousel-item-prev.carousel-item-right {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          display: block;
          visibility: visible;
      }
      
      /* right or prev direction */
      .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
      .carousel-item-prev.carousel-item-right + .carousel-item,
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  
  }
  
  /*MD*/
  @media (min-width: 768px) {
  
      /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
          display: block;
      }
   
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
          transition: none;
      }
    
      
      .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
      }
      
      
      /* left or forward direction */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      }
      
      /* right or prev direction */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  
  }
  
  
  /*LG */
  @media (min-width: 991px) {
  
      /* show 4th item */
      .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
          display: block;
      }
      
      .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
          transition: none;
      }
      
      /* Show 5th slide on lg if col-lg-3 */
      .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: absolute;
          top: 0;
          right: -25%;  /*change this with javascript in the future*/
          z-index: -1;
          display: block;
          visibility: visible;
      }
      
      /* left or forward direction */
      .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(-100%, 0, 0);
          visibility: visible;
      }
      
      /* right or prev direction //t - previous slide direction last item animation fix */
      .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
          position: relative;
          transform: translate3d(100%, 0, 0);
          visibility: visible;
          display: block;
          visibility: visible;
      }
  
  }
  
}
// Services
.service-area {
    padding-top: 260px;
    @media #{$xs}{
        padding-top: 100px;
    }
    @media #{$sm}{
        padding-top: 100px;
    }
    @media #{$md}{
        padding-top: 150px;
    }
    .single-main{
        @media #{$md}{
           margin-bottom: 30px;
        }
        @media #{$sm}{
           margin-bottom: 30px;
        }
        @media #{$xs}{
           margin-bottom: 30px;
        }
        .single-wrapper{
            @include transition(.2s);
            .single-services{
                box-shadow: 0px 22px 57px 0px rgba(34,41,72,0.05);
                padding: 34px 31px 20px 29px;
                @include transition(.4s);
                background: #fff;
                @media #{$sm}{
                    padding: 16px 40px;
                }
                span{
                font-size: 19px;
                margin-bottom: 20px;
                display: block;
                font-weight: 300;
                }
                h4{
                font-size: 24px;
                display: block;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 20px;
                }
                
            }
            .services-btn{
                a{
                    cursor: pointer;
                    padding: 36px 0;
                    background: #FF3514;
                    line-height: 1;
                    width: 100%;
                    display: block;
                    text-align: center;
                    font-size: 22px;
                }
            }   
            &.active{
                opacity: 1;
                visibility: visible;
            }
            &.hide{
                opacity: 0;
                visibility: hidden;
            }
        }
        // Btn hide
        .transparrent-btn{
            cursor: pointer;
            padding: 36px 0;
            background: rgba(20,12,64,0.2);
            line-height: 1;
            width: 100%;
            display: block;
            text-align: center;
            font-size: 22px;
            bottom: 0;
            left: 0;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            @include transition(.2s);
            &.active{
                opacity: 0;
                visibility: hidden;
            }
        }
        // Hove Effect
        &:hover{
            .single-wrapper{
                &.hide{
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
            .transparrent-btn{
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover{
            .single-wrapper .active{
                &.active{
                    opacity: 1 !important;
                    visibility: visible !important;
                }
            }
            .transparrent-btn{
                &.active{
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
 }
////////////////Doctor////////////////
.doctor-area{
   .doctor-info {
    // background-image: url(../img/gallery/bg-doctor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
        p{width:60%;margin: 0 auto;}
   }
   .btn-stroke{
    margin-right: 10px;
}
   .doctor-list{
    display:flex;
    flex-wrap: wrap;
   
    label{
        background: #2680EB;
        color: #fff;
        padding: 0 10px;
        font-weight: bold;
    }
    .doctor-item{
        display:flex;
        justify-content: center;
        width:50%;
        padding:45px;
        &.bg-light{
            background-image: linear-gradient(to right, #eef8f7, #eaf6f6, #e6f5f4, #e2f3f3, #def1f2);
        }
        &.bg-d{
            background-image: linear-gradient(to right, #f4faf9, #edf6f5, #e6f2f1, #e0eded, #d9e9ea);
        }
        img{
            height: 190px;
            width: 190px;
            // max-width: 35%; 
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
            margin-right: 30px;
            border: 5px solid #2680eb;
        }
        .info{width:75%;}
    }
   }
   
}
//////////Insurance///////////////
.insurance-area{
    background-image: url("../img/gallery/insurance/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 500px;
    padding: 50px 0;
    .insurance-list{
        margin: 50px 0;
    }
    .insurance-item{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            margin: 10px 20px;
        }
    }
    
}
///////////rss////////////////
.rss-area{
    padding: 80px 0 50px 0;
   .rss-box{
       position: relative;
       display: block;
       margin-bottom: 15px;
       h4{
        position: absolute;
        bottom: 15px;
        color: #ffff !important;
        padding: 0 10px;
    
       }
    }
    .rss-img{
        max-width: 100%;
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 6px;
        filter: brightness(.8);
    }
    .rss-list{
        margin-left: 15px;
        ul{
            li{
                width: 90%;
                border-bottom: 1px solid #eaeef1;
                &::before{
                    content: "\2022";
                    color: #0B54AC;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1.2em;
                    margin-left: -1em;
                }
                &:hover{
                    color:#2680EB;
                }
                a:hover{
                    color:#2680eb;
                }
            }
        }
    }
   
}
.rss-title{ 
    border-bottom: 1px solid #dce6ef;
    padding-bottom: 10px;
    display: inline-block;
    h3{float: left;}
    img{margin-left: 10px;width: 16px;}
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

////////////////news/////////////////
.news-area{
    margin-top: 50px;
    margin-bottom:50px;
    .video{
        .thumbnail{
        position: relative;

        }
        .icon-video{
            position: absolute;
            top: 40%;
            right:0;
            left:0;
            margin: 0 auto;
        }
        .img-video-lg{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
            max-height: 400px;
        }
       
    }
    .news-item{
        display:flex;
       
        p{float: right;}
        h5{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
        .ico-arrow{width: 25px;height: 25px;}
        a{
            img{
                width: 130px;
                height: 80px;
                object-fit: cover;
                border-radius:6px;
                margin-right: 15px;
                margin-bottom: 10px;
            }
        }
    }
}

.text-info {
    color: #31708f;
}
.physicianList ul{margin: 0; padding: 0; list-style: none;}
.physicianList ul li{display: inline-block; width: 240px; float: left; margin-right: 15px; margin-bottom: 15px;}
.physicianBox{
	border: 1px solid #ddd;
	color: #333;
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
	background-color: #f5f5f5;
	
}
.physicianBox .physicianPic {
	padding: 15px 0;
	background-color: #fff;
  text-align: center;
}
.physicianBox .physicianPic img{
	border: 6px solid #f8f8f8;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    height: 120px;
    width: 120px;
}
.physicianInfo{
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
}
.physicianInfo h6{font-size: 16px; margin:0;}
.physicianBox strong{color: #444;}
.physicianBox p{font-size: 13px; margin: 0; line-height: 22px;}
.physicianBio{position:absolute; right: 0; bottom: 3px;}
.physicianModal{text-align: center;}
.physicianModal .physicianPic img {
    border: 6px solid #f8f8f8;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    margin: 0 auto;
    height: 180px;
    width: 180px;
}
.physicianModal .info p, .physicianModal .info .text-info{margin: 0;}
.showBioBtn{background-color: #007bff; padding: 5px 10px; color: #fff; font-size: 12px;}

/*Pagination CSS*/
#page_navigation {
  clear:both;
  margin: 20px 0;
  margin-bottom:40px;
  text-align:center;
}
#page_navigation a{
	padding: 8px 13px;
	margin:2px;
	color:black;
	text-decoration:none;
    font-weight: bold;
}
.active_page{
	background:#007bff;
	color:white !important;
}
////////////////////////////////
.video-container{
    margin-bottom: 50px;
    .video-testimonial-content{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .video-item{
        
        .thumbnail{
            float:left;width:40%;position: relative;
            margin-right: 20px;
            .icon-video-sm{
                width: 32px;
                position: absolute;
                right: 0;
                left: 0;
                top: 35%;
                margin: 0 auto;
            }
        }
        
        .img-video-sm{
            width: 100%;
            border-radius: 6px;
            height: 80px;
            object-fit: cover;
        }
        
    }
}
//////////////////////ABOUT PAGE////////////////////////
.sub-banner{
    
    .banner{
     &>img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        filter: brightness(0.8);
     }
     .sub-breadcrumb{
        padding:10px 0;
        img{margin-right:8px; }
         span{
           font-weight: 800;font-size:16px; color: #234B68;
         }
     }
        
    }
    .banner-bottom{background:#D9E2E8 ;}
   
}
.about-content{
    ul{
        li{
            display: flex;
            justify-content:center;
        }
    }
    .about-sec-01{
        h5{color:#A1CC3A;font-size: 20px;}
        h3{font-size:25px;}
        img{
            width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        }
        

    }
    .about-sec-02{
        .bg-grey{
            background: #D9E2E8;
        }
        .img-sec{
            width:100%;
        }
        .center{
            display: flex;
            align-items: center;
            justify-content: center;
            div{ 
                text-align: center;
                img{margin-bottom: 15px;}
                p{
                    font-size:20px;
                    font-weight: 800;
                }
            }
        }
    }
    .about-sec-03{
        .video-container{
            .video-item{
                margin-bottom: 20px;
                .thumbnail{
                    width: 100%;
                    float:none;
                    margin-bottom: 10px;
                }
                
            }
        }
    }
    .about-sec{
        margin: 70px 0;
    }
    .slider-bottom{
        margin: 40px 0;
        ul{
            display:flex;
            justify-content: center;
            li{
                border: 1px solid #0066b3;
                border-radius: 30px;
                padding: 8px 20px;
                margin: 0 10px;
                width: 22%;
                img{margin-right: 5px;}
            }
        }
    }
}
//////////////////////CONTACT PAGE///////////////
.contact-content{
    .contact-top{
        display:flex;
        align-items:center;
        padding:20px 0;
        border-bottom: 1px solid #ddd;
        a{margin-left: auto;}
    }
    .contact-body{
        padding:40px 0;
        ul{
            li{
                padding:10px 0;
                font-weight: 600;
                img{margin-right: 8px;width:16px;}
            }
        }
    }
    iframe {
        display: block;
        width: 100%;
        height: 25em;
        border: 0;
    }
}
///////////////////////NEWS PAGE////////////////////////////////
.news-box{display:flex;}
.news-content{
    
    .carousel-indicators{
        & >.active{
            background:#0B54AC;
        }
        margin-top:30px;
        position: relative;
        li{background:#BBD8EC;}
        
    }
    .carousel-box{
       .video{
            .img-video-lg {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 10px;
                max-height: 250px;
                margin-bottom: 15px;
            }
            .icon-video{
                position: absolute;
                top: 30%;
                right: 0;
                left: 0;
                margin: 0 auto;
                width: 50px;
            
            }
                
        }
    }
    .news-list{padding:50px 0;}
    .news-item{
        // display: flex !important;
        margin-bottom: 30px;
        border-bottom: 1px dashed #5B9FF0;
        padding-bottom: 20px;
       
        .news-img{
            width: 270px;
            height: 170px;
            object-fit: cover;
            border-radius: 8px;
            margin-right: 20px;
        }
        a{float:right;}
    }
}
///////////RECRUIT PAGE //////////////
.recruit-item{
    display:flex;
    margin: 20px 0;
    background: #EFF3F6;
    padding: 15px;
    .recruit-img{width:250px;height:180px;object-fit: cover;border-radius: 8px;
        margin-right: 20px;}
    a{float:right;}
    
}
////////////SERVICES///////////
.service-content{
    .service-list{
        // margin-top: 20px;
        .service-item{
            display:flex;
            background: #EFF3F6;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 6px;
            .service-img{
                width: 200px;
                height: 130px;
                object-fit: cover;
                border-radius: 6px;
                margin-right: 20px;
            }
            a{float:right;}
            p{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
    }
    .left-sidebar{
        background: #EBEBEB;
        padding: 18px;
        border-radius: 6px;
        ul {
            li{
                padding: 12px 0;
                border-bottom: 1px solid #ddd;
                &:last-child{border-bottom:0;}
            }
            img{margin-right: 10px;}

        }
    }
    
}
////////////////detail page//////////////
.detail-page{
    .posts-list{
        .single-post{
            .blog-info-link{
                img{margin-right:10px;}
            }
        }
    }
    .post_large{
        margin-bottom: 20px;
        img{margin-bottom: 10px;}
    }
    
}
/////////////////DROPDOWN LOGIN////////////////
#login-dp{
    top:4px !important;
    width: 100%;
    min-width: 185px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:#fff;
    .btn{
        border-radius: 4px;
        padding: 5px 0;
        margin: 5px 0;
        img{
            margin-left: 10px;
            border-left: 1px solid #ffff;
            padding-left: 5px;
        
        }
    }
    .btn-green{
        width:100%;
        padding: 5px 10px;
        margin-bottom: 8px;
    }
    .btn-fb{
        img{width:12px;}
    }
    .btn-google{
        background-color:red;

    }
    .btn-zalo{
        background-color:#00baf2;
    }
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 100%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.about-low-area{
    .btn-green{
        background: #a1cc3a;
    border-radius: 30px;
    padding: 8px 20px 10px 5px;
    color: #FFD !important;
    font-size: 14px;
    margin: 0 5px;
    img{
        width: 30px;
        margin-right: 5px;
    }
    }
    .register-info{
        h4{font-size:16px;}
        .img-fluid{
            margin-left: -15px;
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
        .icon{margin-right: 10px;}
    }
    .package{
        .package-item{
            position: relative;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 12px;
               
              
            }
            .package-content{
                    .des{
                        position: absolute;
                        right: 15px;
                        top: 25%;
                        color:#fff;
                        h5{
                            font-size: 17px;
                            color: #fff;
                            margin-bottom: 20px;
                            text-align: right;
                        }
                       
                    }
                    width: 200px;
                    height: 140px;
                    position: absolute;
                    bottom:0;
                    right: 0;
                    border-top-left-radius: 190px;
                    &.bg-blue{
                        background: #035592bf;
                    }
                    &.bg-orange{
                        background: #c87202b5;
                    }
                    &.bg-green{
                        background: #84b902c7;
                    }
                
            }
        }
    }
    
    .justify-content-between{
        background:#01508F;
        border-radius: 10px !important;
        // padding-left:20px;
    };
    // left content
    position: relative;
    .about-caption{
        // @media #{$md}{
        //     padding-top: 50px;
        //    }
        //    @media #{$sm}{
        //        padding-top: 50px;
        //    }
        //    @media #{$xs}{
        //        padding-top: 20px;
        //    }
         p{
            font-size: 16px;
            color: #64676c;
            line-height: 1.6;
            margin-bottom: 58px;
            padding-right: 50px;
            @media #{$lg}{
                padding-right: 20px;
            }
            @media #{$sm}{
                padding-right: 0px;
            }
            @media #{$xs}{
                padding-right: 0px;
            }
        }

    }

    .experience{
        span{
            color:$theme-color;
            font-size: 60px;
            font-weight: 500;
            @media #{$lg}{
                font-size: 42px;
            }
            @media #{$sm}{
                font-size: 45px;
            }
            @media #{$xs}{
                font-size: 45px;
            }
        }
        p{

        }
    }
     
    // left img
    .about-right-cap{
        padding-top: 45px;
        padding-bottom: 35px;
        position: relative;
        h4, h3{color:#fff;display: flex;
            align-items: center;}
            small{color:#fff;}
        @media #{$xs}{
            padding-top: 50px;
           
        }
        @media #{$md}{
            padding-top: 50px;
        }
        @media #{$lg}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        .about-right-img{
            img{
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .img-cap{
            position: absolute;
            bottom: -7px;
            left: -33px;
            width: 179px;
            height: 180px;
            padding: 31px 10px;
            background: $theme-color;
            text-align: center;
            @media #{$xs}{
                left: 0;
                width: 128px;
                height: 145px;
                padding: 8px 10px;
            }
            &::before{
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 31px 34px;
                border-color: transparent transparent #ff3314 transparent;
                position: absolute;
                top: -29px;
                content: "";
                right: 0;
            }
            span{
                color: #fff;
                font-size: 50px;
            }
            p{
                color: #fff;
                font-size: 15px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 300;
            padding-right: 13px;
            line-height: 1.5;
            color:#fff;

        }
        .about-right-cap2{
            margin-bottom: 0px;
            @media #{$xs}{
                margin-bottom: 0px;
            }
            @media #{$md}{
                margin-bottom: 0px;
            }
            @media #{$sm}{
                margin-bottom: 0px;
            }
            @media #{$sm}{
                margin-bottom: 0px;
            }
        }
    }
}
.about-caption{
    @media #{$xs}{
        margin-bottom: 35px;
    }
	
}
.bg-height.pb-160{
    @media #{$xs}{
        padding-bottom: 100px;
    }
}



///////// WARNING PAGE/////////////

.warning-order-page{
    background: #edf1f6;
    padding: 50px;
    .center{
        img{width: 50px; margin-bottom: 20px;}
        h2{
            font-size: 22px;
            margin-bottom: 15px;
            color: #014898;
        }
        h4{
            color: #495057;
            margin-top: 15px;
            width: 70%;
            text-align: justify;
            margin: 0 auto;
            font-weight: 500;
            font-size: 14px;
        }
    }
    .account-bank{
        background: #d2d9e1;
        border-radius: 6px;
        padding: 20px;
        width: 50%;
        
        margin: 30px auto;
        h5{
            color: #00306a;
            margin-bottom: 10px;
            font-size: 15px;
        }
        p{
            span{
                font-weight: bold;
            }
        }
        
    }
}
////// SHOPPING CART ICON///////////
.cart {
    position:fixed;
    right:1%;
    bottom:50%;
    width:45px;
    height:45px;
    background:#292d48;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    i {
      font-size:20px;
      color:white;
    }
    &:before {
      content:attr(data-totalitems);
      font-size:12px;
      font-weight:600;
      position:absolute;
      top:-12px;
      right:-5px;
      background:#2bd156;
      line-height:24px;
      padding:0 5px;
      height:24px;
      min-width:24px;
      color:white;
      text-align:center;
      border-radius:24px;
    }
    &.shake {
      animation: shakeCart .4s ease-in-out forwards;
    }
  }
  
  @keyframes xAxis {
    100% {
      transform: translateX(calc(50vw - 105px));
    }
  }
  
  @keyframes yAxis {
    100% {
      transform: translateY(calc(-50vh + 75px));
    }
  }
  
  @keyframes shakeCart {
    25% {
      transform:translateX(6px)
    }
    50% {
      transform:translateX(-4px);
    }
    75% {
      transform:translateX(2px);
    }
    100% {
      transform:translateX(0);
    }
  }
  ////// LINK CHAT ICON ///////////
  .link-chat-group{
        display: grid;
        grid-row-gap: 10px;
        position: fixed;
        bottom: 20%;
        right: 1%;
      img{width:50px;}
  }
  


  