﻿@model BlogPostListModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
}
<div class="news-page">
    <section class="header-sub-bg">
        <p class="navigation-page"><img class="title-icon" src="icon/news.png" alt="thong-tin-cho-benh-nhan">THÔNG TIN CHO BỆNH NHÂN </p>
    </section>
    <section class="sub-tab">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">TIN TỨC PHÒNG KHÁM</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">BẢNG GIÁ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">TIN TỨC Y KHOA</a>
            </li>
        </ul><!-- Tab panes -->
        <div class="container">
            <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">

                    <div class="row news-list">
                        <div class="col-lg-6 col-md-6">
                            <div class=" news-item">
                                <div class="news-item-img"><img src="images/news/n02.jpg" alt="hoi-thao"/></div>
                                <div class="news-item-right">
                                    <h4 class="news-title">HỘI THẢO “PHƯƠNG PHÁP MỚI ĐỂ ĐÁNH GIÁ NHỮNG RỦI RO VỀ TIM MẠCH VÀ ĐÁNH GIÁ ĐIỂM VÔI HÓA XƠ VỮA ĐỘNG MẠCH VÀNH”</h4>
                                    <div class="news-date">
                                        <img class="news-icon" src="icon/time.svg" alt="tin-tuc-icon">
                                        <span>1/3/2020</span>
                                    </div>
                                    <a class="btn-stroke-dark" href="#">
                                        Xem thêm
                                        <img src="icon/arrow-blue.svg" alt="xem-them-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class=" news-item">
                                <div class="news-item-img"><img src="images/news/n02.jpg" /></div>
                                <div class="news-item-right">
                                    <h4 class="news-title">HỘI THẢO “PHƯƠNG PHÁP MỚI ĐỂ ĐÁNH GIÁ NHỮNG RỦI RO VỀ TIM MẠCH VÀ ĐÁNH GIÁ ĐIỂM VÔI HÓA XƠ VỮA ĐỘNG MẠCH VÀNH”</h4>
                                    <div class="news-date">
                                        <img class="news-icon" src="icon/time.svg" alt="tin-tuc-icon">
                                        <span>1/3/2020</span>
                                    </div>
                                    <a class="btn-stroke-dark" href="#">
                                        Xem thêm
                                        <img src="icon/arrow-blue.svg" alt="xem-them-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class=" news-item">
                                <div class="news-item-img"><img src="images/news/n02.jpg" /></div>
                                <div class="news-item-right">
                                    <h4 class="news-title">HỘI THẢO “PHƯƠNG PHÁP MỚI ĐỂ ĐÁNH GIÁ NHỮNG RỦI RO VỀ TIM MẠCH VÀ ĐÁNH GIÁ ĐIỂM VÔI HÓA XƠ VỮA ĐỘNG MẠCH VÀNH”</h4>
                                    <div class="news-date">
                                        <img class="news-icon" src="icon/time.svg" alt="tin-tuc-icon">
                                        <span>1/3/2020</span>
                                    </div>
                                    <a class="btn-stroke-dark" href="#">
                                        Xem thêm
                                        <img src="icon/arrow-blue.svg" alt="xem-them-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class=" news-item">
                                <div class="news-item-img"><img src="images/news/n02.jpg" /></div>
                                <div class="news-item-right">
                                    <h4 class="news-title">HỘI THẢO “PHƯƠNG PHÁP MỚI ĐỂ ĐÁNH GIÁ NHỮNG RỦI RO VỀ TIM MẠCH VÀ ĐÁNH GIÁ ĐIỂM VÔI HÓA XƠ VỮA ĐỘNG MẠCH VÀNH”</h4>
                                    <div class="news-date">
                                        <img class="news-icon" src="icon/time.svg" alt="tin-tuc-icon">
                                        <span>1/3/2020</span>
                                    </div>
                                    <a class="btn-stroke-dark" href="#">
                                        Xem thêm
                                        <img src="icon/arrow-blue.svg" alt="xem-them-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class=" news-item">
                                <div class="news-item-img"><img src="images/news/n01.jpg" /></div>
                                <div class="news-item-right">
                                    <h4 class="news-title">HỘI THẢO “PHƯƠNG PHÁP MỚI ĐỂ ĐÁNH GIÁ NHỮNG RỦI RO VỀ TIM MẠCH VÀ ĐÁNH GIÁ ĐIỂM VÔI HÓA XƠ VỮA ĐỘNG MẠCH VÀNH”</h4>
                                    <div class="news-date">
                                        <img class="news-icon" src="icon/time.svg" alt="tin-tuc-icon">
                                        <span>1/3/2020</span>
                                    </div>
                                    <a class="btn-stroke-dark" href="#">
                                        Xem thêm
                                        <img src="icon/arrow-blue.svg" alt="xem-them-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="pagination-a">
                        <ul class="pagination justify-content-end">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">
                                    <span class="ion-ios-arrow-back"></span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item next">
                                <a class="page-link" href="#">
                                    <span class="ion-ios-arrow-forward"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <p>Second Panel</p>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <p>Third Panel</p>
                </div>

            </div>
            <!-- tab content -->
        </div>
    </section>
</div>
<div class="page blog-page">
    <div class="page-title">
        <a href="@Url.RouteUrl("BlogRSS", new { languageId = Model.WorkingLanguageId })" class="link-rss" title="@T("Blog.RSS.Hint")">@T("Blog.RSS")</a>
        <h1>
            @if (string.IsNullOrEmpty(Model.PagingFilteringContext.Tag))
            {
                if (Model.PagingFilteringContext.GetParsedMonth().HasValue)
                {
                    @string.Format(T("Blog.FilteredByMonth").Text, Model.PagingFilteringContext.GetParsedMonth().Value.Year, Model.PagingFilteringContext.GetParsedMonth().Value.ToString("MMMM"))
                }
                else
                {
                    @T("Blog")
                }
            }
            else
            {
                @string.Format(T("Blog.TaggedWith").Text, Model.PagingFilteringContext.Tag)
            }
        </h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePosts })
        <div class="blog-posts">
            @foreach (var item in Model.BlogPosts)
            {
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePost, additionalData = item })
                <div class="post">
                    <div class="post-head">
                        <a class="post-title" href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})">@item.Title</a>
                        <span class="post-date">-@item.CreatedOn.ToString("D")</span>
                    </div>
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageBeforePostBody, additionalData = item })
                    <div class="post-body">
                        @Html.Raw(!string.IsNullOrEmpty(item.BodyOverview) ? item.BodyOverview : item.Body)
                    </div>
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPostBody, additionalData = item })
                    <div class="blog-details">
                        @if (item.Tags.Count > 0)
                        {
                            <div class="tags">
                                <label>@T("Blog.Tags"):</label>
                                <ul>
                                    @for (var i = 0; i < item.Tags.Count; i++)
                                    {
                                        var tag = item.Tags[i];
                                        <li><a href="@Url.RouteUrl("BlogByTag", new {tag = tag})">@tag</a></li>
                                        if (i != item.Tags.Count - 1)
                                        {
                                            <li class="separator">,</li>
                                        }
                                    }
                                </ul>
                            </div>
                        }
                        <div class="buttons">
                            @if (item.AllowComments)
                            {
                                <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})#comments" class="read-comments">@string.Format(T("Blog.CommentsLink").Text, item.NumberOfComments)</a>
                            }
                            <a href="@Url.RouteUrl("BlogPost", new {SeName = item.SeName})" class="read-more">@T("Blog.MoreInfo")</a>
                        </div>
                    </div>
                    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageInsidePost, additionalData = item })
                </div>
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPost, additionalData = item })
            }
        </div>
        @{
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
        }
        @if (!pager.IsEmpty())
        {
            <div class="pager">
                @pager
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BlogListPageAfterPosts })
    </div>
</div>
