﻿@model Nop.Web.Models.Catalog.SearchModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts("Gói khám");
    var orderBy = Context.Request.Query["OrderBy"];
}
<style>
    .package-page .package-list .package-item .package-img {
        height: 300px;
    }
</style>
<main>

    <div class="package-page">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row mb-5">
                            <div class="filter-top col-12">
                                <div class="text-md-left float-md-left">
                                    <h5>GÓI KHÁM</h5>
                                </div>
                                <div class="dropdown float-right">
                                    <label class="mr-2">Hiển thị kết quả:</label>
                                    <a class="btn btn-lg btn-light dropdown-toggle" style="color: black;text-transform: inherit;" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">@(orderBy == "11"?"Giá giảm dần":"Giá tăng dần")<span
                                            class="caret"></span></a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                                        x-placement="bottom-start"
                                        style="position: absolute; transform: translate3d(71px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item" href="/goi-kham?command.OrderBy=10">Giá tăng dần</a>
                                        <a class="dropdown-item" href="/goi-kham?command.OrderBy=11">Giá giảm dần</a>
                                        @* command.OrderBy *@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- LIST PACKEGE -->
                        <div class="row package-list">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-xs-12 col-md-6 col-lg-4 mb-3">
                                    <div class="card h-100 border-0 package-item">
                                        <a href="/@item.SeName">
                                            <div class="card-img-top">
                                                <span class="product-price">
                                                   @item.ProductPrice.Discount
                                                </span>
                                                <img class="package-img" src="@item.DefaultPictureModel.ImageUrl"
                                                class="img-fluid d-block" alt="Card image cap">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">
                                                    <a href="/@item.SeName"
                                                    class=" font-weight-bold">@item.Name</a>
                                                </h4>
                                                <h5 class="card-price">
                                                    @if( item.ProductPrice.OldPrice != "0 ₫"){
                                                        <s>@item.ProductPrice.OldPrice</s>
                                                    }
                                                    <span>@item.ProductPrice.Price</span>
                                                </h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <!-- PAGINATION -->
                        <div id='page_navigation'></div>
                        <nav class="pagination-container">
                            <div class="pagination">
                                @{
                                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                                }
                                @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                                {
                                    <div class="pagination-a">
                                        @pager
                                    </div>
                                }
                            </div>
                        </nav>
                    <!--END PAGINATION -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
