﻿@model ProfileIndexModel
@{    
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts("Thông tin tài khoản");
}
<style>
    .date-picker-wrapper{
        display: flex;
        margin-left: 15px;
    }
    .active{
        background: #cedcec;
    }
     @@media screen and (max-width: 480px){
        .date-picker-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: inherit;
            align-content: flex-start;
            justify-content: center;
            align-items: initial;
        }
        .date-picker-wrapper .form-control{
            width:100%!important;
        }
    }
</style>
<main>
    <div class="login-page bg-grey">
        <div class="container">
            <div class="row tab-vertical">
                <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="user-info-left">
                        <div class="left-side">
                            <img src="assets/img/icon/sg_icon.png" />
                            <div>
                                <small>Tài khoản của</small>
                                <h5>@Model.CustomerInfo.Email</h5>
                            </div>
                        </div>
                        <ul>
                            <li class="active"><a href="/profile"><img src="/assets/img/icon/user-login.png" />Thông tin tài khoản</a></li>
                            <li><a href="/don-hang-cua-toi"><img src="/assets/img/icon/order.png" />Đơn hàng của tôi</a></li>
                            <li><a href="/ho-so-benh-nhan"><img src="/assets/img/icon/ba.png" />Hồ sơ bệnh án</a></li>
                            <li><a href="/Booking/BookingHistory"><img src="/assets/img/icon/order.png" />Lịch sử đặt khám</a></li>
                            <li><a href="/logout"><img src="/assets/img/icon/logout.png" />Thoát tài khoản</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                    <h4 class="title-right">Thông tin tài khoản</h4>
                    @if(Model.Success){
                        <p style="color: green;"> Thông tin đã được cập nhật thành công!</p>
                    }
                    <div class="user-info-form">
                        <div class="">
                            <div class="card card-4">
                                <div class="card-body">
                                    <form method="POST">
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Họ Tên</label>
                                            <div class="col-4">
                                                <input type="text" class="form-control" name="CustomerInfo.FirstName" value ="@Model.CustomerInfo.FirstName"
                                                    required aria-autocomplete="list">
                                            </div>
                                            <div class="col-4">
                                                <input type="text" class="form-control" name="CustomerInfo.LastName" value ="@Model.CustomerInfo.LastName"
                                                    required aria-autocomplete="list">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Số điện thoại</label>
                                            <div class="col-8">
                                                <input type="text" class="form-control" name="CustomerInfo.Phone" value="@Model.CustomerInfo.Phone"
                                                    required aria-autocomplete="list" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Email</label>
                                            <div class="col-8">
                                                <input type="email" class="form-control" name="CustomerInfo.Email" value="@Model.CustomerInfo.Email"
                                                    required aria-autocomplete="list" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Giới tính</label>
                                            <div class="col-8">
                                                <label class="radio-container m-r-45">Nữ
                                                    <input type="radio" checked="@Model.CustomerInfo.Sex" name="CustomerInfo.Sex" value='True'>
                                                    <span class="checkmark"></span>
                                                </label>
                                                <label class="radio-container">Nam
                                                    <input type="radio" name="CustomerInfo.Sex" checked='@(!Model.CustomerInfo.Sex)' value='False'>
                                                    <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                            <div class="select-birth form-group row">
                                                <label class="col-form-label col-4">Ngày sinh</label>
                                                <div class="col-8">
                                                   <div class="row">
                                                    <nop-date-picker required 
                                                    class="form-control"
                                                    asp-day-name="@Html.NameFor(x => x.CustomerInfo.DateOfBirthDay)"
                                                    asp-month-name="@Html.NameFor(x => x.CustomerInfo.DateOfBirthMonth)"
                                                    asp-year-name="@Html.NameFor(x => x.CustomerInfo.DateOfBirthYear)"
                                                    asp-begin-year="@(DateTime.Now.Year - 110)"
                                                    asp-end-year="@(DateTime.Now.Year)"
                                                    asp-selected-day="@Model.CustomerInfo.DateOfBirthDay"
                                                    asp-selected-month="@Model.CustomerInfo.DateOfBirthMonth"
                                                    asp-selected-year="@Model.CustomerInfo.DateOfBirthYear" />
                                                    <span asp-validation-for="CustomerInfo.DateOfBirthDay"></span>
                                                    <span asp-validation-for="CustomerInfo.DateOfBirthMonth"></span>
                                                    <span asp-validation-for="CustomerInfo.DateOfBirthYear"></span>
                                                   </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Tỉnh / Thành phố</label>
                                                <div class="col-8" data-cityId="@Model.CustomerInfo.CityId">
                                                    <select name="CustomerInfo.CityId" 
                                                    value="@Model.CustomerInfo.CityId"
                                                    class="city form-control" required  onchange="getDirectory('district',this.value)" tabindex="14"  id="inlineFormCustomSelect">
                                                        <option selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="CustomerInfo.CityId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row" data-districtId='@Model.CustomerInfo.DistrictId' >
                                                <label class="col-form-label col-4">Quận / huyện</label>
                                                <div class="col-8">
                                                    <select name="CustomerInfo.DistrictId"  
                                                    value="@Model.CustomerInfo.DistrictId"
                                                    class="district form-control" required  onchange="getDirectory('ward',this.value)" tabindex="14" id="inlineFormCustomSelect">
                                                        <option value='' selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="CustomerInfo.DistrictId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row" data-wardId="@Model.CustomerInfo.WardId">
                                                <label class="col-form-label col-4">Phường / Xã</label>
                                                <div class="col-8">
                                                    <select class="ward form-control"
                                                    name="CustomerInfo.WardId"
                                                    value="@Model.CustomerInfo.WardId"
                                                     required  tabindex="14" id="inlineFormCustomSelect">
                                                        <option value='' selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="CustomerInfo.WardId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Địa chỉ</label>
                                                <div class="col-8">
                                                    <textarea name="CustomerInfo.Address" asp-for="CustomerInfo.Address"  class="form-control" rows="3"></textarea>
                                                   <span asp-validation-for="CustomerInfo.Address"></span>
                                                </div>
                                            </div>
                                        <div class="form-group row">
                                            <div class="col-8 offset-4">
                                                <p><label class="form-check-label"><input type="checkbox" name="IsPasswordChanged" value="True"
                                                            > Thay đổi mật khẩu </label></p>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Mật khẩu cũ</label>
                                            <div class="col-8">
                                                <input type="password" class="form-control" name="PasswordModel.OldPassword" placeholder="Nhập mật khẩu cũ"
                                                     aria-autocomplete="list">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Mật khẩu mới</label>
                                            <div class="col-8">
                                                <input type="password" class="form-control" name="PasswordModel.NewPassword" placeholder="Mật khẩu từ 6 đến 32 kí tự"
                                                     aria-autocomplete="list">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-4">Nhập lại</label>
                                            <div class="col-8">
                                                <input type="password" class="form-control" name="PasswordModel.ConfirmNewPassword" placeholder="Nhập lại mật khẩu mới"
                                                     aria-autocomplete="list">
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-dark-blue">Cập nhật</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
setTimeout(()=>{
    const cityId = '@Model.CustomerInfo.CityId'
    const districtId = '@Model.CustomerInfo.DistrictId'
    const wardId = '@Model.CustomerInfo.WardId'

    $(document).ready(()=>{
        $(`.city`).children().remove()
        $(`.city`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=VN`).then(res=>{
                (res || []).map(x=> {
                    let value = `<option value="${x.Id}">${x.Name}</option>`
                    if(cityId && (x.Id == cityId || x.HisId == cityId)){
                        value = `<option selected value="${x.Id}">${x.Name}</option>`
                    }
                    return $(`.city`).append(value)
                    })
        }).catch(err=>console.log(err))
        if(cityId){
            $.getJSON(`/booking/GetDistricts?city_id=${cityId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(districtId && (x.Id == districtId||x.HisId == districtId)){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.district`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
        if(districtId){
            $.getJSON(`/booking/GetWards?district_id=${districtId}`).then(res=>{
                (res || []).map(x=> {
                        let value = `<option value="${x.Id}">${x.Name}</option>`
                        if(wardId && (x.Id == wardId || x.HisId == wardId)){
                            value = `<option selected value="${x.Id}">${x.Name}</option>`
                        }
                        return $(`.ward`).append(value)
                        })
            }).catch(err=>console.log(err))
        }
    })
},1000)    
const getDirectory = (type,value)=>{
    switch(type){
        case 'city':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetCities?country_code=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'district':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'ward':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetWards?district_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        default:
            break
    }
}
var monthe = document.getElementsByName('CustomerInfo.DateOfBirthMonth')[0]
monthe.style.width = '200px';
</script>