﻿@model CategoryModel

<div class="panel-body">
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="Published" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Published" />
            <span asp-validation-for="Published"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="ShowOnHomepage">Hiển thị lên trang chủ</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="ShowOnHomepage" />
            <span asp-validation-for="ShowOnHomepage"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
          <div class="label-wrapper"><label class="control-label" for="IncludeInTopMenu">Hiển thị lên Menu con</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="IncludeInTopMenu" />
            <span asp-validation-for="IncludeInTopMenu"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="AllowCustomersToSelectPageSize" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="AllowCustomersToSelectPageSize" />
            <span asp-validation-for="AllowCustomersToSelectPageSize"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="AllowCustomersToSelectPageSize">
        <div id="pnlPageSize" class="form-group advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PageSize" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PageSize" />
                <span asp-validation-for="PageSize"></span>
            </div>
        </div>
        <div id="pnlPageSizeOptions" class="form-group advanced-setting">
            <div class="col-md-3">
                <nop-label asp-for="PageSizeOptions" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PageSizeOptions" />
                <span asp-validation-for="PageSizeOptions"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-label asp-for="PriceRanges" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PriceRanges" />
            <span asp-validation-for="PriceRanges"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
        <div class="label-wrapper"><label class="control-label" for="DisplayOrder">Thứ tự hiển thị</label><div title="Thứ tự hiển thị bài viết"." data-toggle="tooltip" class="ico-help"><i class="fa fa-question-circle"></i></div></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
    <div class="form-group" @(Model.AvailableCategoryTemplates.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
        <div class="col-md-3">
            <nop-label asp-for="CategoryTemplateId" />
        </div>
        <div class="col-md-9">
            <nop-select asp-for="CategoryTemplateId" asp-items="Model.AvailableCategoryTemplates" />
            <span asp-validation-for="CategoryTemplateId"></span>
        </div>
    </div>
</div>
