﻿@model TopMenuModel
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.Domain.StoreInformationSettings storeSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@using Nop.Core;
@{
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);
    var customer =  EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
}
<style>
    .slider-area .slider > ul{
        z-index: 1;
    }
    .main-header .main-menu ul li a{
        font-size: 14px;
    }
</style>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        <li><i class="fas fa-phone"></i>@T("setting.hotline.text") : @storePhoneNumber</li>
                                        <li><i class="far fa-envelope"></i>@homepageSettings.Email</li>
                                    </ul>
                                </div>
                                <div class="header-info-right" style="display: flex;">
                                    <a href="/ho-so-benh-nhan" class="btn">@T("setting.membership.text")</a>
                                    <a href="/lien-he" class="btn">@T("menu.contact")</a>
                                    @if(!User.Identity.IsAuthenticated || customer==null){
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown">
                                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><img
                                                    src="/assets/img/icon/user.png" />Đăng nhập<span
                                                    class="caret"></span></a>
                                            <ul id="login-dp" class="dropdown-menu">
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <a href="/login" class="btn btn-green">Đăng nhập</a>
                                                            <a href="/register" class="btn btn-green">Tạo tài khoản</a>
                                                            <div class="social-buttons">
                                                                <div>
                                                                    @* <a href="/facebookauthentication/login" class="btn btn-fb"><i
                                                                            class="fa fa-facebook"></i> Đăng nhập
                                                                        bằng<img
                                                                            src="/assets/img/icon/f_white.png" /></a> *@

@* <fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button> *@
                                                                </div>
                                                                <div>
                                                                    <a href="/googleauthentication/login" class="btn btn-google"><i
                                                                            class="fa fa-facebook"></i> Đăng nhập
                                                                        bằng<img
                                                                            src="/assets/img/icon/google_white.png" /></a>
                                                                </div>
                                                                @* <div>
                                                                    <a href="#" class="btn btn-zalo"><i
                                                                            class="fa fa-facebook"></i> Đăng nhập
                                                                        bằng<img
                                                                            src="/assets/img/icon/zalo_white.png" /></a>
                                                                </div> *@
                                                            </div>

                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    }else{
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <img src="/assets/img/icon/user.png" />@(customer.Email)<span class="caret"></span>
                                    </a>
                                    <ul id="user-info" class="dropdown-menu">
                                        <li><a href="/ho-so-benh-nhan">Hồ sơ bệnh án</a></li>
                                        <li><a href="/don-hang-cua-toi">Đơn hàng của tôi</a></li>
                                        <li><a href="/Booking/BookingHistory">Lịch sử đặt khám</a></li>
                                        <li><a href="/profile">Tài khoản của tôi</a></li>
                                        <li><a href="/logout">Thoát tài khoản</a></li>
                                    </ul>
                                    }
                                    <div class="language-desktop"> @await Component.InvokeAsync("LanguageSelector")</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-sm-6 col-xs-6 header-left">
                                <a class="logo lg-display" href="/"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                                <div class="social-top"><span>@T("setting.connect.text")</span>
                                    <a target="_blank" href="@storeSettings.FacebookLink"><img class="icon" src="~/assets/img/icon/facebook.svg" alt="facebook" /></a>
                                    <a target="_blank" href="@storeSettings.YoutubeLink"><img class="icon" src="~/assets/img/icon/youtube.svg" alt="youtube"/></a>
                                    <a target="_blank" href="@storeSettings.ZaloLink"><img class="icon" src="~/assets/img/icon/zalo.png" alt="youtube"/></a></div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-6 fl-right header-right">
                                <a href="/ho-so-benh-nhan" class="btn btn-green"><img src="~/assets/img/icon/useronline.svg" alt="nguoi-dung-online"/>@T("setting.onlinemedical.text")</a>
                                <a href="/dat-kham" class="btn btn-blue"><img src="~/assets/img/icon/form.svg" alt="dat-kham"/>Đặt khám</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-mobile">
                    <a href="/ho-so-benh-nhan" class="green"><img src="~/assets/img/icon/useronline.svg"alt="nguoi-dung-online" />@T("setting.onlinemedical.text")</a>
                    <a href="/dat-kham" class="blue"><img src="~/assets/img/icon/form.svg" alt="dat-kham" />Đặt khám</a>
                    @if(!User.Identity.IsAuthenticated || customer==null){
                    <ul class="dark-blue nav navbar-nav navbar-right">
                        <li class="dropdown">
                         <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><img src="/assets/img/icon/user.png" />Đăng nhập<span class="caret"></span></a>
                           <ul id="login-dp" class="dropdown-menu">
                               <li>
                                    <div class="row">
                                           <div class="col-md-12">
                                               <a href="/login" class="btn btn-green">Đăng nhập</a>
                                               <a href="/register" class="btn btn-green">Tạo tài khoản</a>
                                               <div class="social-buttons">
                                                  <div>
                                                   <a href="/login" class="btn btn-fb"><i class="fa fa-facebook"></i> Đăng nhập bằng<img src="/assets/img/icon/f_white.png" /></a>
                                                  </div>
                                                  <div>
                                                   <a href="/login" class="btn btn-google"><i class="fa fa-facebook"></i> Đăng nhập bằng<img src="/assets/img/icon/google_white.png" /></a>
                                                  </div>
                                                  @* <div>
                                                   <a href="/login" class="btn btn-zalo"><i class="fa fa-facebook"></i> Đăng nhập bằng<img src="/assets/img/icon/zalo_white.png" /></a>
                                                  </div> *@
                                               </div>
                                               
                                           </div>
                                          
                                    </div>
                               </li>
                           </ul>
                       </li>
                     </ul>
                    }else{
                    @* <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/img/icon/user.png" />@(customer.Email)<span class="caret"></span>
                    </a>
                    <ul id="user-info" class="dropdown-menu">
                        <li><a href="/ho-so-benh-nhan">Hồ sơ bệnh án</a></li>
                        <li><a href="/don-hang-cua-toi">Đơn hàng của tôi</a></li>
                        <li><a href="/Booking/BookingHistory">Lịch sử đặt khám</a></li>
                        <li><a href="/profile">Tài khoản của tôi</a></li>
                        <li><a href="/logout">Thoát tài khoản</a></li>
                    </ul> *@

                     <ul class="dark-blue nav navbar-nav navbar-right">
                        <li class="dropdown">
                         <a href="#" class="btn dropdown-toggle" data-toggle="dropdown"><img src="/assets/img/icon/user.png" />@(customer.Email)<span class="caret"></span></a>
                           <ul id="login-dp" class="dropdown-menu">
                               <li>
                                    <div class="row" style="background: white;">
                                           <div class="col-md-12">
                                               <a href="/ho-so-benh-nhan" class="btn btn-green" style="background-color: #2680eb;">Hồ sơ bệnh án</a>
                                               <a href="/don-hang-cua-toi" class="btn btn-green" style="background-color: #2680eb;">Đơn hàng của tôi</a>
                                               <a href="/Booking/BookingHistory" class="btn btn-green" style="background-color: #2680eb;">Lịch sử đặt khám</a>
                                               <a href="/profile" class="btn btn-green" style="background-color: #2680eb;">Tài khoản của tôi</a>
                                               <a href="/logout" class="btn btn-green">Thoát tài khoản</a>
                                           </div>
                                          
                                    </div>
                               </li>
                           </ul>
                       </li>
                     </ul>
                    }
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                                <div class="icon_menu ">
                                    <a class="logo lg-block" href="/"><img src="~/assets/img/logo/logo.png" alt="logo"></a>
                                    <a href="/"><img class="img-fluid lg-display" src="~/assets/img/icon/menu.svg" alt="menu"></a>
                                </div>
                            <div class="">
                                <div class="menu-wrapper  d-flex align-items-center">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav> 
                                            <ul id="navigation">                                                                                          
                                                @* <li class="uppercase"><a class="uppercase" href="/">@T("homepage")</a></li> *@
                                                @* <li><a class="uppercase" href="#">@T("homepage")</a>
                                                            <ul class="submenu">
                                                                <li><a class="capitalize" href='/ve-chung-toi'>@T("about.us")</a></li>
                                                                <li><a class="capitalize" href='/thong-tin-tuyen-dung'>@T("recruit")</a></li>
                                                                <li><a class="capitalize" href='/lien-he'>@T("contact")</a></li>
                                                            </ul>
                                                </li> *@
                                                @foreach (var item in Model.Categories)
                                                {
                                                    if (!item.SubCategories.Any())
                                                    {
                                                        <li><a class="uppercase"  href='@("/"+item.SeName)'>@T(item.Name)</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a class="uppercase" href="#">@item.Name</a>
                                                            <ul class="submenu">
                                                                @foreach (var subItem in item.SubCategories)
                                                                {
                                                                    <li><a class="capitalize" href='@("/"+subItem.SeName)'>@subItem.Name</a></li>
                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                }
                                                <li class="language-mobile">
                                                 @await Component.InvokeAsync("LanguageSelector")
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <div class="search-box">
                                <!-- Search Box -->
                                <div class="search d-none d-lg-block">
                                    <ul>
                                        <li>
                                            <div class="nav-search search-switch flex-auto">
                                                <span class="fas fa-search"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                           
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>