﻿@using System.Text
@using Nop.Services.Blogs
@using Nop.Web.Areas.Admin.Models.Recruit;
@model RecruitFacultyModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="DisplayOrder">STT</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="DisplayOrder" asp-required="true" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Name">Tên</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Name" asp-required="true" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Name">Mô tả</label></div>
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="Description" asp-required="true" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Name">Xuất bản</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="Active" />
            <span asp-validation-for="Active"></span>
        </div>
    </div>
</div>