﻿@model RecruitFacultyModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    const string hideInfoBlockAttributeName = "RecruitFacultyPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);

    const string hideSeoBlockAttributeName = "RecruitFacultyPage.HideSeoBlock";
    var hideSeoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSeoBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="news-item-panels">
            <nop-panel asp-name="news-item-info" asp-icon="fa fa-info" asp-title="@T("Admin.ContentManagement.News.RecruitFaculties.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-panel>

        </nop-panels>
    </div>
</div>