﻿@using System.Text
@using Nop.Services.Blogs
@model JobModel
@using Nop.Web.Areas.Admin.Models.Recruit;

    <div class="panel-body">
        <div class="form-group" @(Model.AvailableLanguages.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
            <div class="col-md-3">
                <nop-label asp-for="LanguageId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="LanguageId" asp-items="Model.AvailableLanguages" />
                <span asp-validation-for="LanguageId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Tên công việc</label></div>  
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Title" asp-required="true" />
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Mô tả ngắn</label></div>  
            </div>
            <div class="col-md-9">
                <nop-textarea asp-for="Short" asp-required="true" />
                <span asp-validation-for="Short"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Mô tả đầy đủ</label></div>  
            </div>
            <div class="col-md-9">
                <div class="input-group input-group-required">
                    @Html.EditorFor(model => model.Full, "RichEditor")

                    <div class="input-group-btn">
                        <nop-required />
                    </div>
                </div>
                <span asp-validation-for="Full"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Vị trí</label></div>  
            </div>
            <div class="col-md-9">
                <nop-textarea asp-for="Position" asp-required="true" />
                <span asp-validation-for="Position"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Số lượng</label></div>  
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Count" asp-required="true" />
                <span asp-validation-for="Count"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Xuất bản</label></div>  
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Active" />
                <span asp-validation-for="Active"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
              <div class="label-wrapper"><label class="control-label" for="Title">Bộ phận</label></div>  
            </div>
            <div class="col-md-9">
                <nop-select asp-for="RecruitFacultyId" asp-items="Model.AvailableCategories" asp-multiple="false" />
                <script>
                                $(document).ready(function() {
                                    var categoryIdsInput = $('#@Html.IdFor(model => model.SelectedCategoryIds)').data("kendoDropDownList");
                                    categoryIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                                    @if (Model.AvailableCategories.Count == 0)
                            {
                                <text>
                                    categoryIdsInput.setOptions({
                                        enable: false,
                                        placeholder: '@T("Admin.Catalog.Products.Fields.Categories.NoCategoriesAvailable")'
                                    });
                                    categoryIdsInput._placeholder();
                                    categoryIdsInput._enable();
                                    </text>
                            }
                                });
                </script>
            </div>
        </div>
    </div>