@model JobModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.Jobs.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Job");
}

<form asp-controller="Recruit" asp-action="JobCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.Jobs.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Jobs">@T("Admin.ContentManagement.News.Jobs.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_JobCreateOrUpdate", Model)
</form>