﻿@model JobSearchModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.Jobs").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Job");
}

@{
    const string hideSearchBlockAttributeName = "ProductListPage.HideSearchBlock";
    var hideSearchBlock = false;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.News.Jobs")
    </h1>
    <div class="pull-right">
        <a asp-action="JobCreate" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
             <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchName" />
                                            </div>
                                        </div>
                                        <div class="form-group" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCategoryId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="button" id="search-newsitem" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "newsitem-grid",
                        UrlRead = new DataUrl("List", "Recruit", null),
                        SearchButtonId = "search-newsitem",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchName)),
                            new FilterParameter(nameof(Model.SearchCategoryId)),
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(JobModel.Title))
                            {
                                Title = T("Admin.ContentManagement.News.Jobs.Fields.Title").Text,
                                Width = "200"
                            },
                             new ColumnProperty(nameof(JobModel.Position))
                            {
                                Title = "Vị trí",
                                Width = "200"
                            },
                             new ColumnProperty(nameof(JobModel.RecruitFacultyName))
                            {
                                Title = "Bộ phận",
                                Width = "200"
                            },
                            new ColumnProperty(nameof(JobModel.Count))
                            {
                                Title = "Số lượng",
                                Width = "200"
                            },
                             new ColumnProperty(nameof(JobModel.Active))
                            {
                                Title = "Xuất bản",
                                Width = "100",
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(JobModel.CreatedOnUtc))
                            {
                                Title = T("Admin.ContentManagement.News.Jobs.Fields.CreatedOn").Text,
                                Width = "150",
                                Render = new RenderDate()
                            },
                            new ColumnProperty(nameof(JobModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("JobEdit"))
                            }
                        }
                    })

                    <script>
                        function renderColumnComments(data, type, row, meta) {
                            var link = "NewsComments?filterByJobId=" + data;
                            var title = '@T("Admin.ContentManagement.News.Jobs.Fields.Comments")';
                            var countComments = row.ApprovedComments + row.NotApprovedComments;
                            return '<a class="btn btn-default" href="' + link + '">' + title + ' - ' + countComments + ' (' + row.NotApprovedComments + ')' + '</a>';
                        }
                    </script>                    
                </div>
            </div>
        </div>
    </div>
</div>