@model RecruitFacultyModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.RecruitFaculties.EditRecruitFacultyDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("RecruitFaculty");
}


<form asp-controller="Recruit" asp-action="RecruitFacultyEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.RecruitFaculties.EditRecruitFacultyDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="RecruitFaculties">@T("Admin.ContentManagement.News.RecruitFaculties.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">            
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="newsitem-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-action="RecruitFacultyDelete" asp-model-id="@Model.Id" asp-button-id="newsitem-delete" />