﻿@model RecruitFacultyContentModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = "Khối/ Bộ Phận";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("RecruitFaculty");
    var data = new DataTablesModel
               {
                   Name = "newsitem-grid",
                   UrlRead = new DataUrl("RecruitFacultyList", "Recruit", null),
                   SearchButtonId = "search-recruit",
                   Length = Model.Items.PageSize,
                   LengthMenu = Model.Items.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.Items.SearchStoreId), nameof(Model.Items))
                        },
                   ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(RecruitFacultyModel.DisplayOrder))
                            {
                                Title = "STT"
                            },
                            new ColumnProperty(nameof(RecruitFacultyModel.Name))
                            {
                                Title = "Tên"
                            },
                            new ColumnProperty(nameof(RecruitFacultyModel.Description))
                            {
                                Title = "Mô tả",
                            },
                            new ColumnProperty(nameof(RecruitFacultyModel.Active))
                            {
                                Title = "Xuất bản",
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(RecruitFacultyModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("RecruitFacultyEdit"))
                            }
                        }
               };
}

@{
    const string hideSearchBlockAttributeName = "NewsContentPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
       Khối/ Bộ Phận
    </h1>
    <div class="pull-right">
        <a asp-action="RecruitFacultyCreate" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
            <div class="panel panel-default panel-search" @(Model.Items.HideStoresList ? Html.Raw("style=\"display:none\"") : null)>
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body @(hideSearchBlock ? "closed" : "")">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="Items.SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="Items.SearchStoreId" asp-items="Model.Items.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-recruit" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", data)
                </div>
            </div>
        </div>
    </div>
</div>