﻿@model ResumeSearchModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = "Quản lý ứng viên";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Resume");
}

@{
    const string hideSearchBlockAttributeName = "ProductListPage.HideSearchBlock";
    var hideSearchBlock = false;
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.ContentManagement.News.Resumes")
    </h1>
    @* <div class="pull-right">
        <a asp-action="ResumeCreate" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsListButtons })
    </div> *@
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
             <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </div>

                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <div class="label-wrapper"><label class="control-label" for="SearchName">Tên ứng viên</label></div>
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchName" />
                                            </div>
                                        </div>
                                        <div class="form-group" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCategoryId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="button" id="search-newsitem" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "newsitem-grid",
                        UrlRead = new DataUrl("ResumeList", "Recruit", null),
                        SearchButtonId = "search-newsitem",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchName)),
                            new FilterParameter(nameof(Model.SearchCategoryId)),
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(ResumeModel.FullName))
                            {
                                Title = "Ứng viên",
                                Width = "150"
                            },
                             new ColumnProperty(nameof(ResumeModel.PhoneNumber))
                            {
                                Title = "SDT",
                                Width = "150"
                            },
                             new ColumnProperty(nameof(ResumeModel.Email))
                            {
                                Title = "Email",
                                Width = "150"
                            },
                            new ColumnProperty(nameof(ResumeModel.Address))
                            {
                                Title = "Địa chỉ",
                                Width = "300"
                            },
                             new ColumnProperty(nameof(ResumeModel.JobName))
                            {
                                Title = "Vị trí",
                                Width = "200",
                            },
                             new ColumnProperty(nameof(ResumeModel.RecruitFacultyName))
                            {
                                Title = "Bộ phận",
                                Width = "200",
                            },
                            new ColumnProperty(nameof(ResumeModel.CreatedOnUtc))
                            {
                                Title = "Ngày nộp",
                                Width = "150",
                                Render = new RenderDate()
                            },
                            new ColumnProperty(nameof(ResumeModel.Id))
                            {
                                Title = "Chi tiết",
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonView(new DataUrl("ResumeInfo"))
                            }
                        }
                    })                  
                </div>
            </div>
        </div>
    </div>
</div>