@model ResumeModel
@using Nop.Web.Areas.Admin.Models.Recruit;

@{
    //page title
    ViewBag.PageTitle = "Thông tin ứng viên";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Resume");
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Thông tin ứng viên <strong>@Model.FullName</strong>
        <small>
            <i class="fa fa-arrow-circle-left"></i>
            <a asp-action="Resume" asp-controller="Recruit">Trở về</a>
        </small>
    </h1>
    <div class="pull-right">
        <span id="custom-delete" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Delete")
        </span>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="JobName">Vị trí ứng
                                    tuyển</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.JobName</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="Gender">Giới tính</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Gender</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label" for="PhoneNumber">SDT</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.PhoneNumber</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Email</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Địa chỉ</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">
                                @Model.Address<span></span>, </span>@Model.WardName<span>,
                                </span>@Model.DistrictName<span>, </span>@Model.CityName
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Địa chỉ tạm trú</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">
                                @Model.TempAddress<span></span>, </span>@Model.TempWardName<span>,
                                </span>@Model.TempDistrictName<span>, </span>@Model.TempCityName
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Ngành học</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Major</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Trường</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.College</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Số năm kinh nghiệm</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Expirence</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper"><label class="control-label">Giới thiệu về bản thân</label></div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.Bio</div>
                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.AttachFile))
                    {
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper"><label class="control-label">Tệp hồ sơ xin việc</label></div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-text-row"><a target="_blank" style="text-decoration:underline"
                                    href="@Model.AttachFile">Nhấn vào đây để tải tệp</a></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<nop-delete-confirmation asp-action="ResumeDelete" asp-model-id="@Model.Id" asp-button-id="custom-delete" />
