﻿@using System.Text
@using Nop.Services.Blogs
@model NewsCategoryModel
@inject IBlogService blogService

@{
    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");

    var url = "";
    if(!String.IsNullOrEmpty(Model.VideoUrl)){
        url =Model.VideoUrl.Replace("watch?v=", "embed/");
    }
}
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="SpecialistService">Giới thiệu</label></div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                @Html.EditorFor(model => model.SpecialistIntroduce, "RichEditor")

                <div class="input-group-btn">
                    <nop-required />
                </div>
            </div>
            <span asp-validation-for="SpecialistIntroduce"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="SpecialistService">Dịch vụ</label></div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                @Html.EditorFor(model => model.SpecialistService, "RichEditor")

                <div class="input-group-btn">
                    <nop-required />
                </div>
            </div>
            <span asp-validation-for="SpecialistService"></span>
        </div>
    </div>
     <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="SpecialistService">Video Youtube Link</label></div>
        </div>
        <div class="col-md-9">
            <nop-editor class="form-control" asp-for="VideoUrl" />
            <iframe style="margin-top:10px;" width="420" height="315" src="@url">
            </iframe>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="SpecialistService">Liên kết khoa</label></div>
        </div>
        <div class="col-md-9">
            <nop-select asp-for="SpecialistCategoryId" asp-items="Model.AvailableFaculties" asp-multiple="false" />
            <script>
                            $(document).ready(function() {
                                var categoryIdsInput = $('#@Html.IdFor(model => model.Id)').data("kendoDropDownList");
                                categoryIdsInput.setOptions({
                                    autoClose: false,
                                    filter: "contains"
                                });

                                @if (Model.AvailableFaculties.Count == 0)
                        {
                            <text>
                                categoryIdsInput.setOptions({
                                    enable: false,
                                    placeholder: '@T("Admin.Catalog.Products.Fields.Categories.NoCategoriesAvailable")'
                                });
                                categoryIdsInput._placeholder();
                                categoryIdsInput._enable();
                                </text>
                        }
                            });
            </script>
        </div>
    </div>
</div>