@model NewsCategoryModel
<div class="panel-body">
    @if (Model.Id > 0)
    {
        <div class="sub-panel">

            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "newscategorypictures-grid",
                UrlRead = new DataUrl("NewsCategoryPictureList", "News", new RouteValueDictionary { [nameof(Model.NewsCategoryPictureSearchModel.NewsCategoryId)] = Model.Id }),
                UrlDelete = new DataUrl("NewsCategoryPictureDelete", "News", null),
                UrlUpdate = new DataUrl("NewsCategoryPictureUpdate", "News", null),
                Length = Model.NewsCategoryPictureSearchModel.PageSize,
                LengthMenu = Model.NewsCategoryPictureSearchModel.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                    {
                     new ColumnProperty(nameof(NewsCategoryPictureModel.PictureUrl))
                        {
                        Title = T("Admin.Catalog.Products.Pictures.Fields.Picture").Text,
                            Render = new RenderCustom("renderPicturesColumnNewsCategoryPictureUrl")
                        },
                        new ColumnProperty(nameof(NewsCategoryPictureModel.DisplayOrder))
                        {
                            Title = T("Admin.Catalog.Products.Pictures.Fields.DisplayOrder").Text,
                            Width = "150",
                            ClassName = NopColumnClassDefaults.CenterAll,
                            Editable = true,
                            EditType = EditType.Number
                        },
                        new ColumnProperty(nameof(NewsCategoryPictureModel.OverrideAltAttribute))
                        {
                            Title = T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute").Text,
                            Width = "200",
                            Editable = true,
                            EditType = EditType.String
                        },
                        new ColumnProperty(nameof(NewsCategoryPictureModel.OverrideTitleAttribute))
                        {
                            Title = T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute").Text,
                            Width = "200",
                            Editable = true,
                            EditType = EditType.String
                        },
                        new ColumnProperty(nameof(NewsCategoryPictureModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "200",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonsInlineEdit()
                        },
                        new ColumnProperty(nameof(NewsCategoryPictureModel.Id))
                        {
                            Title = T("Admin.Common.Delete").Text,
                            Width = "100",
                            Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                            ClassName = NopColumnClassDefaults.Button
                        }
                    }
            })

            <script>
                function renderPicturesColumnNewsCategoryPictureUrl(data, type, row, meta) {
                    return '<a href="' + row.PictureUrl + '" target="_blank"><img alt="' + row.PictureId + '" src="' + row.PictureUrl + '" width="150" /></a>';
                }
            </script>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Catalog.Products.Pictures.AddNew")
            </div>
            <div class="panel-body">
                <script>
                    $(document).ready(function() {
                        $('#addNewsCategoryPicture').click(function() {
                            var pictureId = $("#@Html.IdFor(model => model.AddPictureModel.PictureId)").val();
                            var overrideAltAttribute = $("#@Html.IdFor(model => model.AddPictureModel.OverrideAltAttribute)").val();
                            var overrideTitleAttribute = $("#@Html.IdFor(model => model.AddPictureModel.OverrideTitleAttribute)").val();
                            var displayOrder = $("#@Html.IdFor(model => model.AddPictureModel.DisplayOrder)").val();

                            if (pictureId == 0) {
                                $("#addNewsCategoryPictureAlert").click();
                                return;
                            }

                            $('#addNewsCategoryPicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                displayOrder: displayOrder,
                                overrideAltAttribute: overrideAltAttribute,
                                overrideTitleAttribute: overrideTitleAttribute,
                                newsCategoryId: '@Model.Id'
                            };
                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("NewsCategoryPictureAdd", "News"))",
                                data: postData,
                                success: function (data, textStatus, jqXHR) {
                                    if (!data.Result) {
                                        return;
                                    }
                                    updateTable('#newscategorypictures-grid');
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    $("#newsCategoryPictureAddAlert").click();
                                },
                                complete: function (jqXHR, textStatus) {
                                    $('#addNewsCategoryPicture').attr('disabled', false);
                                }
                            });
                        });
                    });
                </script>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.PictureId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.PictureId" />
                        <span asp-validation-for="AddPictureModel.PictureId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.OverrideAltAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.OverrideAltAttribute" />
                        <span asp-validation-for="AddPictureModel.OverrideAltAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.OverrideTitleAttribute" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.OverrideTitleAttribute" />
                        <span asp-validation-for="AddPictureModel.OverrideTitleAttribute"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="AddPictureModel.DisplayOrder" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AddPictureModel.DisplayOrder" />
                        <span asp-validation-for="AddPictureModel.DisplayOrder"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="addNewsCategoryPicture" class="btn btn-primary">@T("Admin.Catalog.News.Pictures.AddButton")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Catalog.Pictures.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
<nop-alert asp-alert-id="addNewsCategoryPictureAlert" asp-alert-message="@T("Admin.Catalog.Products.Pictures.Alert.AddNew")" />
<nop-alert asp-alert-id="newsCategoryPictureAddAlert" asp-alert-message="@T("Admin.Catalog.Products.Pictures.Alert.PictureAdd")" />