﻿@using System.Text
@using Nop.Services.Blogs
@model NewsItemModel
@inject IBlogService blogService
@{
    var url = "";
    if (!string.IsNullOrEmpty(Model.VideoUrl)){
        url = Model.VideoUrl.Replace("watch?v=", "embed/");
    }
    //resources for product tags input
    Html.AppendCssFileParts("~/lib/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/lib/tagEditor/jquery.caret.min.js");

        //TODO move to Model
        var blogTags = blogService.GetAllBlogPostTags(0, 0, true);
        var blogTagsSb = new StringBuilder();
        blogTagsSb.Append("var initialBlogTags = [");
        for (var i = 0; i < blogTags.Count; i++)
        {
            var tag = blogTags[i];
            blogTagsSb.Append("'");
            blogTagsSb.Append(JavaScriptEncoder.Default.Encode(tag.Name));
            blogTagsSb.Append("'");
            if (i != blogTags.Count - 1)
            {
                blogTagsSb.Append(",");
            }
        }
        blogTagsSb.Append("]");
}
<script>
    //tags
    $(document).ready(function() {
    window.conto = "@blogTagsSb"
        @Html.Raw(blogTagsSb.ToString())
        $("#@Html.IdFor(model => model.Tags)").tagEditor({
            autocomplete: {
                delay: 0,
                position: { collision: 'flip' },
                source: initialBlogTags
            },
            delimiter: ',',
            placeholder: '@T("Admin.ContentManagement.Blog.BlogPosts.Fields.Tags.Placeholder")'
        });
    });
</script>
    <div class="panel-body">
        <div class="form-group" @(Model.AvailableLanguages.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
            <div class="col-md-3">
                <nop-label asp-for="LanguageId" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="LanguageId" asp-items="Model.AvailableLanguages" />
                <span asp-validation-for="LanguageId"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Title" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Title" asp-required="true" />
                <span asp-validation-for="Title"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="label-wrapper"><label class="control-label" for="DisplayOrder">Thứ tự hiển thị</label><div title="Thứ tự hiển thị bài viết"." data-toggle="tooltip" class="ico-help"><i class="fa fa-question-circle"></i></div></div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="DisplayOrder" asp-required="true" />
                <span asp-validation-for="DisplayOrder"></span>
            </div>
        </div>
        <div class="communication">
            <div class="form-group">
                <div class="col-md-3">
                    <div class="label-wrapper"><label class="control-label" >Link Video Youtube cho bài viết truyền thông</label><div title="Link Video Youtube cho bài viết truyền thông" data-toggle="tooltip" class="ico-help"><i class="fa fa-question-circle"></i></div></div>
                </div>
                <div class="col-md-9">
                    <nop-editor class="form-control" asp-for="VideoUrl" />
                    @if(!string.IsNullOrEmpty(url)){
                        <iframe style="margin-top:10px;" width="420" height="315" src="@url"></iframe>
                    }
                </div>
            </div>
        </div>
        <div class="other-news">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Short" />
                </div>
                <div class="col-md-9">
                    <nop-textarea asp-for="Short" asp-required="true" />
                    <span asp-validation-for="Short"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Full" />
                </div>
                <div class="col-md-9">
                    <div class="input-group input-group-required">
                        @Html.EditorFor(model => model.Full, "RichEditor")

                        <div class="input-group-btn">
                            <nop-required />
                        </div>
                    </div>
                    <span asp-validation-for="Full"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="AllowComments" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="AllowComments" />
                <span asp-validation-for="AllowComments"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="StartDateUtc" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="StartDateUtc" />
                <span asp-validation-for="StartDateUtc"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="EndDateUtc" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="EndDateUtc" />
                <span asp-validation-for="EndDateUtc"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="SelectedStoreIds" />
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <nop-select asp-for="SelectedStoreIds" asp-items="Model.AvailableStores" asp-multiple="true" />
                        <script>
                        $(document).ready(function() {
                            var storesIdsInput = $('#@Html.IdFor(model => model.SelectedStoreIds)').data("kendoMultiSelect");
                            storesIdsInput.setOptions({
                                autoClose: false,
                                filter: "contains"
                            });

                            @if (Model.AvailableStores.Count == 0)
                            {
                                <text>
                                    storesIdsInput.setOptions({
                                        enable: false,
                                        placeholder: 'No stores available'
                                    });
                                    storesIdsInput._placeholder();
                                    storesIdsInput._enable();
                                </text>
                            }
                        });
                        </script>
                    </div>
                    <div class="col-md-8">
                        @await Component.InvokeAsync("MultistoreDisabledWarning")
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Published" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Published" />
                <span asp-validation-for="Published"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="ShowOnHomepage">Hiển thị lên trang chủ</label></div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ShowOnHomepage" />
                <span asp-validation-for="ShowOnHomepage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
          <div class="label-wrapper"><label class="control-label" for="IncludeInTopMenu">Hiển thị lên Menu con</label></div>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IncludeInTopMenu" />
                <span asp-validation-for="IncludeInTopMenu"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
           <div class="label-wrapper"><label class="control-label" for="Tags">Gắn thẻ</label></div> 
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Tags" />
                <span asp-validation-for="Tags"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="SelectedCategoryIds" />
            </div>
            <div class="col-md-9">
                <nop-select asp-for="SelectedCategoryIds" asp-items="Model.AvailableCategories" asp-multiple="true" />
                <script>
                                $(document).ready(function() {
                                    var categoryIdsInput = $('#@Html.IdFor(model => model.SelectedCategoryIds)').data("kendoMultiSelect");
                                    categoryIdsInput.setOptions({
                                        autoClose: false,
                                        filter: "contains"
                                    });

                            @if (Model.AvailableCategories.Count == 0)
                            {
                                <text>
                                    categoryIdsInput.setOptions({
                                        enable: false,
                                        placeholder: '@T("Admin.Catalog.Products.Fields.Categories.NoCategoriesAvailable")'
                                    });
                                    categoryIdsInput._placeholder();
                                    categoryIdsInput._enable();
                                    </text>
                            }
                                });
                </script>
            </div>
        </div>
    </div>
@* <script>
$(document).on('change','#SelectedCategoryIds' ,function(){
  var val = $('#SelectedCategoryIds option:selected').val();
  var text = $('#SelectedCategoryIds option:selected').text();
      if(text ==='TRUYỀN THÔNG'){
         $('.communication').
      }else{
           $('.communication').html('<div class="form-group"><div class="col-md-3"><nop-label asp-for="Short" /></div><div class="col-md-9"><nop-textarea asp-for="Short" asp-required="true" /><span asp-validation-for="Short"></span></div></div><div class="form-group"><div class="col-md-3"><nop-label asp-for="Full" /></div><div class="col-md-9"><div class="input-group input-group-required"><div class="input-group-btn"><nop-required /></div></div><span asp-validation-for="Full"></span></div></div>')
      }
})
</script> *@