@model NewsContentModel

@{
    //page title
    ViewBag.PageTitle = "Danh mục";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("News category");
    var data = new DataTablesModel
               {
                   Name = "newsitem-grid",
                   UrlRead = new DataUrl("NewsCategoryList", "News", null),
                   SearchButtonId = "search-newsitem",
                   Length = Model.NewsItems.PageSize,
                   LengthMenu = Model.NewsItems.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                        {
                        new FilterParameter(nameof(Model.SearchName)),
                        new FilterParameter(nameof(Model.SearchCategoryId)),
                        },
                   ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(NewsCategoryModel.DisplayOrder))
                            {
                                Title = "STT",
                                Width = "100"
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Title))
                            {
                                Title = T("Admin.ContentManagement.News.NewsItems.Fields.Title").Text
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.ParentName))
                            {
                                Title = "Danh mục"
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.LanguageName))
                            {
                                Title = T("Admin.ContentManagement.News.NewsItems.Fields.Language").Text,
                                Width = "200"
                            },

                            new ColumnProperty(nameof(NewsCategoryModel.Published))
                            {
                                Title = T("Admin.ContentManagement.News.NewsItems.Fields.Published").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.CreatedOn))
                            {
                                Title = T("Admin.ContentManagement.News.NewsItems.Fields.CreatedOn").Text,
                                Width = "200",
                                Render = new RenderDate()
                            },
                             new ColumnProperty(nameof(NewsCategoryModel.ShowOnHomepage))
                            {
                                Title = "Hiển thị lên trang chủ",
                                Width = "100",
                                Render = new RenderBoolean()
                            },
                                 new ColumnProperty(nameof(NewsCategoryModel.IncludeInTopMenu))
                            {
                                Title = "Hiển thị lên Menu",
                                Width = "100",
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("NewsCategoryEdit"))
                            }
                        }
               };
}

@{
    const string hideSearchBlockAttributeName = "NewsContentPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Danh mục
    </h1>
    <div class="pull-right">
        <a asp-action="NewsCategoryCreate" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>

                    <div class="search-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper"><label class="control-label" for="SearchName">Tiêu đề</label></div>
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <div class="label-wrapper"><label class="control-label" for="SearchName">Danh mục</label></div>
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5">
                                <button type="button" id="search-newsitem" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", data)
                </div>
            </div>
        </div>
    </div>
</div>