@model NewsCategoryModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.NewsItems.EditNewsItemDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("News category");
}


<form asp-controller="News" asp-action="NewsCategoryEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.NewsItems.EditNewsItemDetails") - @Model.Title
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="NewsItems">@T("Admin.ContentManagement.News.NewsItems.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">            
            <button type="button" onclick="javascript:OpenWindow('@Url.RouteUrl("NewsCategory", new {SeName = Model.SeName})', 800, 600, true); return false;" class="btn bg-purple">
                <i class="fa fa-eye"></i>
                @T("Admin.Common.Preview")
            </button>
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="newscategory-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CategoryCreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-action="NewsCategoryDelete" asp-model-id="@Model.Id" asp-button-id="newscategory-delete" />