@model NewsCategoryModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.NewsItems.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("News category");
}

<form asp-controller="News" asp-action="NewsCategoryCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.NewsItems.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="NewsItems">@T("Admin.ContentManagement.News.NewsItems.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CategoryCreateOrUpdate", Model)
</form>