﻿@model NewsCategoryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
}
<style>
    .about-page {
        padding: 0;
    }
</style>
     <main>
        <div class="news-content">
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
            <!-- NEWS CONTENT -->
            <div class="news-content">
                <div class="sub-breadcrumb">
                    <div class="container">
                        <img src="/assets/img/icon/hospital_ico.svg" /> <span>Tin Tức</span>
                    </div>
                </div>
                <div class="news-list">
                    <div class="container">
                    <input type='hidden' id='current_page' />
                    <input type='hidden' id='show_per_page' />  
                    <div id="pagingBox">
                    @foreach (var item in Model.NewsItemListModel.NewsItems){
                        <div class="news-item">
                            <div class="display-flex">
                                <img class="news-img cursor-pointer" src="@item.DefaultPictureModel.ImageUrl" alt="hinh-anh-tin-tuc" onclick='followLink("@(item.SeName)")' />
                                <div>
                                    <h4 class="news-title cursor-pointer"  onclick='followLink("@(item.SeName)")'>@item.Title</h4>
                                    <p>@item.Short</p>
                                    
                                    <a href="@(item.SeName)" class="btn btn-detail"><span>@T("homepage.viewdetail")</span><img style="margin-left: 5px;" src="/assets/img/icon/arrow-circle.svg" /></a>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                      
                    <div id='page_navigation'></div>
                    <nav class="pagination-container">
                        <div class="pagination">
                    @{
                        var pager = Html.Pager(Model.NewsItemListModel.PagingFilteringContext).QueryParam("pagenumber");
                    }
                    @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                    {
                        <div class="pagination-a">
                            @pager
                        </div>
                    }
                        </div>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link',window.location.origin + "/"+link)
        window.location.href = window.location.origin + "/"+link
    }
    setTimeout(() => {
        $('.pagination ul').css('display','flex')
    }, 1000);
</script>
@* <script>
setTimeout(()=>{

jQuery(document).ready(function () {

    var show_per_page = 4;
    //getting the amount of elements inside pagingBox div
    var number_of_items = "@Model.NewsItemListModel.PagingFilteringContext.TotalItems" || 0;
    //calculate the number of pages we are going to have
    var number_of_pages = Math.ceil(+number_of_items / show_per_page);
    console.log('number_of_pages',number_of_pages)
    //set the value of our hidden input fields
    $('#current_page').val(0);
    $('#show_per_page').val(show_per_page);

    var navigation_html = '<a class="previous_link" href="javascript:previous();"><</a>';
    var current_link = 0;
    while (number_of_pages > current_link) {
        navigation_html += '<a class="page_link" href="javascript:go_to_page(' + current_link + ')" longdesc="' + current_link + '">' + (current_link + 1) + '</a>';
        current_link++;
    }
    navigation_html += '<a class="next_link" href="javascript:next();">></a>';

    $('#page_navigation').html(navigation_html);

    //add active_page class to the first page link
    $('#page_navigation .page_link:first').addClass('active_page');

    //hide all the elements inside pagingBox div
    $('#pagingBox').children().css('display', 'none');

    //and show the first n (show_per_page) elements
    $('#pagingBox').children().slice(0, show_per_page).css('display', 'block');

});

},400)


//Pagination JS

function previous() {

    new_page = parseInt($('#current_page').val()) - 1;
    //if there is an item before the current active link run the function
    if ($('.active_page').prev('.page_link').length == true) {
        go_to_page(new_page);
    }

}

function next() {
    new_page = parseInt($('#current_page').val()) + 1;
    //if there is an item after the current active link run the function
    if ($('.active_page').next('.page_link').length == true) {
        go_to_page(new_page);
    }

}
function go_to_page(page_num) {
    //get the number of items shown per page
    var show_per_page = parseInt($('#show_per_page').val());

    //get the element number where to start the slice from
    start_from = page_num * show_per_page;

    //get the element number where to end the slice
    end_on = start_from + show_per_page;

    //hide all children elements of pagingBox div, get specific items and show them
    $('#pagingBox').children().css('display', 'none').slice(start_from, end_on).css('display', 'block');

    /*get the page link that has longdesc attribute of the current page and add active_page class to it
    and remove that class from previously active page link*/
    $('.page_link[longdesc=' + page_num + ']').addClass('active_page').siblings('.active_page').removeClass('active_page');

    //update the current page input field
    $('#current_page').val(page_num);
}
</script> *@