﻿@model NewsItemModel
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Title);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-news-item-page");
    var defaultRelatedImage = "images/specialist/pk01.jpg";
    if (Model.NewsRelated.Any())
    {
        var imageUrl = Model.NewsRelated.First().DefaultPictureModel.ThumbImageUrl;
        if (!string.IsNullOrEmpty(imageUrl))
        {
            defaultRelatedImage = imageUrl;
        }
    }
    var bannerUrl = "/assets/img/gallery/news/01.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
}
<style>
    li.inactive {
    display: none;
    }
    .phone-support{
        color:white;
    }
    .conto{
       width: 100%;
    }
    .blog-content img{
       width: 100%;
       height: auto;
    }
    .conto-related{
       width: 25%;
    }
    .conto-h3{
       text-transform: lowercase;
    }
    .about-page {
        padding: 0;
    }
</style>
    <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <div class="detail-page">
            <section class="blog_area single-post-area section-padding">
                <div class="container">
                   <div class="row">
                      <div class="col-lg-7 posts-list">
                         <div class="single-post">
                           <ul class="blog-info-link mt-3 mb-4">
                              <li><a href="#"><img src="/assets/img/icon/time-gray.svg" alt="ngay-tao"/>@Model.CreatedOn.ToString("dd/MM/yyyy hh:mm")</a></li>
                           </ul>
                            @* <div class="feature-img">
                               <img class="img-fluid conto" src="@Model.DefaultPictureModel.FullSizeImageUrl" alt="hinh-anh-tin-tuc">
                            </div> *@
                            <div class="blog_details">
                               <h2 style="color: #2d2d2d;">@Model.Title</h2>
                               <div class="blog-content">
                               @Html.Raw(Model.Full)
                               </div>
                            </div>
                         </div>
                         
                      </div>
                      <div class="col-lg-5">
                         <div class="blog_right_sidebar">
                           
                            <aside class="single_sidebar_widget popular_post_widget">
                               <h3 class="widget_title" style="color: #2d2d2d;">@T("news.new")</h3>
                               @if( Model.NewsRelated.Count() > 0){
                                   var news= Model.NewsRelated.FirstOrDefault();

                               <div class="post_large">
                                 <img class="img-fluid cursor-pointer" src="@news.DefaultPictureModel.ImageUrl" alt="tin-tuc-lien-quan" onclick='followLink("@(news.SeName)")'>
                                 <h3><a href="@news.SeName">@news.Title</a></h3>
                               </div>
                               }
                            @foreach (var item in Model.NewsRelated.Skip(1)){
                               <div class="media post_item">
                                  <img src="@item.DefaultPictureModel.ImageUrl" class="conto-related cursor-pointer" alt="tin-tuc-lien-quan" onclick='followLink("@(item.SeName)")'>
                                  <div class="media-body">
                                     <a href="@item.SeName" class= "conto-h3">
                                        <h3 style="color: #2d2d2d;">@item.Title</h3>
                                     </a>
                                  </div>
                               </div>
                            }
                            </aside>
                          
                         </div>
                      </div>
                   </div>
                </div>
             </section>
        </div>
    </main>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link',window.location.origin + "/"+link)
        window.location.href = window.location.origin + "/"+link
    }
    setTimeout(() => {
        $('.pagination ul').css('display','flex')
    }, 1000);
</script>