﻿@model ServiceModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    var bannerUrl = "/assets/img/gallery/services/01.jpg";
    if (!String.IsNullOrEmpty(Model.BannerUrl))
    {
        bannerUrl = Model.BannerUrl;
    }
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
}
<style>
    .service-content .service-list .service-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: inline-block;
        background: #EFF3F6;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 6px;
        width: 100%;
    }

    .service-content .service-list .service-item .service-img {
        float: left;
    }
    .conto{
        margin-top: 50px;
        margin-bottom: 50px;
    }
</style>
<main>

    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="service-content new-service-page">
        <div class="sub-breadcrumb">
            <div class="container">
                <img src="/assets/img/icon/hospital_ico.svg" /> <span>Dịch vụ</span>
            </div>
        </div>
        <div class="container">
            <div class="conto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="left-sidebar">
                            <img class="img-fluid" src="/assets/img/gallery/services/bg.jpg" />
                            <div id="sidebar-wrapper" class="sidebar-toggle">
                                <ul class="sidebar-nav">
                                    <li>
                                        <h4>Dịch vụ khám chữa bệnh</h4>
                                    </li>
                                    @foreach (var item in Model.Categories)
                                    {
                                        <li>
                                            <a href="/dich-vu?NewsCategoryId=@item.Id"><img
                                                src="/assets/img/icon/arrow-double.svg">@item.Title</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="service-list">
                            <div class="container  nopadding">
                                @foreach (var item in Model.News.NewsItems)
                                {
                                    <div class="service-item">
                                        <img class="service-img" src="@item.DefaultPictureModel.ImageUrl" />
                                        <div>
                                            <h4 class="news-title cursor-pointer" onclick='followLink("@(item.SeName)")'>
                                                @item.Title</h4>
                                            <p>@item.Short</p>
                                            @* <a href="@(item.SeName)"
                                                class="btn"><span>@T("homepage.viewdetail")</span><img style="margin-left: 5px;"
                                                src="/assets/img/icon/arrow-circle.svg" /></a> *@
                                            <a href="@(item.SeName)"
                                            class="btn-detail"><span>@T("homepage.viewdetail")</span><img
                                                style="margin-left: 5px;" src="/assets/img/icon/arrow-circle.svg" /></a>
                                        </div>
                                    </div>
                                }
                                <nav class="pagination-container">
                                    <div class="pagination">
                                        @{
                                            var pager =
            Html.Pager(Model.News.PagingFilteringContext).QueryParam("pagenumber");
                                        }
                                        @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                                        {
                                            <div class="pagination-a">
                                                @pager
                                            </div>
                                        }
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link', window.location.origin + "/" + link)
        window.location.href = window.location.origin + "/" + link
    }
    setTimeout(() => {
        $('.pagination ul').css('display', 'flex')
    }, 1000);
</script>