﻿@model SpecialistModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    var bannerUrl = "/assets/img/gallery/services/01.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
    var url = "";
    if (!string.IsNullOrEmpty(Model.Category.VideoUrl)){
        url = Model.Category.VideoUrl.Replace("watch?v=", "embed/");
    }
}
<style>
    .about-page {
        padding: 0;
    }
    .pagination-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    }
    @@media screen and (max-width: 480px){
        .tab-content-item .video iframe {
            width: 100%;
        }
    }
</style>
    <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <!-- TAB CONTENT -->
        <div class="about-page">
            <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tb01"
                        role="tab" aria-controls="pills-home" aria-selected="true">GIỚI THIỆU</a> </li>
                <li class="nav-item"> <a class="nav-link" id="pills-tab02" data-toggle="pill" href="#tb02" role="tab"
                        aria-controls="pills-profile" aria-selected="false">CHUYÊN GIA BÁC SĨ</a>
                </li>
                <li class="nav-item"> <a class="nav-link" id="pills-tab03" data-toggle="pill" href="#tb03" role="tab"
                        aria-controls="pills-contact" aria-selected="false">DỊCH VỤ</a> </li>
            </ul> <!-- content -->
            <div class="container">
                <div class="tab-content" id="pills-tabContent p-3">
                    <!-- /////////////////GIOI THIEU ///////////////////-->
                    <div class="tab-pane fade show active" id="tb01" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>GIỚI THIỆU
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                <p class="blog-content">@Html.Raw(Model.Category.SpecialistIntroduce)</p>
                            </div>
                        </div>
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/email.png" />
                                    </span>BÀI VIẾT LIÊN QUAN
                                </h4>
                            </div>
                            <div class="tab-content-item" id='news-data-container'>
                                @* @foreach (var item in Model.News.NewsItems){
                                <div class="post-item">
                                  <img src="@item.DefaultPictureModel.ImageUrl" class="post-img cursor-pointer" alt="tin-tuc-lien-quan" onclick='followLink("@(item.SeName)")'>
                                    <article>
                                    <h4 class="news-title cursor-pointer"  onclick='followLink("@(item.SeName)")'>@item.Title</h4>
                                        <p>@item.Short
                                        </p>
                                        <p class="see-more">
                                            <a class="btn-share"><img src="/assets/img/icon/share.png" alt="" /></a>
                                            <a href="@(item.SeName)" class="btn-more"><span>@T("homepage.viewdetail")</span><img style="margin-left: 5px;" src="/assets/img/icon/arrow-circle.svg" /></a>
                                        </p>
                                    </article>
                                </div>
                                } *@
                            </div>
                        </div>
                        <!-- PAGINATION -->
                        <div class="pagination-container" id="news-pagination-container"></div>
                        @* <nav class="pagination-container">
                            <div class="pagination">
                        @{
                            var pager = Html.Pager(Model.News.PagingFilteringContext).QueryParam("pagenumber");
                        }
                        @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                        {
                            <div class="pagination-a">
                                @pager
                            </div>
                        }
                            </div>
                        </nav> *@
                        <!--END PAGINATION -->
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/video-files.png" />
                                    </span>VIDEO
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                <div class=" video">

                                    <iframe width="849" height="448" src="@url"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ////////////////CHUYEN GIA BAC SI//////////////// -->
                    <div class="tab-pane fade" id="tb02" role="tabpanel" aria-labelledby="pills-tab02">
                        <!-- Doctor Area -->
                        <section class="doctor-area">
                            <div class="doctor-list" id="data-container">
                                @* @foreach (var item in Model.Doctors.Products)
                                {
                                var imageUrl = item.DefaultPictureModel.ImageUrl;
                                if(item.IsRental){
                                    imageUrl = T("setting.homepage.doctor.image.value2").ToString();
                                }
                                <div class="doctor-item bg-light">
                                    <img class="img-fluid" src="@imageUrl" alt="@imageUrl"/>
                                <div class="info">
                                    <label>@T("doctor.specialize")</label>
                                    <p class='doctor-title'><span class="text-blue">@T("doctor.title")</span>: @item.Name</p>
                                    <p class='doctor-specialize'><span class="text-blue">@T("doctor.specialize")</span>: @item.CategoryName</p>
                                    <p><span class="text-blue">@T("doctor.experience"):</span> @item.FullDescription</p>
                                    <p class='doctor-specialize'><span class="text-blue">Thời gian làm việc</span>: @item.Guide</p>
                                        <div>
                                            <a href="/dat-kham" class="btn-green">@T("doctor.booking")</a>
                                        </div>
                                </div>
                                </div>
                                } *@
                            </div>
                            <!-- PAGINATION -->
                            <div class="pagination-container" id="pagination-container"></div>
                            @* @{
                            <nav class="pagination-container" >
                                var pager2 = Html.Pager(Model.Doctors.PagerModel);
                            }
                            @if (!string.IsNullOrEmpty(pager2.ToHtmlString()))
                            {
                                <div class="pager">
                                    @pager2
                                </div>
                            }
                                </div>
                            </nav> *@
                            <!--END PAGINATION -->
                        </section>
                        <!-- VIDEO -->
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/video-files.png" />
                                    </span>VIDEO
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                <div class=" video">

                                    <iframe width="849" height="448" src="@url"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- /. VIDEO -->
                    </div>
                    <!-- /////////////////DICH VU ////////////////////-->
                    <div class="tab-pane fade third" id="tb03" role="tabpanel" aria-labelledby="pills-tab03">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>DỊCH VỤ
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                <p class="blog-content">@Html.Raw(Model.Category.SpecialistService)</p>
                                <div class="center"><button onclick="followLink('dat-kham')" class="btn btn-dark-blue">ĐẶT LỊCH HẸN</button></div>
                            </div>
                        </div>
                        <!-- VIDEO -->
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/video-files.png" />
                                    </span>VIDEO
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                <div class=" video">

                                    <iframe width="849" height="448" src="@url"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!-- /. VIDEO -->
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    function followLink(link) {
        window.location.href = window.location.origin + "/"+link
    }
    setTimeout(() => {
        $('.pagination ul').css('display','flex')
        var newsCategoryId = '@Model.Category.Id'
        $('#pagination-container').pagination({
            dataSource: `/News/SpecialistDoctors?newsCategoryId=${newsCategoryId}`,
            locator: 'result',
            totalNumberLocator: function(response) {
                // you can return totalNumber by analyzing response content
                return response.total;
            },
            pageSize: 10,
            ajax: {
                @* beforeSend: function() {
                    $("#data-container").html('Đang tải dữ liệu ...');
                } *@
            },
            callback: function(data, pagination) {
                // template method of yourself
                   const {pageNumber, pageSize} = pagination
                   $("#data-container").empty();
                   let itemAdded = 0;
                   for(let item of data){
                        var imageUrl = item.DefaultPictureModel.ImageUrl
                        if(item.IsRental){
                            imageUrl = '@T("setting.homepage.doctor.image.value2").ToString()';
                        }
                        
                       let html = `<div class="doctor-item bg-light">
                            <img class="img-fluid" src="${imageUrl}" alt="${imageUrl}"/>
                            <div class="info">
                                <label class="">@T("doctor.specialize")</label>
                                <p class='doctor-title'><span class="text-blue">@T("doctor.title")</span>: ${item.Name}</p>
                                <p class='doctor-specialize'><span class="text-blue">@T("doctor.specialize")</span>: ${item.CategoryName}</p>
                                <p><span class="text-blue">@T("doctor.experience"):</span> ${item.FullDescription}</p>
                                <p class='doctor-specialize'><span class="text-blue">Thời gian làm việc</span>: ${item.Guide}</p>
                                    <div>
                                        <a href="/dat-kham" class="btn-green">@T("doctor.booking")</a>
                                    </div>
                            </div>
                        </div>`
                    $("#data-container").append(html);
                    itemAdded++
                   }
            }
        })
        $('#news-pagination-container').pagination({
            dataSource: `/News/SpecialistNews?newsCategoryId=${newsCategoryId}`,
            locator: 'News.NewsItems',
            totalNumberLocator: function(response) {
                // you can return totalNumber by analyzing response content
                return response.PagingFilteringContext.TotalItems;
            },
            pageSize: 2,
            ajax: {
                @* beforeSend: function() {
                    $("#data-container").html('Đang tải dữ liệu ...');
                } *@
            },
            callback: function(data, pagination) {
                // template method of yourself
                   $("#news-data-container").empty();
                   console.log('news data',data)
                  
                   for(let item of data){
                       let html = ` <div class="post-item">
                                  <img src="${item.DefaultPictureModel.ImageUrl}" class="post-img cursor-pointer" alt="tin-tuc-lien-quan" onclick='followLink("${item.SeName}")'>
                                    <article>
                                    <h4 class="news-title cursor-pointer"  onclick='followLink("${item.SeName}")'>${item.Title}</h4>
                                        <p>${item.Short}
                                        </p>
                                        <p class="see-more">
                                            <a class="btn-share"><img src="/assets/img/icon/share.png" alt="" /></a>
                                            <a href="${item.SeName}" class="btn-more"><span>@T("homepage.viewdetail")</span><img style="margin-left: 5px;" src="/assets/img/icon/arrow-circle.svg" /></a>
                                        </p>
                                    </article>
                                </div>`
                    $("#news-data-container").append(html);
                   }
            }
        })
    }, 1000);
</script>