﻿@model NewsCategoryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.NewsArchive").Text);
    var bannerUrl = "/assets/img/gallery/guide/01.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");
}
<style>
    .card{
        min-height: 315px;
    }
    .about-page {
        padding: 0;
    }
</style>
       <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <div class="guide-page">
            <div class="sub-breadcrumb">
                <div class="container">
                    <img src="/assets/img/icon/hospital_ico.svg" /> <span>HƯỚNG DẪN KHÁCH HÀNG</span>
                </div>
            </div>
            <div class="guide-content">
                <section class="bg-light-blue pt-5 pb-5">
                    <div class="container">
                        <!-- GUIDE LIST -->
                        <div class="row align-items-center guide-list">
                            <div class="col-lg-12">
                                <div class="row">
                                    @foreach (var item in Model.NewsItemListModel.NewsItems)
                                    {
                                    <div class="col-md-3 col-sm-6 col-6">
                                        <a href="@item.SeName" class="card guide-item">
                                            <img class="card-img-top" src="@item.DefaultPictureModel.ImageUrl"
                                                alt="huong-dan"/>
                                            <div class="card-body">
                                                <h5 class="mb-0">@item.Title</h5>
                                            </div>
                                        </a>
                                    </div>
                                    }
                                </div>
                                 <!-- PAGINATION -->
                                 <nav class="pagination-container">
                                    <div class="pagination">
                                    @{
                                        var pager = Html.Pager(Model.NewsItemListModel.PagingFilteringContext).QueryParam("pagenumber");
                                    }
                                    @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                                    {
                                        <div class="pagination-a">
                                            @pager
                                        </div>
                                    }
                                        </div>
                                </nav>
                                <!--END PAGINATION -->
                            </div>
                        </div>
                        <!-- GUIDE LIST -->
                    </div>
                </section>
            </div>

        </div>
    </main>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link',window.location.origin + "/"+link)
        window.location.href = window.location.origin + "/"+link
    }
    setTimeout(() => {
        $('.pagination ul').css('display','flex')
    }, 1000);
</script>