﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
    <!-- ? Preloader Start -->
    @* <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/assets/img/logo/logo.png" alt="logo">
                </div>
            </div>
        </div>
    </div> *@
    <!-- Preloader Start -->
