﻿@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
    //page class
    Html.AppendPageCssClassParts("html-not-found-page");
    var err = "Rất tiếc, trang bạn đang tìm có thể không tồn tại";
    if(ViewBag.Error!= null){
        err = ViewBag.Error;
    }
}

<div class="page not-found-page">
    <div class="page-body">
    <main class="page-not-found">
        <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>422</div>
            <h3>Dữ liệu trống</h3>
            <div class='_2'>@err</div>
            <a class='btn btn-back' href='/'>Trở về trang chủ</a>
        </div>
    </main>


    <!--? Search model Begin -->
    <div class="search-model-box">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    </div>
</div>
<script>
    console.log('Error: ', '@ViewBag.Error')
</script>