﻿@model Nop.Web.Models.Home.AboutRecruitModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
  Layout = "_ColumnsOne";

  //page class
  Html.AppendPageCssClassParts("html-home-page");
  var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
  var bannerUrl = "/assets/img/gallery/recruit/01.jpg";
  if (!String.IsNullOrEmpty(Model.BannerUrl))
  {
    bannerUrl = Model.BannerUrl;
  }
}
<main>
  <div class="recruit-page">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
      <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="recruit-content">
      <div class="sub-breadcrumb">
        <div class="container">
          <img src="/assets/img/icon/hospital_ico.svg" /> <span>Thông tin tuyển dụng</span>
        </div>
      </div>
      <div class="container conto">
        <div class="tab-vertical">
          <div class="row">
            <!-- recruit-content left -->
            <div class="col-lg-3 col-md-12">
              <div class="recruit-content-left">
                <div class="label">
                  <span>TẤT CẢ CÁC BỘ PHẬN</span>
                </div>
                <ul class="nav nav-tabs" id="myTab3" role="tablist">
                  @foreach (var item in Model.RecruitFaculties)
                  {
                    <li class="nav-item"> <a class="nav-link " data-id="@item.Id" id="home-vertical-tab"
                      href="/thong-tin-tuyen-dung?command.RecruitFacultyId=@item.Id" role="tab" aria-controls="home"
                      aria-selected="true"><i class="fas fa-chevron-right"></i>@item.Name</a> </li>
                  }
                </ul>
              </div>
            </div>
            <!-- /. recruit-content left -->
            <!-- recruit-content right -->
            <div class="col-lg-9 col-md-12">
              <div class="recruit-content-right">
                <div class="tab-content" id="myTabContent3">
                  <div class="tab-pane fade show active" id="home-vertical" role="tabpanel"
                    aria-labelledby="home-vertical-tab">
                    <div class="table-responsive text-nowrap">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>VỊ TRÍ</th>
                            <th>SỐ LƯỢNG</th>
                            <th>ỨNG TUYỂN</th>
                          </tr>
                        </thead>
                        <tbody>
                          @foreach (var item in Model.Jobs)
                          {
                            <tr>
                              <td><a href="/@item.SeName">@item.Title</a></td>
                              <td><b>@item.Count</b></td>
                              <td><a href="/@item.SeName" class="btn-stroke-red">Ứng tuyển</a></td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div id='page_navigation'></div>
              <nav class="pagination-container">
                <div class="pagination">
                  @{
                    var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                  }
                  @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                  {
                    <div class="pagination-a">
                      @pager
                    </div>
                  }
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
<script>
  function followLink(link) {
    console.log('window.location.origin + "/"+link', window.location.origin + "/" + link)
    window.location.href = window.location.origin + "/" + link
  }
  setTimeout(() => {
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const { 'command.RecruitFacultyId': recuitFacultyId } = params

    console.log('recuitFacultyId', recuitFacultyId, params)
    $('.pagination ul').css('display', 'flex')
    if (!recuitFacultyId) {
      $($('.nav-link')[0]).addClass('active')
    } else {
      $('.nav-link').map((index, item) => {
        const id = $(item).data('id')
        if (`${id}` == `${recuitFacultyId}`) {
          window.conto = {
            id,
            recuitFacultyId
          }
          $(item).addClass('active')
        }
      })
    }
  }, 1000);
</script>