﻿@model Nop.Web.Models.Home.JobModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
  Layout = "_ColumnsOne";

  //page class
  Html.AppendPageCssClassParts("html-home-page");
  var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
  var bannerUrl = "/assets/img/gallery/recruit/01.jpg";
  if(!String.IsNullOrEmpty(Model.BannerUrl)){
      bannerUrl = Model.BannerUrl;
  }
}
    <main>
        <div class="recruit-page">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
            <div class="recruit-content">
        <div class="sub-breadcrumb">
            <div class="container">
                <img src="/assets/img/icon/hospital_ico.svg" /> <span>Thông tin tuyển dụng</span>
            </div>
        </div>
                <div class="container conto">
                    <div class="tab-vertical">
                        <div class="row">
                            <!-- recruit-content left -->
                            <div class="col-12">
                                <div class="recruit-content-left">
                                    <div class="label center">
                                        <span>PHIẾU THÔNG TIN CÁ NHÂN</span>
                                    </div>
                                </div>
                                <div class="recruit-title">
                                    <h5>THÔNG TIN ỨNG TUYỂN</h5>
                                    <hr>
                                    <form asp-controller="Home" asp-action="UploadCV" enctype="multipart/form-data" method="post">
                                      <input type="hidden" name="JobId" value="@Model.Id"/>
                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label class="col-form-label">Vị trí ứng tuyển</label>
                                                <input type="text" class="form-control" name="name"
                                                    placeholder="@Model.Position" disabled>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label class="col-form-label">Họ và Tên(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="FullName"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ds-flex group-gender">
                                            <label class="col-form-label">Giới tính(<b class="txt-red">*</b>)</label>
                                            <div class="display-flex">
                                                <label class="radio-container ds-flex">
                                                    <input type="radio" name="Gender" value="False">
                                                    <span class="checkmark"></span>
                                                    Nam
                                                </label>
                                                <label class="radio-container ds-flex">
                                                    <input type="radio" checked name="Gender" value="True">
                                                    <span class="checkmark"></span>
                                                    Nữ
                                                </label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label class="col-form-label">Số điện thoại(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="number" class="form-control" name="PhoneNumber"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6 col-md-6">
                                                <label class="col-form-label">Email(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="Email"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Địa chỉ thường trú(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="Address"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Tỉnh/Thành phố(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control city" id="province" name="CityId" required  onchange="getDirectory('district',this.value)" tabindex="14">
                                                        <option selected>--Chọn--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Quận/Huyện(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control district" id="district" name='DistrictId'  required  onchange="getDirectory('ward',this.value)" tabindex="14">
                                                        <option selected>--Chọn--</option>
                                                        <option value="3521" selected>--Không xác định--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Phường/Xã(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control ward" id="ward" required name='WardId'>
                                                        <option selected>--Chọn--</option>
                                                        <option value="45134" selected>--Không xác định--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Địa chỉ tạm trú(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="TempAddress"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Tỉnh/Thành phố(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control city1" id="province" name="TempCityId" required  onchange="getDirectory('district1',this.value)" tabindex="14">
                                                        <option selected>--Chọn--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Quận/Huyện(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control district1" id="district" name='TempDistrictId'  required  onchange="getDirectory('ward1',this.value)" tabindex="14">
                                                        <option selected>--Chọn--</option>
                                                        <option value="3521" selected>--Không xác định--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-3 col-md-3">
                                                <label class="col-form-label">Phường/Xã(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <select class="form-control ward1" id="ward" required name='TempWardId'>
                                                        <option selected>--Chọn--</option>
                                                         <option value="45134" selected>--Không xác định--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="col-form-label">Ngành học(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="Major"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="col-form-label">Tên trường(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="College"
                                                    required="required" aria-autocomplete="list">
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-4 col-md-4">
                                                <label class="col-form-label">Số năm kinh nghiệm(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <input type="text" class="form-control" name="Expirence"
                                                        required="required" aria-autocomplete="list">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                                <label class="col-form-label">Giới thiệu về bản thân(<b class="txt-red">*</b>)</label>
                                                <div class="">
                                                    <textarea rows="5" class="form-control" name="Bio" required></textarea>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <h5>ĐÍNH KÈM TIỆP TIN</h5>
                                            <div class="">
                                                <label for="et_pb_contact_brand_file_request_0"
                                                    class="et_pb_contact_form_label"><i
                                                        class="fas fa-cloud-upload-alt"></i></label>
                                                <input type="file" id="et_pb_contact_brand_file_request_0" 
                                                name="AttachFile"
                                                accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf"
                                                    class="file-upload">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn-red" value="ỨNG TUYỂN" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


<script>
setTimeout(()=>{
    console.log('time out')
    $(document).ready(()=>{
    console.log('go')
        $(`.city`).children().remove()
        $(`.city`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=VN`).then(res=>{
                (res || []).map(x=> $(`.city`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
        
        $(`.city1`).children().remove()
        $(`.city1`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=VN`).then(res=>{
                (res || []).map(x=> $(`.city1`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
    })
},1000)    
const getDirectory = (type,value)=>{
    switch(type){
        case 'city':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetCities?country_code=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'district':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $(`.${type}`).append(` <option value="3521" selected>--Không xác định--</option>`)
            $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'ward':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $(`.${type}`).append(` <option value="45134" selected>--Không xác định--</option>`)
            $.getJSON(`/booking/GetWards?district_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
         case 'city1':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetCities?country_code=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'district1':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $(`.${type}`).append(` <option value="3521" selected>--Không xác định--</option>`)
            $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'ward1':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $(`.${type}`).append(` <option value="45134" selected>--Không xác định--</option>`)
            $.getJSON(`/booking/GetWards?district_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        default:
            break
    }
}
</script>