﻿@model Nop.Web.Models.Home.AboutPageModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
     var url = "";
    if (!string.IsNullOrEmpty( Model.AboutVideoUrl)){
     url = Model.AboutVideoUrl.Replace("watch?v=", "embed/");
    }
    var bannerUrl = "/assets/img/sliders/main-slider.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
}
<style>
.about-page {
    padding: 0;
}
@@media screen and (max-width : 480px){
   .tab-content-item .video iframe{
       width: 100%;
   }
}
</style>
    <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <!-- TAB CONTENT -->
        <div class="about-page">
            <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">
                <li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#tb01"
                        role="tab" aria-controls="pills-home" aria-selected="true">TẦM NHÌN</a> </li>
                <li class="nav-item"> <a class="nav-link" id="pills-tab02" data-toggle="pill" href="#tb02" role="tab"
                        aria-controls="pills-profile" aria-selected="false">SỨ MỆNH</a>
                </li>
                <li class="nav-item"> <a class="nav-link" id="pills-tab03" data-toggle="pill" href="#tb03" role="tab"
                        aria-controls="pills-contact" aria-selected="false">GIÁ TRỊ CỐT
                        LÕI</a> </li>
                <li class="nav-item"> <a class="nav-link" id="pills-tab04" data-toggle="pill" href="#tb04" role="tab"
                        aria-controls="pills-contact" aria-selected="false">VÌ SAO CHỌN
                        SAIGON HEALTHCARE</a> </li>
            </ul> <!-- content -->
            <div class="container">
                <div class="tab-content" id="pills-tabContent p-3">
                    <!-- TẦM NHÌN -->
                    <div class="tab-pane fade show active" id="tb01" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>TẦM NHÌN
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                @Html.Raw(Model.AboutVision)
                            </div>
                        </div>
                    </div>
                    <!-- SỨ MỆNH -->
                    <div class="tab-pane fade" id="tb02" role="tabpanel" aria-labelledby="pills-tab02">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>SỨ MỆNH
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                @Html.Raw(Model.AboutMission)
                            </div>
                        </div>
                    </div>
                    <!--GIÁ TRỊ COT LÕI -->
                    <div class="tab-pane fade third" id="tb03" role="tabpanel" aria-labelledby="pills-tab03">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>GIÁ TRỊ CỐT LÕI
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                @Html.Raw(Model.AboutCoreValue)
                            </div>
                        </div>

                    </div>
                    <!-- VÌ SAO CHON SAIGONHEALTHCARE -->
                    <div class="tab-pane fade third" id="tb04" role="tabpanel" aria-labelledby="pills-tab04">
                        <div class="tab-item">
                            <div class="title-tab">
                                <h4>
                                    <span class="tb-icon">
                                        <img src="/assets/img/icon/focus.png" />
                                    </span>VÌ SAO CHỌN SAIGON HEALTHCARE
                                </h4>
                            </div>
                            <div class="tab-content-item">
                                @Html.Raw(Model.AboutWhyChooseUs)
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-item">
                    <div class="title-tab">
                        <h4>
                            <span class="tb-icon">
                                <img src="/assets/img/icon/email.png" />
                            </span>BÀI VIẾT LIÊN QUAN
                        </h4>
                    </div>
                    <div class="tab-content-item">
                        @foreach(var item in Model.News){
                        <div class="post-item">
                            <img class="post-img" src="@item.DefaultPictureModel.ImageUrl" alt="hinh-anh-tin-tuc" onclick='followLink("@(item.SeName)")'  />
                            <article>
                                <h4 class="news-title cursor-pointer"  onclick='followLink("@(item.SeName)")'>@item.Title</h4>
                                <p>@item.Short</p>
                                <p class="see-more">
                                    <a class="btn-share"><img src="/assets/img/icon/share.png" alt="" /></a>
                                    <a href="@(item.SeName)" class="btn-more">XEM CHI TIẾT</a>
                                </p>
                            </article>
                        </div>
                        }
                    </div>
                </div>
                    @* <!-- PAGINATION -->
                    <div class="text-center mtb50 paging">
                        <nav class="pagination-container">
                            <div class="pagination">
                        @{
                            var pager = Html.Pager(Model.PagerModel);
                        }
                        @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                        {
                            <div class="pagination-a">
                                @pager
                            </div>
                        }
                            </div>
                        </nav>
                    </div>
                    <!--END PAGINATION --> *@
                <div class="tab-item">
                    <div class="title-tab">
                        <h4>
                            <span class="tb-icon">
                                <img src="/assets/img/icon/video-files.png" />
                            </span>VIDEO
                        </h4>
                    </div>
                    <div class="tab-content-item">
                        <div class=" video">
                            
                            <iframe width="80%" height="448" src="@url" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    function followLink(link) {
        console.log('window.location.origin + "/"+link',window.location.origin + "/"+link)
        window.location.href = window.location.origin + "/"+link
    }
    setTimeout(() => {
        $('.pagination ul').css('display','flex')
    }, 1000);
</script>