﻿@model Nop.Web.Models.Home.AboutPageModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
     var url = "";
    if (!string.IsNullOrEmpty( Model.AboutVideoUrl)){
     url = Model.AboutVideoUrl.Replace("watch?v=", "embed/");
    }
}
    <main>
        <div class="sub-banner">
            <div class="banner">
                <img src="~/assets/img/gallery/abouts/bg_banner.png" alt="ve-chung-toi-banner"/>
                <div class="banner-bottom">
                    <div class="container">
                        <div class="sub-breadcrumb">
                            <img src="~/assets/img/icon/hospital_ico.svg" alt='@T("menu.aboutus")'/> <span>@T("menu.aboutus")</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="about-content">
            <div class="container">
                <div class="">
                    <div class="slider-bottom">
                        <ul>
                             @foreach(var item in Model.Faculties){
                            <li><img class="icon-img" src="~/assets/img/icon/heart.svg" alt='ten-khoa'/><span>@item.Name</span></li>
                             }
                        </ul>
                    </div>
                </div>
                <div class="about-sec about-sec-01">
                    <div class="row">
                        <div class="col-md-5"><img class="img-fluid" src="~/assets/img/gallery/abouts/ab001.jpg" alt="ve-chung-toi-hinh-anh-chung"/></div>
                        <div class="col-md-7">
                            <h5 class="about-overview">@T("about.overview")</h5>
                            <h3 class="about-sghc">@T("about.sghc")</h3>
                            <div>
                                <p>
                                @homepageSettings.BrandShortDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="about-sec about-sec-02">
                    <div class="container bg-grey">
                        <div class="row flex-flow">
                            <div class="col-md-6 nopadding"><img class="img-fluid img-sec" src="~/assets/img/gallery/abouts/ab01.jpg" alt="ve-chung-toi-hinh-anh-chung"/></div>
                            <div class="col-md-6 center">
                                <div class="col-grey"><img src="~/assets/img/icon/bed.svg" alt="ve-chung-toi-hinh-anh-chung"/>
                                    <p>@T("about.modern")</p></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 center">
                               <div class="col-grey">
                                <img src="~/assets/img/icon/stethoscope.svg" alt="ve-chung-toi-hinh-anh-chung"/>
                                <p>@T("about.dedicated")</p>
                               </div>
                            </div>
                            <div class="col-md-6 nopadding "><img class="img-fluid img-sec" src="~/assets/img/gallery/abouts/ab01.jpg" alt="ve-chung-toi-hinh-anh-chung" /></div>
                        </div>
                    </div>
            </div>
            <div class="about-sec about-sec-03">
                <div class="video-container">
                    <div class="container">
                        <h3 class="section-title"><img src="~/assets/img/icon/camera.svg" alt="ve-chung-toi-hinh-anh-chung"/>@T("setting.homepage.communicate.text") </h3><br>
                        <div class="row">
                              @foreach (var item in Model.Communications)
                        {
                            <!-- video-testimonail -->
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 video-item">
                                <div class="">
                                    <div class="thumbnail">
                                        <a data-fancybox="video-gallery" href="@item.Short"><img class="icon-video-large" src="~/assets/img/icon/play.svg" alt="ve-chung-toi-hinh-anh-chung"/><img class="img-video-large" src="@item.DefaultPictureModel.ImageUrl" alt="ve-chung-toi-hinh-anh-chung"></a>
                                    </div>
                                </div>
                                <div class="video-testimonial-content">
                                    <h5 class='homepage-communicate-title'><a href="@item.Short">@item.Title</a></h5>
                                </div>
                            </div>
                            <!-- /.video-testimonail -->
                        }
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>