﻿@model Nop.Web.Models.Home.JobModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
  Layout = "_ColumnsOne";

  //page class
  Html.AppendPageCssClassParts("html-home-page");
  var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
  var bannerUrl = "/assets/img/gallery/recruit/01.jpg";
  if(!String.IsNullOrEmpty(Model.BannerUrl)){
      bannerUrl = Model.BannerUrl;
  }
}
<main>
  <div class="recruit-page">
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="recruit-info-content">
        <div class="sub-breadcrumb">
            <div class="container">
                <img src="/assets/img/icon/hospital_ico.svg" /> <span>Thông tin tuyển dụng</span>
            </div>
        </div>
      <div class="container conto">
        <div class="tab-vertical">
          <div class="row">
            <!-- recruit-content left -->
            <div class="col-12">
              <div class="recruit-content-left">
                <div class="label center">
                  <span>THÔNG TIN TUYỂN DỤNG</span>
                </div>
              </div>
              <div class="recruit-title">
                <div>
                  <h4 class="recruit-part txt-red">@Model.Title</h4>
                  <span class="fl-right">Ngày đăng: @Model.CreatedOnUtc.ToString("dd/MM/yyyy")</span>
                </div>
                <p class="recruit-label">
                  <span>Số lượng : <b>@Model.Count</b></span>
                  <span>Bộ phận: <b>@Model.RecruitFacultyName</b></span>
                  <span>Trạng thái: <b>@(Model.Active?"Đang tuyển dụng":"Hết hạn")</b></span>
                </p>
                <p><a href="/ung-tuyen?jobId=@Model.Id" class="btn-red">Ứng tuyển</a></p>
              </div>
              <div class="recruit-content">
                @Html.Raw(@Model.Full)
                <a href="/ung-tuyen?jobId=@Model.Id" class="btn-red">Ứng tuyển</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>

  setTimeout(() => {

    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    const { jobId, success } = params
    if (success) {
      alert('Gửi CV thành công! Chúng tôi sẽ phản hồi bạn trong thời gian sớm nhất!')
    }
  }, 500);
</script>