﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@model List<Nop.Core.Domain.Stores.Branch>
@{
    Layout = "_ColumnsOne";
    string url = Uri.EscapeUriString("bệnh viện thống");
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);
    var bannerUrl = "/assets/img/gallery/contact/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
     }
}
<main>
    <!-- ////////////BANNER//////////////// -->
    <div class="main-banner">
        <img class="img-fluid" src="@bannerUrl" />
    </div>
    <!--////////////// /. BANNER////////// -->
    <div class="contact-page">
        <div class="sub-breadcrumb">
            <div class="container">
                <img src="/assets/img/icon/hospital_ico.svg" /> <span>Thông tin liên hệ</span>
            </div>
        </div>
        <!-- FORM -->
        <div class="contact-form">
            <div class="container">
                <form asp-controller="Booking" asp-action="SendEmail" method="post" id="send-email-form" >
                <div class="contact_form">
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Cơ sở *</label>
                                <select class="custom-select" style="font-size: 14px;color: black;" id="gender2">
                                    <optgroup selected>Chọn cơ sở</optgroup>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Danh xưng</label>
                                <select style="font-size: 14px;color: black;"  class="custom-select" name="Gender" required>
                                    <option selected value='false'>Ông</option>
                                    <option value="true">Bà</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Họ & Tên</label>
                                <input type="text" name="FullName" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Điện thoại *</label>
                                <input type="number" name="PhoneNumber" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Địa chỉ email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Để lại lời nhắn</label>
                                <textarea name="Message" required class="form-control" placeholder="nội dung lời nhắn">
                                    </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-dark-blue">GỬI THÔNG TIN</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- /. FORM -->
        <div class="map">
            <h4 class="row text-center mt-2">SƠ ĐỒ MAP</h4>
            <iframe
                src="https://maps.google.com/maps?q=@Uri.EscapeUriString(storeAddress)&t=&z=13&ie=UTF8&iwloc=&output=embed"
                width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</main>

<script>
    const success = '@ViewBag.Result' === 'success'
    if(success){
        alert('Gửi thông tin thành công! Chúng tôi sẽ liên hệ lại trong thời gian sớm nhất.')
    }
</script>