﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Models.Home;
@model HomepageModel
@{
    Layout = "_ColumnsOne";

    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var sliderMobiles = Model.SliderMobiles;
    if(!sliderMobiles.Any()){
        sliderMobiles = Model.Sliders;
    }
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    if (homepageSettings.VideoUrl.Length > 11)
    {
        homepageSettings.VideoUrl = homepageSettings.VideoUrl.Substring(Math.Max(0, homepageSettings.VideoUrl.Length - 11));
    }
    var defaultImageURL = "images/news/new01.jpg";
    var hotNewsImageURL = Model.HotNews.DefaultPictureModel.ImageUrl;
    if (hotNewsImageURL == null)
    {
        hotNewsImageURL = defaultImageURL;
    }
    var rnd = new Random();
    var errors = new List<string>();
    var rss = new Nop.Core.Rss.RssItem();
    try
    {
        rss = Model.RssFeed.Items.FirstOrDefault();
    }
    catch (System.Exception err)
    {
        errors.Add(err.Message);
    }
    var title = "RSS";
    var content = "RSS";
    var link = new Uri("https://saigonhealthcare.vn");
    var pubDate = new DateTimeOffset();
    var id = "0";
    if (rss == null)
    {
        try
        {
            rss = new Nop.Core.Rss.RssItem(title, content, link, id, pubDate);
        }
        catch(System.Exception err)
        {
            errors.Add(err.Message);
        }
    }

    var mainRss = Model.MainRss.Items.FirstOrDefault();
    if (mainRss == null)
    {
        try
        {
            mainRss = new Nop.Core.Rss.RssItem(title, content, link, id, pubDate);
        }
        catch(System.Exception err)
        {
            errors.Add(err.Message);
        }
    }
    var errs = String.Join(",",errors);

    var randomIcon = new List<string>{
"assets/img/icon/heart.svg",
"assets/img/icon/baby.svg",
"assets/img/icon/stomach.svg",
};
    var randomImg = new List<string>{
"/assets/img/gallery/ab_01.jpg",
"/assets/img/gallery/ab_02.jpg"
};
    var rss1Url = randomImg[rnd.Next(randomImg.Count)];
    var rss2Url = randomImg[rnd.Next(randomImg.Count)];
    if (!String.IsNullOrEmpty(Model.MainRss1Url))
    {
        rss1Url = Model.MainRss1Url;
    }
    if (!String.IsNullOrEmpty(Model.MainRss2Url))
    {
        rss2Url = Model.MainRss2Url;
    }
}
<style>
    .news-list-image {
        width: 25px !important;
        height: 25px !important;
    }

    .news-item-info a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h5,
    h4 {
        text-align: justify;
    }

    .news-list-wraper {
        margin-left: 5px;
    }

    .video-item {
        margin-top: 10px;
    }

    .insurance-item img {
        max-height: 100px;
        height: auto;
        object-fit: cover;
    }
    .about-low-area .package .package-item img{
        min-width: 255px;
    }
    .slider-area img{
            object-fit: fill;
        }
    .slider-area .slider, .slider-area .slider > div{
        height: auto;
        @* min-height: 330px; *@
    }
    @@media screen and (max-width : 480px){
        .about-low-area .package .package-item img{
            height: 265px;
        }
        .slider-area .slider, .slider-area .slider > div{
            height: 200px;
            width: auto;
        }
        .slider-area .slider > ul > li{
            display: none;
        }
        .slider-area img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            background-color: white;
        }
            .about-low-area .package .package-item img{
                min-width: 385px;
            }
    }
    .about-low-area .package .package-item .package-content .des h5{
        margin-left: 40px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .about-low-area .package .package-item .package-content .des{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
     @@media screen and (max-width: 480px){
        .clinic-info {
            margin-top: 20px;
        } 
            .slider-faculty-mini{
                display: none;
        }
        .slider .left, .slider .right{
            display: none;
        }
    }
    .doctor-info{
        background-image: url('@Model.DoctorPictureUrl')!important;
    }
    .vendor-area{
        background-image: url('@Model.VendorPictureUrl')!important;
    }
    @@media screen and (max-width: 480px){
       .doctor-info{
        background-image: url('@Model.DoctorMobilePictureUrl')!important;
        }
        .vendor-area{
            background-image: url('@Model.VendorMobilePictureUrl')!important;
            background-size: contain;
            padding-top:100%;
        }
    }
    .slider-mobile{
        display: none;
    }
    @@media screen and (max-width: 480px){
       .slider-mobile{
            display: block;
        }
        .slider-desktop{
            display: none;
        }
    }
@@media screen and (min-width: 370px) and (max-width: 380px) {
    .about-low-area .package .package-item .package-content{
        right: 30px;
        }
    }
@@media screen and (min-width: 768px) and (max-width: 768px) {
    .carousel-inner{
        width: 140%;
        }
    }
@@media screen and (min-width: 540px) and (max-width: 540px) {
    .carousel-inner{
        width: 94%;
        }
    }
}
</style>
<main>
    <!--? //////////////////slider Area Start/////////////////////-->
    <div class="slider-area position-relative slider-desktop">
        <!-- Slider 1 -->
        <div class="slider" id="slider1">
            <!-- Slides -->
            @foreach (var item in Model.Sliders)
            {
                <div class="cursor-pointer" onclick="followLink('@item.Url')">
                    <img id="slider-picture" src="@item.PictureThumbnailUrl" /></div>
            }
            <!-- The Arrows -->
            <!-- <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                    <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
                </svg></i>
            <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                    <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                        transform="translate(100, 100) rotate(180) "></path>
                </svg></i> -->

        </div>
    </div>
    <div class="slider-area position-relative slider-mobile">
        <!-- Slider 1 -->
        <div class="slider" id="slider1">
            <!-- Slides -->
            @foreach (var item in Model.SliderMobiles)
            {
                <div class="cursor-pointer" onclick="followLink('@item.Url')">
                    <img id="slider-picture" src="@item.PictureThumbnailUrl" /></div>
            }
            <!-- The Arrows -->
            <i class="left" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                    <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path>
                </svg></i>
            <i class="right" class="arrows" style="z-index:2; position:absolute;"><svg viewBox="0 0 100 100">
                    <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"
                        transform="translate(100, 100) rotate(180) "></path>
                </svg></i>

        </div>
    </div>
    <div class="slider-bottom slider-faculty-mini">
        <div class="container">
            <div class="items">
                @foreach (var item in Model.NewsFaculties.Items)
                {
                    @* int r = rnd.Next(randomIcon.Count);
                    var icon = randomIcon[r];
                    if (!String.IsNullOrEmpty(item.DefaultPictureModel.ImageUrl) &&
                    !item.DefaultPictureModel.ImageUrl.Contains("default-image"))
                    {
                        icon = item.DefaultPictureModel.ImageUrl;
                    } *@
                    <div class="slider-item cursor-pointer"  style="min-height: 60px;" onclick="followLink('@item.SeName')">
                        <img class="icon-img home-slider-icon" src="@item.DefaultPictureModel.ImageUrl" alt="@item.Title" /><span data-id='@item.Id'>@item.Title</span>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- //////////////////slider Area End////////////////-->
    <!--? About 1 Start-->
    <section class="about-low-area section-padding40" style="margin-top: 5px;">
        <div class="container">
            <div class="row justify-content-between register-info">
                <div class="col-xl-5 col-lg-5 col-md-5 ">
                    <img class="img-fluid" src="@Model.BookPictureUrl" />
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-right-cap">
                        <h3 class="section-title"><img src="~/assets/img/icon/calendar-white.svg"
                                alt="dat-kham-ngay" />@T("homepage.booking")</h3>
                        <p>@T("setting.homepage.booking.text")</p>
                        <h4><img class="icon" src="~/assets/img/icon/place.svg"
                                alt="dia-chi-khach-hang" />@T("account.customeraddresses"): @storeAddress
                        </h4>
                        <h4>
                            <img class="icon" src="~/assets/img/icon/time.svg"
                                alt="thoi-gian-lam-viec" />@T("homepage.timetowork"):
                            @T("setting.homepage.timetowork.value")

                        </h4>
                        <div class="ml20">
                            <small>@T("setting.morning") : @T("setting.timetowork.morning.value")</small><br>
                            <small>@T("setting.afternoon") : @T("setting.timetowork.afternoon.value")</small>
                        </div>
                        <div class="mt30"><a href="/dat-kham" class="btn-green btn-booking"><img
                                    src="~/assets/img/icon/register.svg"
                                    alt="dang-ky-kham" />@T("setting.bookingnow.text")</a></div>
                    </div>
                </div>
            </div>
            <div class="row package mt30">
                <div id="carousel-example" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                    @{
                        var bg = "bg-blue";
                        var firstItem = "active";
                        @foreach (var item in Model.Packages)
                        {
                            @* <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                                <!-- <img src="/assets/img/1.jpg" class="img-fluid mx-auto d-block" alt="img1"> -->
                                <div class="package-item">
                                    <img src="@item.DefaultPictureModel.ImageUrl" alt="hinh-anh-goi-kham" />
                                    <div class="package-content @bg">
                                        <div class="des">
                                            <a href="@item.SeName">
                                                <h5 class="package-name">@item.Name</h5>
                                            </a>
                                            <a href="@item.SeName" class="btn-stroke-small">@T("eucookielaw.learnmore")</a>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 @firstItem">
                            <div class="package-item">
                                <a href="@item.SeName"><img src="@item.DefaultPictureModel.ImageUrl" alt="@item.Name"/></a>
                                @* <div class="package-content @bg">
                                    <div class="des">
                                    <h5 class="package-name"> <a href="@item.SeName">@item.Name</a></h5>
                                    <a href="@item.SeName" class="btn-stroke-small">@T("eucookielaw.learnmore")</a>
                                    </div>
                                </div> *@
                            </div>
                        </div>
                            firstItem = "";
                            if (bg == "bg-blue")
                            {
                                bg = "bg-orange";
                            }
                            else if (bg == "bg-orange")
                            {
                                bg = "bg-green";
                            }
                            else if (bg == "bg-green")
                            {
                                bg = "bg-blue";
                            }
                        }
                    }
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- ////////////////////About End//////////////////////-->

    <!--////////////////////// Doctor Area/////////////////// -->
    <section class="doctor-area">
        <div class="doctor-info text-center pt70">
            <h3 class="section-title">@T("setting.homepage.docktor.title.text")</h3>
            <!-- <p>@T("setting.homepage.docktor.description.text")</p> -->
        </div>
        <div class="doctor-list">
            @foreach (var item in Model.Doctors.Take(4))
            {
                var imageUrl = T("setting.homepage.doctor.image.value").ToString();
                if (item.ImageURL != null)
                {
                    imageUrl = item.ImageURL;
                }
                <div class="doctor-item bg-light">
                    <img class="img-fluid" src='@imageUrl' alt="bac-si" />
                    <div class="info">
                        <label class=>@T("menu.specialist")</label>
                        <p><span class="text-blue">@T("account.backinstocksubscriptions.productcolumn")</span>: @item.Name
                        </p>
                        <p>@T("setting.homepage.doctor.specialist.text") @Html.Raw(item.Specialize)</p>
                        <p><span class="text-blue">@T("doctor.experience"):</span> @Html.Raw(item.Experience)</p>
                        <div>
                            <a href="/dat-kham" class="btn-green">@T("doctor.booking")</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center mtb50"><a class="btn-stroke" href="/bac-si">@T("pagetitle.doctors") </a> <img
                src="~/assets/img/icon/right-arrow-blue.svg" alt="thong-tin-bac-si" /></div>
    </section>
    <!-- /////////////////Doctor Area End////////////////// -->

    <!-- hospital fee Area start -->
    <section class="insurance-area vendor-area">
        <div class="container">
        @if(Model.Vendor.Data.Any()){
            <div class="text-center insurance-info" >
                <h3 class="section-title">@T("setting.homepage.guarantee.text")</h3>
                <p>@T("setting.homepage.guarantee.desc.text")</p>
            </div>
            <div class="insurance-list">
                <div class="row">
                    @foreach (var item in Model.Vendor.Data)
                    {
                        <div class="col-md-3 col-sm-3 col-xs-6 insurance-item">
                            <a target="_blank" href="@item.Link "><img class="img-fluid" src="@item.PictureUrl" alt="@item.PictureUrl" /></a>
                        </div>
                    }
                </div>

            </div>
            <div class="text-center mt30"><a href="/ve-chung-toi"
                    class="btn-blue uppercase">@T("eucookielaw.learnmore")</a></div>
        }
        </div>
    </section>
    <!-- ///////////////hospital fee Area End//////////////// -->
    <!--///////////////////////// RSS //////////////////////-->
    <section class="rss-area gray-bg">
        <div class="container">
            <div class="rss-list display-flex">
                <div class="col-md-6">
                    <div class="rss-title">
                        <h3 class="section-title">@T("setting.homepage.rss.text")</h3>
                        <a target="_blank" href="http://www.medinet.hochiminhcity.gov.vn"><img
                                src="~/assets/img/icon/rss.svg" alt="thong-tin-rss" /></a>
                    </div>
                    <a class="rss-box" target="_blank" href="@mainRss.Url">
                        <img src="@rss1Url" class="img-fluid rss-img" alt="rss-img" />
                        <h4>@mainRss.TitleText</h4>
                    </a>
                    <ul>
                        @foreach (var item in Model.MainRss.Items.Skip(1).Take(3))
                        {
                            <li><a target="_blank" href="@item.Url">@item.TitleText</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-6 clinic-info">
                    <div class="rss-title">
                        <h3 class="section-title">THÔNG TIN PHÒNG KHÁM</h3>
                        <a target="_blank" href="http://www.medinet.hochiminhcity.gov.vn"><img
                                src="~/assets/img/icon/rss.svg" alt="thong-tin-rss" /></a>
                    </div>
                    <a target="_blank" class="rss-box" href="@rss.Url">
                        <img src="@rss2Url" class="img-fluid rss-img" alt="rss-img" />
                        <h4>@rss.TitleText</h4>
                    </a>
                    <ul>
                        @foreach (var item in Model.RssFeed.Items.Skip(1).Take(3))
                        {
                            <li><a target="_blank" href="@item.Url">@item.TitleText</a></li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- ///////////////////// RSS End///////////////// -->
    <!--//////////////////// news tart/////////////////// -->
    <section class="news-area">
        <div class="container">
            <div class="rss-title">
                <h3 class="section-title">@T("homepage.faculty.info")</h3>
                <img src="/assets/img/icon/rss.svg" />
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 video-content">
                    <div class=" video">
                        <div class="thumbnail other-news-thumb">
                            <a href="@Model.HotNews.SeName"><img class="img-video-lg"
                                    src="@Model.HotNews.DefaultPictureModel.FullSizeImageUrl" alt="tin-tuc-hot">
                                <h4 class="justify hotnews-short" style="margin-top: 10px;">@Model.HotNews.Title</h4>
                                <p class="justify hotnews-short" style="text-align: justify;">@Model.HotNews.Short</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 news-list">
                    @foreach (var item in Model.Newses.Take(5))
                    {
                        <div class="news-item ">
                            <a class="news-box" href="@item.SeName">
                                <img src="@item.DefaultPictureModel.ImageUrl" alt="@item.Title" />
                            </a>
                            <div class="news-item-info">
                                <a href="@item.SeName">
                                    <h5>@item.Title</h5>
                                    @* <p class="justify other-news-desc">@item.Short</p> *@
                                    <p class="go-to-detail-page cursor-pointer ico-arrow news-list-wraper"><img
                                        class='news-list-image' src="~/assets/img/icon/arrow-circle.svg"
                                        alt="chi-tiet-tin-tuc" /></p>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
    <section class="video-container">
        <div class="container">
            <h3 class="section-title"><img src="~/assets/img/icon/camera.svg"
                    alt="video-icon" />@T("setting.homepage.communicate.text") </h3><br>
            <div class="row">
                @foreach (var item in Model.Communications)
                {
                    <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 video-item">
                        <div class="">
                            <div class="thumbnail">
                                <a data-fancybox="video-gallery" href="@item.VideoUrl"><img class="img-video-sm"
                                    src="@item.DefaultPictureModel.ImageUrl" alt="tin-truyen-thong"></a>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h5 class='homepage-communicate-title'><a data-fancybox="video-gallery"  href="@item.VideoUrl">@item.Title</a></h5>
                        </div>
                    </div>
                    <!-- /.video-testimonail -->
                }
            </div>

        </div>
        </div>
    </section>
    <!-- ////////////////////news form End /////////////////////-->
        <!--popup-->
        <!-- Large modal -->
        @if(!string.IsNullOrEmpty(Model.PopupNews.Full)){
        <div class="modal fade popup-news" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="popup-modal-content">
                    <div class="popup__close-btn"><svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="shopee-svg-icon "><path d="m10.7 9.2-3.8-3.8 3.8-3.7c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0l-3.8 3.7-3.8-3.7c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l3.8 3.7-3.8 3.8c-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3l3.8-3.8 3.8 3.8c.2.2.4.3.7.3s.5-.1.7-.3c.4-.4.4-1 0-1.4z"></path></svg></div>
                @Html.Raw(Model.PopupNews.Full)
                </div>
            </div>
        </div>
        }
        <!--end popup-->
</main>
<script>
window.onresize = function(event) {
    window.location.reload()
};
</script>
<script>
        // set slider height auto
    let documentWidth = document.getElementsByClassName('master-wrapper-page')[0].offsetWidth
    let pic = document.getElementById('slider-picture')
    let slider1 = document.getElementById('slider1')
    let height = pic.height

    if( pic.height <= 0){
        if(documentWidth <= 1366){
            height = 460
        }else if (documentWidth <= 1600) {
            height = 560
        }else {
            height = 640
        }
        setTimeout(()=>{
            pic = document.getElementById('slider-picture')
            slider1.setAttribute("style",`height:${height}px`);
            console.log('re-set pic height', pic.height)
        },800)
    }

    slider1.setAttribute("style",`height:${height}px`);
    console.log(`set slider height: ${slider1.offsetHeight} by pic ${pic.height}`)
</script>
<script>
    function followLink(link) {
        if(link && link.includes('http')){
            let a= document.createElement('a');
            a.target= '_blank';
            a.href= link;
            a.click();
            return
        }
        console.log('window.location.origin + "/"+link', window.location.origin + "/" + link)
        window.location.href = window.location.origin + "/" + link
    }
    setTimeout(() => {
        $('.pagination ul').css('display', 'flex')
    }, 1000);
</script>
<script>
    setTimeout(()=>{
         $('.popup__close-btn').click(()=>{
            ls.set('popup-closed',true, { ttl: 7*60 }) // 7 mins
            $('.popup-news').modal('hide')
         })
         const isClosed = ls.get('popup-closed')
         if(!isClosed){
            $('.popup-news').modal('show')
         }
         window.$ = $
    },1000)

    @* setTimeout(()=>{

         const imgElement =  $('.popup-modal-content').find('img:first')
         const closeBtn = window.$('.popup__close-btn')
         const left = imgElement.position().left + imgElement.width() - 6;
         const top = imgElement.position().top - 8
        console.log('posision',top,left,imgElement.position())
         closeBtn.css({top,left})
    },2000) *@


</script>
<script>
    console.log('errors', {error: '@errs'})
</script>