﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Models.Home;
@model HomepageModel
@{
    Layout = "_ColumnsOne";

    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    if (homepageSettings.VideoUrl.Length > 11){
        homepageSettings.VideoUrl = homepageSettings.VideoUrl.Substring(Math.Max(0, homepageSettings.VideoUrl.Length - 11));
    }
    var defaultImageURL = "images/news/new01.jpg";
    var hotNewsImageURL = Model.HotNews.DefaultPictureModel.ImageUrl;
    if (hotNewsImageURL == null){
        hotNewsImageURL = defaultImageURL;
    }
Random rnd = new Random();

}
    <main>
        <!--? slider Area Start-->
        <div class="slider-area position-relative">
            <div class="container">
                <div class="row align-center">
                    <div class="col-md-6 slider-active">
                        <!-- Single Slider -->
                        <div class="single-slider slider-height d-flex align-items-center">
                                        <div class="hero__caption">
                                            <h3 data-animation="fadeInLeft" data-delay="0.2s">@T("setting.homepage.banner.smalltitle.value") <p class="title">@T("setting.homepage.banner.title.value")</p></h3>
                                            <p data-animation="fadeInLeft" data-delay="0.4s">@T("setting.homepage.banner.slogan.value")</p>
                                        </div>
                        </div>
                        <!-- Single Slider -->
                    </div>
                    <!-- Video icon -->
                    <div class="col-md-6">
                        <img class="img-fluid" src='@Model.HomeSetting.BannerFrontURL' alt='hinh-anh-phia-truoc' />
                        <div class="video-icon">
                            <a class="popup-video btn-icon" href='@T("setting.homepage.banner.videourl.value")' data-animation="bounceIn" data-delay=".4s"><i class="fas fa-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-bottom">
                <ul>
                     @foreach(var item in Model.Faculties){
                    <li>
                        <img class="icon-img" src="~/assets/img/icon/heart.svg"  alt="icon-trai-tim"/><span>@item.Name</span>
                    </li>
                     }
                    @* <li><img class="icon-img" src="~/assets/img/icon/heart.svg" /><span>Tim mach</span></li>
                    <li><img class="icon-img" src="~/assets/img/icon/baby.svg" /><span>Nhi đồng</span></li>
                    <li><img class="icon-img" src="~/assets/img/icon/stomach.svg" /><span>Tiêu hóa</span></li>
                    <li><img class="icon-img" src="~/assets/img/icon/baby.svg" /><span></span>Xương khớp</li> *@
                </ul>
            </div>
        </div>
        <!-- slider Area End-->
        <!--? About 1 Start-->
        <section class="about-low-area section-padding40">
            <div class="container">
                <div class="row justify-content-between register-info">
                    <div class="col-xl-5 col-lg-5 col-md-5 display-none">
                        <img class="img-fluid" src="~/assets/img/gallery/01.jpg" alt="hinh-anh-thu-vien-1"/>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-right-cap">
                            <h3 class="section-title"><img src="~/assets/img/icon/calendar-white.svg" alt="dat-kham-ngay"/>@T("homepage.booking")</h3>
                            <p>@T("setting.homepage.booking.text")</p>
                            <h4><img class="icon" src="~/assets/img/icon/place.svg" alt="dia-chi-khach-hang"/>@T("account.customeraddresses"): @storeAddress
                            </h4>
                            <h4>
                                <img class="icon" src="~/assets/img/icon/time.svg" alt="thoi-gian-lam-viec"/>@T("homepage.timetowork"): @T("setting.homepage.timetowork.value")
                                
                            </h4>
                            <div class="ml20">
                                <small>@T("setting.morning") : @T("setting.timetowork.morning.value")</small><br>
                                <small>@T("setting.afternoon") : @T("setting.timetowork.afternoon.value")</small>
                            </div>
                            <div class="mt30"><a href="/dat-kham" class="btn-green btn-booking"><img src="~/assets/img/icon/register.svg" alt="dang-ky-kham"/>@T("setting.bookingnow.text")</a></div>
                        </div>
                    </div>
                </div>
                <div class="row package mt30">
                    @{
                        var bg = "bg-blue";
                    @foreach(var item in Model.Packages)
                    {
                    <div class="col-xl-4 col-lg-4 col-md-4 mt-15">
                        <div class="package-item">
                            <img src="@item.DefaultPictureModel.ImageUrl" alt="hinh-anh-goi-kham" />
                            <div class="package-content @bg">
                                <div class="des">
                                    <h5 class="package-name">@item.Name</h5>
                                    <a href="@item.SeName" class="btn-stroke-small">@T("eucookielaw.learnmore")</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                      if(bg == "bg-blue"){
                            bg = "bg-orange";
                        }else if(bg == "bg-orange"){
                            bg = "bg-green";
                        }else if(bg == "bg-green"){
                            bg = "bg-blue";
                        }
                     }
                    }
                </div>
            </div>
        </section>
        <!-- About  End-->
       
        <!-- Doctor Area -->
        <section class="doctor-area">
            <div class="doctor-info text-center pt70">
                <h3 class="section-title">@T("setting.homepage.docktor.title.text")</h3>
                <p>@T("setting.homepage.docktor.description.text")</p>
            </div>
            <div class="doctor-list">
                @foreach(var item in Model.Doctors)
                {
                    var imageUrl = T("setting.homepage.doctor.image.value").ToString();
                    if(item.ImageURL!= null){
                        imageUrl = item.ImageURL;
                    }
                <div class="doctor-item bg-light">
                    <img class="img-fluid" src='@imageUrl' alt="bac-si"/>
                    <div class="info">
                        <label class=>@T("menu.specialist")</label>
                        <p><span class="text-blue">@T("account.backinstocksubscriptions.productcolumn")</span>: @item.Name</p>
                        <p>@T("setting.homepage.doctor.specialist.text") @item.Specialize</p>
                        <p><span class="text-blue">@T("doctor.experience"):</span> @item.Experience</p>
                            <div>
                                <a href="/dat-kham" class="btn-green btn-booking">@T("doctor.booking")</a>
                            </div>
                    </div>
                </div>
                }
            </div>
            <div class="text-center mtb50"><a class="btn-stroke" href="/bac-si">@T("pagetitle.doctors") </a> <img src="~/assets/img/icon/right-arrow-blue.svg" alt="thong-tin-bac-si"/></div>
        </section>
        <!-- Doctor Area End -->
        
        <!-- hospital fee Area start -->
        <section class="insurance-area">
            <div class="container">
                <div class="text-center insurance-info">
                    <h3 class="section-title">@T("setting.homepage.guarantee.text")</h3>
                    <p>@T("setting.homepage.guarantee.desc.text")</p>
                </div>
                <div class="insurance-list">
                    <div class="row">
                        @foreach(var item in Model.Vendor.Data)
                        {
                            <div class="col-md-3 col-sm-3 col-xs-6 insurance-item">
                                <img class="img-fluid" src="@item.Description" alt="mo-ta-ve-benh-vien"/>
                            </div>
                        }
                    </div>
                   
                </div>
                <div class="text-center mt30"><a href="/ve-chung-toi" class="btn-blue uppercase">@T("eucookielaw.learnmore")</a></div>
            </div>
        </section>
        <!-- hospital fee Area End -->
        <!-- RSS -->
        <section class="rss-area gray-bg">
            <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div class="rss-title">
                            <h3 class="section-title">@T("setting.homepage.rss.text")</h3>
                            <img src="~/assets/img/icon/rss.svg" alt="thong-tin-rss"/>
                        </div>
                        <div id="blogCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#blogCarousel" data-slide-to="1"></li>
                            </ol>
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        @foreach (var item in Model.RssFeed.Items.Skip(0).Take(2))
                                        {
                                            var imageUrl = $"assets/img/gallery/ab_0{rnd. Next(1, 3)}.jpg";
                                        <div class="col-md-6 carousel-box">
                                            <a href="@item.Url">
                                                <img src="@imageUrl" alt="hinh-anh-rss" style="max-width:100%;">
                                            <h4>@item.TitleText</h4>
                                            </a>
                                        </div>
                                        }
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
    
                                <div class="carousel-item">
                                    <div class="row">
                                        @foreach (var item in Model.RssFeed.Items.Skip(2).Take(2))
                                        {
                                            var imageUrl = $"assets/img/gallery/ab_0{rnd. Next(1, 3)}.jpg";
                                        <div class="col-md-6 carousel-box">
                                            <a href="@item.Url">
                                                <img src="@imageUrl" alt="hinh-anh-rss" style="max-width:100%;">
                                            <h4>@item.TitleText</h4>
                                            </a>
                                        </div>
                                        }
                                    </div>
                                    <!--.row-->
                                </div>
                                <!--.item-->
    
                            </div>
                            <!--.carousel-inner-->
                        </div>
                        <!--.Carousel-->
    
                    </div>
                </div>
                <div class="rss-list display-flex mtb50">
                    <ul>
                        @foreach (var item in Model.RssFeed.Items.Skip(4).Take(5))
                        {
                        <li><a href="@item.Url">@item.TitleText</a></li>
                        }
                    </ul>
                    <ul>
                        @foreach (var item in Model.RssFeed.Items.Skip(9).Take(5))
                        {
                        <li><a href="@item.Url">@item.TitleText</a></li>
                        }
                    </ul>
                </div>
            </div>
        </section>
        <!--  RSS End -->
        <!-- news form Start -->
        <section class="news-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 video-content">
                            <div class=" video">
                                <div class="thumbnail other-news-thumb">
                                    <a data-fancybox="video-gallery" href="@Model.HotNews.SeName"><img class="img-video-lg"src="@Model.HotNews.DefaultPictureModel.FullSizeImageUrl" alt="tin-tuc-hot">
                                    <h4 class="justify hotnews-short">@Model.HotNews.Short</h4>
                                    </a>
                                </div>
                            </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 news-list">
                        @foreach (var item in Model.OtherNewses)
                        {
                           <div class="news-item ">
                            <a href="@item.SeName" >
                                <img class="img-new-small" src="@item.DefaultPictureModel.ImageUrl" />
                            </a>
                            <div class="news-item-info">
                                <a href="@item.SeName" >
                                <h5>@item.Title</h5>
                                <p class="justify other-news-desc">@item.Short</p>
                               <p class="go-to-detail-page cursor-pointer"><img src="~/assets/img/icon/arrow-circle.svg" alt="chi-tiet-tin-tuc"/></p>
                               </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <section class="video-container">
            <div class="container">
                <h3 class="section-title"><img src="~/assets/img/icon/camera.svg" alt="video-icon"/>@T("setting.homepage.communicate.text") </h3><br>
                <div class="row">
                     @foreach (var item in Model.Communications)
                        {
                    <!-- video-testimonail -->
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 video-item">
                        <div class="">
                            <div class="thumbnail">
                                <a data-fancybox="video-gallery" href="@item.Short"><img class="icon-video-sm" src="~/assets/img/icon/play.svg" alt="phat-video"/><img class="img-video-sm" src="@item.DefaultPictureModel.ImageUrl" alt="thumbnail-video"></a>
                            </div>
                        </div>
                        <div class="video-testimonial-content">
                            <h5 class='homepage-communicate-title'><a href="@item.Short">@item.Title</a></h5>
                        </div>
                    </div>
                    <!-- /.video-testimonail -->
                        }
                </div>
                
            </div>
            </div>
        </section>
        <!-- news form End -->
       
    </main