﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@model List<Nop.Core.Domain.Stores.Branch>
@{
    Layout = "_ColumnsOne";
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
}
    <main>
        <div class="sub-banner">
            <div class="banner">
                <img src="~/assets/img/gallery/abouts/bg_banner.png" alt="banner"/>
                <div class="banner-bottom">
                    <div class="container">
                        <div class="sub-breadcrumb">
                            <img src="~/assets/img/icon/hospital_ico.svg" /> <span>Thông tin tuyển dụng</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recruit-content  mtb50">
            <div class="recruit-list">
                <div class="container">
                    <div class="recruit-item">
                        <img class="recruit-img" src="~/assets/img/gallery/recruit/01.png" />
                        <div>
                            <h4>TP Hồ Chí Minh: Phong tỏa 2 địa điểm liên quan ca mắc COVID-19 nhập cảnh trái phép</h4>
                            <p>Hai địa điểm tạm thời được phong tỏa là khách sạn Quốc Thái (địa chỉ 90 đường số 7, Khu dân cư Trung Sơn, xã Bình Hưng, huyện Bình Chánh) và hẻm 102 Lê Văn Thọ, Phường 9, quận Gò Vấp.</p>
                            <a class="btn">XEM CHI TIẾT <img src="~/assets/img/icon/arrow-circle.svg" /></a>
                        </div>
                    </div>
                    <div class="recruit-item">
                        <img class="recruit-img" src="~/assets/img/gallery/recruit/02.jpg" />
                        <div>
                            <h4>TP Hồ Chí Minh: Phong tỏa 2 địa điểm liên quan ca mắc COVID-19 nhập cảnh trái phép</h4>
                            <p>Hai địa điểm tạm thời được phong tỏa là khách sạn Quốc Thái (địa chỉ 90 đường số 7, Khu dân cư Trung Sơn, xã Bình Hưng, huyện Bình Chánh) và hẻm 102 Lê Văn Thọ, Phường 9, quận Gò Vấp.</p>
                            <a class="btn">XEM CHI TIẾT <img src="~/assets/img/icon/arrow-circle.svg" /></a>
                        </div>
                    </div>
                    <div class="recruit-item">
                        <img class="recruit-img" src="~/assets/img/gallery/recruit/01.png" />
                        <div>
                            <h4>TP Hồ Chí Minh: Phong tỏa 2 địa điểm liên quan ca mắc COVID-19 nhập cảnh trái phép</h4>
                            <p>Hai địa điểm tạm thời được phong tỏa là khách sạn Quốc Thái (địa chỉ 90 đường số 7, Khu dân cư Trung Sơn, xã Bình Hưng, huyện Bình Chánh) và hẻm 102 Lê Văn Thọ, Phường 9, quận Gò Vấp.</p>
                            <a class="btn">XEM CHI TIẾT <img src="~/assets/img/icon/arrow-circle.svg" /></a>
                        </div>
                    </div>
                    <div class="recruit-item">
                        <img class="recruit-img" src="~/assets/img/gallery/recruit/02.jpg" />
                        <div>
                            <h4>TP Hồ Chí Minh: Phong tỏa 2 địa điểm liên quan ca mắc COVID-19 nhập cảnh trái phép</h4>
                            <p>Hai địa điểm tạm thời được phong tỏa là khách sạn Quốc Thái (địa chỉ 90 đường số 7, Khu dân cư Trung Sơn, xã Bình Hưng, huyện Bình Chánh) và hẻm 102 Lê Văn Thọ, Phường 9, quận Gò Vấp.</p>
                            <a class="btn">XEM CHI TIẾT <img src="~/assets/img/icon/arrow-circle.svg" /></a>
                        </div>
                    </div>
                    <nav class="pagination-container">
                    <!-- PAGINATION -->
                    @* <div class="text-center mtb50 paging">
                        <nav class="pagination-container">
                            <div class="pagination">
                        @{
                            var pager = Html.Pager(Model.PagerModel);
                        }
                        @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                        {
                            <div class="pagination-a">
                                @pager
                            </div>
                        }
                            </div>
                        </nav>
                    </div> *@
                    <!--END PAGINATION -->
                </nav>
                </div>
            </div>
        </div>
    </main>