@model CustomerModel

<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "customer-patients-grid",
        UrlRead = new DataUrl("AddressesSelect", "Customer", new RouteValueDictionary { [nameof(Model.CustomerAddressSearchModel.CustomerId)] = Model.CustomerAddressSearchModel.CustomerId }),
        UrlDelete = new DataUrl("PatientDelete", "Customer", new RouteValueDictionary { [nameof(Model.CustomerAddressSearchModel.CustomerId)] = Model.CustomerAddressSearchModel.CustomerId }),
        Length = 10,
        LengthMenu = Model.CustomerAddressSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty("PatientModel.Surname")
            {
                Title = "Họ"
            },
            new ColumnProperty("PatientModel.Name")
            {
                Title = "Tên"
            },
            new ColumnProperty("PatientModel.Email")
            {
                Title = "Email"
            },
            new ColumnProperty("PatientModel.Mobile")
            {
                Title = "SDT"
            },
            new ColumnProperty("PatientModel.Insurance")
            {
                Title = "BHYT"
            },
            new ColumnProperty("PatientModel.SocialId")
            {
                Title = "CMND/CCCD"
            },
            new ColumnProperty("PatientModel.Id")
            {
                Title = T("Admin.Common.Delete").Text,
                Width = "100",
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                ClassName =  NopColumnClassDefaults.Button
            }
        }
    })
</div>