﻿@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    //Html.AppendPageCssClassParts("html-news-list-page");

}
<style>
    .pagination-a {
        float: right;
    }

    .pagination-a ul {
        display: inline-block;
    }

    .total-summary {
        display: none;
    }

    .pagination-a ul li {
        float: left;
        line-height: 65px;
        width: 65px;
        height: 65px;
        border: 1px solid #888;
        margin-left: 5px;
        border-radius: 4px;
        text-align: center;
    }

    .bmi-content {
        text-align: justify;
    }

    .bmi-img {
        height: auto;
        width: 100%;
    }
</style>
<div class="doctor">
    <div class="sub-banner">
        <div class="banner">
            <img src="~/assets/img/gallery/abouts/bg_banner.png" alt="bmi-banner" />
            <div class="banner-bottom">
                <div class="container">
                    <div class="sub-breadcrumb">
                        <img src="~/assets/img/icon/hospital_ico.svg" alt='@T("menu.bmi")'/> <span>@T("menu.bmi")</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="bmi">
        <div class="container">
            <div class="row">
                <div class='col-md-6 col-xs-12'>
                    <div class="form-group text-left"">
                        <label>Chiều cao (tính bằng cm)</label>
                        <input required name="heigh" id='heigh' placeholder="Chiều cao (tính bằng cm)" tabindex="11"
                            type="number" class="form-control" name="cmnd" value="" />
                    </div>
                    <div class="form-group text-left"">
                        <label>Cân nặng (tính bằng kg)</label>
                        <input required name="weight" id='weight' placeholder="Cân nặng (tính bằng kg)" tabindex="11"
                            type="number" class="form-control" name="cmnd" value="" />
                    </div>
                    <div class="form-group text-left"">
                        <label>Kết quả</label>
                        <input required readonly name="result" id='result' placeholder="Kết quả" tabindex="11"
                            type="text" class="form-control" name="cmnd" value="" />
                    </div>
                    <div class="form-group text-left"">
                        <label>Nhận xét</label>
                        <textarea required readonly name="comment" id='comment' placeholder="Nhận xét" tabindex="11"
                            type="text" class="form-control" name="cmnd" value=""></textarea>
                    </div>

                    <div class="form-group text-center"">
                        <button class='btn btn-blue' onClick="bmiCheck()">Kiểm tra</button>
                    </div>
                </div>
                <div class='col-md-6 col-xs-12'>
                    <div class="bmi-content jumbotron">
                        <h3>THÔNG TIN VỀ CHỈ SỐ BMI</h3>

                        <p>
                            <b>BMI (Body mass Index) là chỉ số được tính từ chiều cao và cân
                                nặng, là một chỉ số đáng tin cậy về sự mập ốm của một người.</b>&nbsp;BMI không đo lường
                            trực tiếp mỡ của cơ thể nhưng các nghiên cứu đã chứng minh rằng BMI tương quan với đo mỡ
                            trực
                            tiếp. BMI là phương pháp không tốn kém và dễ thực hiện để tầm soát vấn đề sức khoẻ.<br>
                            <b>1. Sử dụng BMI như thế nào?</b>&nbsp;<br>
                            BMI được sử dụng như là một công cụ tầm soát để xác định trọng lượng thích hợp cho người
                            lớn.
                            Tuy nhiên, BMI không phải là công cụ chẩn đoán. Ví dụ, một người có chỉ số BMI cao, để xác
                            định
                            trọng lượng có phải là một nguy cơ cho sức khoẻ không thì các bác sĩ cần thực hiện thêm các
                            đánh
                            giá khác. Những đánh giá này gồm đo độ dày nếp da, đánh giá chế độ ăn, hoạt động thể lực,
                            tiền
                            sử gia đình và các sàng lọc sức khoẻ khác.<br>
                            <b>2. Tại sao Cơ quan kiểm soát bệnh tật Hoa Kỳ - CDC sử dụng
                                BMI để xác định sự thừa cân và béo phì?&nbsp;</b>Tính chỉ số BMI là một phương pháp tốt
                            nhất
                            để đánh giá thừa cân và béo phì cho một quần thể dân chúng. Để tính chỉ số BMI, người ta chỉ
                            yêu
                            cầu đo chiều cao và cân nặng, không tốn kém và dễ thực hiện. Sử dụng chỉ số BMI cho phép
                            người
                            ta so sánh tình trạng cân nặng của họ với quần thể nói chung. Công thức tính BMI theo đơn vị
                            kilograms và mét (xem cách tính dưới đây) - Cách tính và đánh giá chỉ số BMI như thế
                            nào?&nbsp;<br>
                            <b>- Cách đánh giá chỉ số BMI</b>&nbsp;<br>
                            <img class='bmi-img' src="/images/CongThucBMI.jpg" alt="bmi">

                            Đối với người lớn từ 20 tuổi trở lên, Sử dụng bảng phân loại chuẩn cho cả nam và nữ để đánh
                            giá
                            chỉ số BMI.<br>
                            - BMI &lt;16: Gầy độ III<br>
                            - 16 ≤ BMI &lt;17: Gầy độ II<br>
                            - 17 ≤ BMI &lt;18.5: Gầy độ I<br>
                            - 18.5 ≤ BMI &lt;25: Bình thường<br>
                            - 25 ≤ BMI &lt;30: Thừa cân<br>
                            - 30 ≤ BMI 35: Béo phì độ 1<br>
                            - 35 ≤ BMI &lt;40: Béo phì độ II<br>
                            - BMI &gt;40: Béo phì độ III
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="doctor-content">
        <div class="container">

        </div>
    </section>
</div>
@* BMI <16: Gầy độ III
    - 16 ≤ BMI <17: Gầy độ II
    - 17 ≤ BMI <18.5: Gầy độ I
    - 18.5 ≤ BMI <25: Bình thường
    - 25 ≤ BMI <30: Thừa cân
    - 30 ≤ BMI 35: Béo phì độ 1
    - 35 ≤ BMI <40: Béo phì độ II
    - BMI >40: Béo phì độ III *@
<script>
    const bmiCheck = () => {
        let heigh = $('#heigh').val()
        let weight = $('#weight').val()
        let result = $('#result')
        let comment = $('#comment')
        let bmi = (weight / ((heigh / 100) * (heigh / 100))).toFixed(2);

        result.val(bmi)
        console.log(bmi, weight, heigh)
        if (bmi < 16) {
            comment.val('Gầy độ III')
        } else if (bmi >= 16 && bmi < 17) {
            comment.val('Gầy độ II')

        } else if (bmi >= 17 && bmi < 18.5) {
            comment.val('Gầy độ I')

        } else if (bmi >= 18.5 && bmi < 25) {
            comment.val('Chúc mừng bạn ! Bạn có chỉ số BMI bình thường !')

        } else if (bmi >= 25 && bmi < 30) {
            comment.val('Thừa cân')

        } else if (bmi >= 30 && bmi < 35) {
            comment.val('Béo phì độ I')

        } else if (bmi >= 35 && bmi < 40) {
            comment.val('Béo phì độ II')

        } else if (bmi > 40) {
            comment.val('Béo phì độ III')
        }

    }
</script>
