﻿@model Nop.Web.Models.Catalog.SearchModel
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Doctors").Text);
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var bannerUrl = "/assets/img/gallery/services/01.jpg";
    if(!String.IsNullOrEmpty(Model.BannerUrl)){
        bannerUrl = Model.BannerUrl;
    }
    var url = "";
    if (!string.IsNullOrEmpty(ViewBag.DoctorVideoUrl)){
        url = ViewBag.DoctorVideoUrl.Replace("watch?v=", "embed/");
    }
}
<style>
.pagination-a ul {
    display: flex;
}
@@media screen and (max-width : 480px){
   .tab-content-item .video iframe{
       width: 100%;
   }
}
</style>
    <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <div class="doctor-page">
            <div class="sub-breadcrumb">
                <div class="container">
                    <img src="/assets/img/icon/hospital_ico.svg" /> <span>CHUYÊN GIA - BÁC SĨ</span>
                </div>
            </div>
            <div class="doctor-content">
                <div class="doctor-area">
                    <div class="doctor-list">
                    @foreach (var item in Model.Products)
                    {
                    var imageUrl = item.DefaultPictureModel.ImageUrl;
                    <div class="doctor-item bg-light">
                        <img class="img-fluid" src="@imageUrl" alt="@imageUrl"/>
                        <div class="info">
                            <label class=>@T("doctor.specialize")</label>
                            <p class='doctor-title'><span class="text-blue">@T("doctor.title")</span>: @item.Name</p>
                            <p class='doctor-specialize'><span class="text-blue">@T("doctor.specialize")</span>: @item.CategoryName</p>
                            <p><span class="text-blue">@T("doctor.experience"):</span> @item.FullDescription</p>
                            <p class='doctor-specialize'><span class="text-blue">Thời gian làm việc</span>: @item.Guide</p>
                                <div>
                                    <a href="/dat-kham" class="btn-green">@T("doctor.booking")</a>
                                </div>
                        </div>
                    </div>
                     }
                    </div>
                    <!-- PAGINATION -->
                    <div id='page_navigation'></div>
                    <nav class="pagination-container">
                        <div class="pagination">
                            @{
                                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
                            }
                            @if (!string.IsNullOrEmpty(pager.ToHtmlString()))
                            {
                                <div class="pagination-a">
                                    @pager
                                </div>
                            }
                        </div>
                    </nav>
                    <!--END PAGINATION -->
                </div>
                <!--////////// VIDEO ////////////-->
                <div class="container">
                    <div class="tab-item">
                        <div class="title-tab">
                            <h4>
                                <span class="tb-icon">
                                    <img src="/assets/img/icon/video-files.png" />
                                </span>VIDEO
                            </h4>
                        </div>
                        <div class="center tab-content-item mb-50">
                            <div class=" video">
                                <iframe width="80%" height="448" src="@url"
                                    title="Video giới thiệu về chuyên gia - bác sĩ" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <!--////////// VIDEO ////////////-->
            </div>
        </div>
    </main>
<script>
    function chooseFaculty(id) {
        window.location.href="/bac-si?categoryId="+id
    }
</script>
