﻿@model ProductDetailsModel
@using Nop.Core.Domain.Seo;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.Domain.StoreInformationSettings storeSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IWebHelper webHelper
@inject IStoreContext storeContext
@using Nop.Core.Domain.Orders
@using Nop.Core
@inject SeoSettings seoSettings
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-product-details-page");

    //canonical URL
    if (seoSettings.CanonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName },
        webHelper.CurrentRequestProtocol).ToLowerInvariant();
        Html.AddCanonicalUrlParts(productUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    //open graph META tags
    if (seoSettings.OpenGraphMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"og:type\" content=\"product\" />");
        Html.AddHeadCustomParts("<meta property=\"og:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:description\" content=\"" +
        Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:image:url\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"og:site_name\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
    }

    //Twitter META tags
    if (seoSettings.TwitterMetaTags)
    {
        Html.AddHeadCustomParts("<meta property=\"twitter:card\" content=\"summary\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:site\" content=\"" + Html.Encode(Model.CurrentStoreName) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:title\" content=\"" + Html.Encode(Model.Name) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:description\" content=\"" +
        Html.Encode(Nop.Core.Html.HtmlHelper.StripTags(Model.MetaDescription)) + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:image\" content=\"" + Model.DefaultPictureModel.ImageUrl + "\" />");
        Html.AddHeadCustomParts("<meta property=\"twitter:url\" content=\"" + webHelper.GetThisPageUrl(false) + "\" />");
    }
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);
    var result = @ViewContext.HttpContext.Request.Query["result"];

}

@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterBreadcrumb,
additionalData = Model })
<style>
#mo-ta img, #huong-dan-su-dung img{
    width: 100%;
    height: auto;
}
</style>
<main>
    <div class="package-detail">
        <div class="container">
            <div class="row">
                <!-- PACKAGE DETAIL LEFT -->
                <div class="col-lg-9 col-md-8">
                    <div class="package-item row">
                        <div class="col-lg-5 col-md-12">
                            <a href="@Model.SeName">
                                <div class="card-img-top">
                                    <span class="product-price"> @Model.ProductPrice.Discount </span>
                                    <img class="package-img img-fluid" src="@Model.DefaultPictureModel.ImageUrl"
                                        class="img-fluid d-block" alt="@Model.Name">
                                </div>
                            </a>
                            <div class="form-group advisory">
                                <p>Hãy để lại SĐT, chuyên viên tư vấn của tôi sẽ gọi ngay cho bạn miễn phí</p>
                                <form class="form" asp-controller="Booking" asp-action="SendEmail" method="post" id="send-email-form">
                                    <input required name="PhoneNumber" class="form_input" type="number" placeholder="Nhập số điện thoại">
                                    <input type="hidden" name="ProductName" value="@Model.Name"/>
                                    <input type="hidden" name="ReturnUrl" value="/@Model.SeName"/>
                                    <input class="btn btn-dark-blue" value="Gửi" type="submit"/>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 card-body package-info">
                            <h4 class="card-title">
                                @Model.Name
                            </h4>
                            <h5 class="card-price">
                                @if( Model.ProductPrice.OldPrice != "0 ₫"){
                                    <s>@Model.ProductPrice.OldPrice</s>
                                }
                                <span>@Model.ProductPrice.Price</span>
                            </h5>
                            <p>@Model.ShortDescription</p>

                            <div class="display-flex">
                                <div class="counter">
                                    <input class="counter__input" type="text" value="1" name="counter" size="5"
                                        readonly /><a class="counter__increment" href="#">+</a><a
                                        class="counter__decrement" href="#">&ndash;</a>
                                </div>

                                <div class="btn btn-blue" style="border-radius: 0;">
                                    <a type="button" id="add-to-cart-button-@Model.Id"
                                        class="btn btn-blue" 
                                        data-productid="@Model.Id"
                                        onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.Id, shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart})', '#product-details-form');return true;" > THÊM VÀO GIỎ HÀNG</a>
                                </div>
                                  <div class="btn btn-dark-blue" style="margin-left: 10px;">
                                    <a type="button" id="add-to-cart-button-@Model.Id"
                                        class="btn btn-dark-blue" 
                                        data-productid="@Model.Id"
                                        onclick="AjaxCart.addproducttocart_details('@Url.RouteUrl("AddProductToCart-Details", new {productId = Model.Id, shoppingCartTypeId = (int) ShoppingCartType.ShoppingCart, buyNow = true})', '#product-details-form');return true;" > MUA NGAY</a>
                                </div>
                            </div>
                            <div class="gift">
                                @Html.Raw(Model.Promotion)
                            </div>
                            <div class="btn-group">
                                <a href="@storeSettings.FacebookChat" class="btn-dark-blue">Chat Facebook</a>
                                <a href="@storeSettings.ZaloLink" class="btn-blue">Chat Zalo</a>
                                <div style="background-color: rgb(24, 119, 242);" class="fb-share-button btn-blue" data-href="https://saigonhealthcare.vn/@Model.SeName" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsaigonhealthcare.vn%2F@Model.SeName%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- PACKAGE DETAIL RIGHT -->
                <div class="col-lg-3 col-md-4">
                    <div class="package-note">
                        <p>Mọi nhu cầu tư vấn về gói khám vui lòng gọi trực tiếp hotline: <b>@storePhoneNumber</b></p>
                        <h5>Hệ thống phòng khám</h5>
                        <div class="brand-location">
                            <h5>@storeName</h5>
                            <small>@storeAddress</small>
                        </div>
                    </div>
                    <div class="social-share-list" style="margin-top: 10px;">
                        <a target="_blank" rel="noopener noreferrer" href="@storeSettings.FacebookLink"><img
                                class="icon" src="~/assets/img/icon/facebook.svg" alt="facebook" /></a>
                        <a target="_blank" rel="noopener noreferrer" href="@storeSettings.YoutubeLink"><img class="icon"
                                src="~/assets/img/icon/youtube.svg" style="margin-left: 10px;" alt="youtube" /></a>
                        <a target="_blank" rel="noopener noreferrer" href="@storeSettings.ZaloLink"><img class="icon"
                                src="~/assets/img/icon/zalo.png" style="width: 35px; margin-left:10px;"
                                alt="zalo" /></a>
                    </div>
                </div>
                <!--/. PACKAGE DETAIL RIGHT -->
            </div>
            <!-- DESCRIPTION PACKAGE -->
            <div class="package-description row">
                <div class="tabbable-panel">
                    <div class="tabbable-line">
                        <div class="nav nav-tabs ">
                            <a class="nav-item nav-link active" href="#mo-ta" data-toggle="tab">
                                MÔ TẢ</a>
                            <a class="nav-item nav-link" href="#huong-dan-su-dung" data-toggle="tab">
                                HƯỚNG DẪN SỬ DỤNG</a>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="mo-ta">
                                @Html.Raw(Model.FullDescription)
                            </div>
                            <div class="tab-pane" id="huong-dan-su-dung">
                                @Html.Raw(Model.Guide)
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!-- SẢN PHẨM LIÊN QUAN -->
            <div class="product-see">
                <div class="">
                    <h5>SẢN PHẨM LIÊN QUAN</h5>
                    <div class="row package-list">
                        @foreach (var item in Model.AssociatedProducts)
                        {
                            <div class="col-xs-12 col-md-6 col-lg-3 mb-3">
                                <div class="card h-100 border-0 package-item">
                                    <a href="/@item.SeName">
                                        <div class="card-img-top">
                                            <span class="product-price">@item.ProductPrice.Discount</span>
                                            <img class="package-img img-fluid d-block"
                                            src="@item.DefaultPictureModel.ImageUrl" alt="@item.Name">
                                        </div>
                                        <div class="package-item-info">
                                            <h4 class="card-title">
                                                <h5 class=" font-weight-bold">@item.Name</h5>
                                            </h4>
                                            <h5 class="card-price">
                                                @if( item.ProductPrice.OldPrice != "0 ₫"){
                                                        <s>@item.ProductPrice.OldPrice</s>
                                                    }
                                                <span>@item.ProductPrice.Price</span>
                                            </h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    const success = '@result' === 'success'
    if(success){
        alert('Gửi thông tin thành công! Chúng tôi sẽ liên hệ lại trong thời gian sớm nhất.')
    }
window.onload = function (){
    const descriptionTab = document.getElementById('mo-ta')
    const guideTab = document.getElementById('huong-dan-su-dung')
    setTimeout(()=>{
        console.log('width',window.innerWidth)
        if(descriptionTab){
            descriptionTab.style.maxWidth = `${window.innerWidth - 40}px`
        }
        if(guideTab){
            guideTab.style.maxWidth = `${window.innerWidth - 40}px`
        }
    },400)
}
</script>