﻿@model Nop.Web.Models.Home.AboutPageModel;
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
     var url = "";
    if (!string.IsNullOrEmpty( Model.AboutVideoUrl)){
     url = Model.AboutVideoUrl.Replace("watch?v=", "embed/");
    }
}
<div class="about">
    <section>
        <div id="property-single-carousel" class="owl-carousel owl-arrow gallery-property">
            <div class="carousel-item-b">
                <img src="@Model.AboutSlider01" alt="hinh-anh-gioi-thieu">
            </div>
            <div class="carousel-item-b">
                <img src="@Model.AboutSlider02" alt="hinh-anh-gioi-thieu">
            </div>
            <div class="carousel-item-b">
                <img src="@Model.AboutSlider03" alt="hinh-anh-gioi-thieu">
            </div>
        </div>
    </section>
    <div class="row about-box foo">
        <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-4">
                    <div class="about-intro">
                        <i class="flaticon-doctor"></i>
                        <p>@Model.RssUrl</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="about-intro">
                        <i class="flaticon-doctor"></i>
                        <p>@Model.AboutVision</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="about-intro">
                        <i class="flaticon-front-desk"></i>
                        <p>@Model.AboutMission</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="about-intro">
                        <i class="flaticon-hospital-1"></i>
                        <p>@Model.AboutCoreValue</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <div class="about-intro">
                        <i class="flaticon-hospital-1"></i>
                        <p>@Model.AboutWhyChooseUs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="property-single nav-arrow-b">
        <div class="container">
            <div class="about-staff">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="about-doc-img">
                            <img class="img-fluid" src="@Model.AboutPresidentAvatarURL" alt="hinh-anh-gioi-thieu">
                            <span class="big-circle"></span>
                            <span class="small-circle"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="about-doc-info">
                            <div class="mr-30">
                                <h3 class="title-agent">@Model.AboutPresidentTitle</h3>
                                <h4>@Model.AboutPresidentDescription</h4>
                            </div>
                            <p class="color-text-a mr-30">
                                @Model.AboutPresidentContent
                            </p>

                            <div class="socials-a">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="fa fa-dribbble" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="title-box">
                    <h1 class="txt-big">@storeName</h1>
                    <span class="color-text-a">Video</span>
                </div>
                <div class="video-wrapper">
                    <div class="video-container" data-id="@homepageSettings.AboutVideoUrl">
                        <div class="js-video ng-isolate-scope">
                            <div class="video-poster">
                            </div>
                            <div class="play"><i class="fa fa-play-circle"></i></div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="about-images">
        <div class="title-box">
            <h1 class="txt-big">@storeName</h1>
            <span class="color-text-a">@T("hospital.picture")</span>
        </div>
        <div class="about-img">
            <div class="col-md-3 col-sm-6">
                <div class="about-img-item"><img class="" src="@Model.AboutPicture01URL" alt="hinh-anh-ve-benh-vien"/></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-img-item"><img class="" src="@Model.AboutPicture02URL" alt="hinh-anh-ve-benh-vien"/></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-img-item"><img class="" src="@Model.AboutPicture03URL" alt="hinh-anh-ve-benh-vien"/></div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="about-img-item"><img class="" src="@Model.AboutPicture04URL" alt="hinh-anh-ve-benh-vien"/></div>
            </div>
        </div>
    </section>
</div>
    <!-- video modal -->
    <!-- copy this stuff and down -->
    <div id="video-popup-overlay"></div>
    <div id="video-popup-container">
        <div id="video-popup-close" class="fade">&#10006;</div>
        <div id="video-popup-iframe-container">
            <iframe id="video-popup-iframe" src="" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
    <!-- end video modal -->

<script>
setTimeout(() => {
jQuery(document).ready(function() {
  $('#carousel-example').on('slide.bs.carousel', function (e) {
      var $e = $(e.relatedTarget);
      var idx = $e.index();
      var itemsPerSlide = 5;
      var totalItems = $('.carousel-item').length;
      
      if (idx >= totalItems-(itemsPerSlide-1)) {
          var it = itemsPerSlide - (totalItems - idx);
          for (var i=0; i<it; i++) {
              // append slides to end
              if (e.direction=="left") {
                  $('.carousel-item').eq(i).appendTo('.carousel-inner');
              }
              else {
                  $('.carousel-item').eq(0).appendTo('.carousel-inner');
              }
          }
      }
  });
  jQuery('.play i').click(function(event){
     event.preventDefault();
     $(".js-video").append('<iframe width="940" height="529" src="@url" frameborder="0" allowfullscreen></iframe>');
    $(this).hide();
    
  });
});
}, 1000);
</script>