﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@model List<Nop.Core.Domain.Stores.Branch>
@{
    Layout = "_ColumnsOne";
    string url = Uri.EscapeUriString("bệnh viện thống");
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
}
    <div class="contact-content">
        <div class="heading-banner cleafix"><h3>@T("contactpage.title")</h3></div>
        <div class="contact-map" id="@url">
            @*<div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>*@
            <div class="map-responsive"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=@Uri.EscapeUriString(homepageSettings.Address)&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><a href="https://www.embedgooglemap.net"></a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 450px;
                    width: 600px;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 450px;
                    width: 600px;
                }
            </style></div>
        </div>
        <div class="contact-address">
            <div class="container">
                <div class="row">
                    <div class="contact-logo col-lg-4 col-md-4 col-sm-4">
                        <img src="images/logo.png" alt="logo">
                        <h3 class="txt-blue">@storeName</h3>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <h4>@T("contactpage.office")</h4>
                        <p><b>@T("contactpage.address"): </b>@homepageSettings.Address</p>
                        <p><b>@T("contactpage.phone"): </b>@homepageSettings.PhoneNumber</p>
                        <p><b>Fax:</b>@homepageSettings.Fax</p>
                        <p><b>Email: </b>@homepageSettings.Email</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h4 style="text-transform:uppercase;">@T("homepage.timetowork")</h4>
                        <p><b>Hotline: @homepageSettings.PhoneSuport</b></p>
                        <p>@T("homepage.timetowork"): @T("homepage.timetowork.detail") </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="contact-address contact-branch">
            <div class="container">
                @for(var i =0;i<Model.Count;i+=2){
                
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style='margin-top:10px;'>
                        <h4>@T("branch") @Model[i].Name</h4>
                        <p><b>@T("contactpage.address"): </b>@Model[i].Address</p>
                        <p><b>@T("contactpage.phone"): </b>@Model[i].PhoneNumber</p>
                        <p><b>Fax:</b>@Model[i].Fax</p>
                        <p><b>Email: </b>@Model[i].Email</p>
                    </div>
                    @if(i+1 <Model.Count){
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style='margin-top:10px;'>
                        <h4>@T("branch") @Model[i+1].Name</h4>
                        <p><b>@T("contactpage.address"): </b>@Model[i+1].Address</p>
                        <p><b>@T("contactpage.phone"): </b>@Model[i+1].PhoneNumber</p>
                        <p><b>Fax:</b>@Model[i+1].Fax</p>
                        <p><b>Email: </b>@Model[i+1].Email</p>
                    </div>
                    }
                </div>
                 <hr/>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
