﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Models.Home;
@model HomepageModel
@{
    Layout = "_ColumnsOne";

    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    if (homepageSettings.VideoUrl.Length > 11){
        homepageSettings.VideoUrl = homepageSettings.VideoUrl.Substring(Math.Max(0, homepageSettings.VideoUrl.Length - 11));
    }
    var defaultImageURL = "images/news/new01.jpg";
    var hotNewsImageURL = Model.HotNews.DefaultPictureModel.ImageUrl;
    if (hotNewsImageURL == null){
        hotNewsImageURL = defaultImageURL;
    }
}
<style>
a {
    color: white;
}
</style>
<div class="page-home">
    <div class="hero-section" style="background: linear-gradient(to right, rgba(17, 55, 132, 0.8) 0%, rgba(61, 179, 197, 0.27) 100%), url('@Model.HomeSetting.BannerBackURL'), url('@Model.HomeSetting.BannerBackURL');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 hero-text-image">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 iphone-wrap">
                            <img src="@Model.HomeSetting.BannerFrontURL" alt="Image" data-aos="fade-right">
                        </div>
                        <div class="col-lg-8 col-md-6 text-lg-left">
                            <h4 data-aos="fade-left" style="text-transform: uppercase;">@T("homepage.banner.header1") </h4>
                            <h1 data-aos="fade-left" style="text-transform: uppercase;">@T("homepage.banner.header2")</h1>
                            <h2 data-aos="fade-left" style="text-transform: uppercase;">@T("homepage.banner.header3")</h2>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fr-form">
        <div class="container">
            <div class="schedule-form">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="fr-video">
                            <div class="fr-title">
                                <h4>@T("homepage.video.title")</h4>
                                <h3 style="text-transform: uppercase;">@storeName</h3>
                            </div>
                            <div class="video-img">
                                <a data-type="youtube" data-id="@homepageSettings.VideoUrl" data-autoplay='true'
                                   class="video-banner js-trigger-video-modal vpop">
                                    <img class="video-banner-img"
                                         src="https://img.youtube.com/vi/@homepageSettings.VideoUrl/hqdefault.jpg"
                                         alt="" />

                                    <img class="video-banner-icon-play"
                                         alt="Play Video"
                                         src="~/icons/video.svg" />
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="fr-schedule">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="fr-txt">
                                        <div class="">
                                            <div class="fr-title">
                                                <i class="flaticon-calendar"></i>
                                                <p class="big-txt">@T("homepage.booking")</p>
                                            </div>
                                            <div class="fr-schedule">
                                                <p>@T("homepage.timetowork")</p>
                                                <p>@T("homepage.timetowork.detail")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/dat-kham" class="fr-btn">@T("homepage.booknow")<img src="~/icons/play.svg" /></a>
                                </div>
                                <div class="col-md-6">
                                    <div class="fr-txt">
                                        <div class="">
                                            <div class="flex-display">
                                                <i class="flaticon-clipboards"></i>
                                                <p class="big-txt" style="text-transform:uppercase;">@T("homepage.examination.helper")</p>
                                            </div>
                                            <div class="fr-schedule">
                                                <p>@T("homepage.timetowork")</p>
                                                <p>@T("homepage.timetowork.detail")</p>
                                            </div>
                                        </div>
                                    </div>
                                    <button onclick="onfly('/lien-he')" class=" cursor-pointer fr-btn">@T("homepage.examination.detail")<img src="~/icons/play.svg" /></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- video modal -->
    <!-- copy this stuff and down -->
    <div id="video-popup-overlay"></div>
    <div id="video-popup-container">
        <div id="video-popup-close" class="fade">&#10006;</div>
        <div id="video-popup-iframe-container">
            <iframe id="video-popup-iframe" src="" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
    <!-- end video modal -->
    <!-- service tab -->
    <section class="specialist">
        <div class="container">
            <div class="">
                <div class="foo">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            @foreach(var item in Model.Faculties){
             <a class="nav-item nav-link" id="nav-home-tab"  data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="flaticon-care"></i><br>@item.Name</a>
                            }
                        </div>
                    </nav>
                    <div class="tab-content main-tab" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="">
                                <div class="tab-txt">
                                    <h3>@T("homepage.specialist.title")</h3>
                                    <h2>@T("homepage.specialist.description")</h2>

                                    <p>@T("homepage.specialist.content")</p>
                                    <a class="red-btn" href='@T("homepage.specialist.link")'>@T("common.more")</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <img src="images/services/ser01.jpg" alt="">
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <img src="images/services/ser01.jpg" alt="">
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            <img src="images/services/ser01.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--    WORKFLOW -->
    <section class="workflow-content">
        <div class='container'>
            <div class="">
                <div class="workflow">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xl-6 wr-50">
                        <div class="wf-item foo">
                            <i class="flaticon-cardiogram"></i><br>@T("homepage.step1")
                        </div>
                    </div>
                    <i class="arrow-ico fa fa-play" aria-hidden="true"></i>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xl-6 wr-50">
                        <div class="wf-item foo">
                            <i class="flaticon-shopping-list"></i><br>@T("homepage.step2")
                        </div>
                    </div>
                    <i class="arrow-ico fa fa-play" aria-hidden="true"></i>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xl-6 wr-50">
                        <div class="wf-item foo">
                            <i class="flaticon-stethoscope"></i><br>@T("homepage.step3")
                        </div>
                    </div>
                    <i class="arrow-ico fa fa-play" aria-hidden="true"></i>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xl-6 wr-50">
                        <div class="wf-item foo"> <i class="flaticon-pill"></i><br>@T("homepage.step4")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="package">
        <div class="container">
            <div class="row">
                <div class='col-md-5 col-sm-4'><img class="pack-img foo" src="images/slide/doctor03.png" alt=""></div>
                <div class="col-md-7 col-sm-8 foo">
                    <div class="pack-info">
                        <h4>@T("homepage.pkg.caption")</h4>
                        <h2>@T("homepage.pkg.title")</h2>
                        <p>
                            @T("homepage.pkg.detail")
                        </p>
                        <a class="red-btn" href='@T("homepage.pkg.link")'>@T("homepage.viewdetail")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--/ DOCTOR /-->
    <section class="doctor">
        <div class="container">
            <div class="sec-title">
                <h3 class="txt-big"> <p>@T("homepage.doctor.team")</p> @storeName</h3>
            </div>
            <div class="row">
                @foreach(var item in Model.Doctors){
                    var imageURL = "images/doctors/doctor04.png";
                    if (!string.IsNullOrEmpty(item.ImageURL)){
                        imageURL = item.ImageURL;
                    }
                <div class="col-lg-4 col-md-4 foo">
                    <div class=" doc-item">
                        <div class="doc-img">
                            <img class="img-fluid" src="@imageURL" alt="@item.Name">
                        </div>
                        <div class="doc-info">
                            <p class="doc-name">@item.Name</p>
                            <p class="doc-level">@item.Role</p>
                            <p class="doc-des">@item.Specialize</p>
                        </div>
                        <a class="btn-gradient" href="/dat-kham" title="">@T("doctor.booking")</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <!-- NEWS LIST -->
    <section class="news">
        <div class="container">
            <div class="">
                <div class="news-top">
                    <div class="col-lg-8 col-md-12 col-sm-12 foo w100">
                        <div class="n-left">
                            <div class="sec-title">
                                <h3 class="txt-big">@T("homepage.faculty.info")</h3>
                            </div>
                            <div class="news-list">
                                <div id="news-testimonials" class="owl-carousel">
                                    @foreach(var item in Model.Newses){
                                        var imageURL = defaultImageURL;
                                        if(item.DefaultPictureModel.ImageUrl!=null){
                                            imageURL =item.DefaultPictureModel.ImageUrl;
                                        }
                                        <div class="item">
                                            <div class="shadow-effect" data-img="@item.DefaultPictureModel.ImageUrl">
                                                <img class="img-fluid"  src="@imageURL" alt="@item.Title">
                                                <div class="item-details">
                                                    <h5 style="min-height: 40px;"><b>@item.Title</b></h5>
                                                    <p style="text-align: justify;min-height: 126px;">@item.Short</p>
                                                    <a class="btn-gradient" href="@item.SeName" title="">@T("common.viewmore")</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 foo w100">
                        <div class="n-right">
                            <div class="sec-title">
                                <h3 class="txt-big">@T("homepage.hotnews")</h3>
                            </div>
                            <div class="item news-right" style="    min-height: 528px">
                                <img class="img-fluid news-img" src="@hotNewsImageURL" alt="tin tuc corona" />
                                <div class="news-info">
                                    <h4 class="news-title">@Model.HotNews.Title</h4>
                                    <p style="text-align: justify;">@Model.HotNews.Short</p>
                                    <a class="btn-no-border" href="@Model.HotNews.SeName" title="">@T("common.viewmore")<img src="~/icons/arrow-light.svg" alt="@Model.HotNews.Title"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="cleafix"></div>
                </div>
                <div class="news-bottom foo">
                    <div class="container">
                        <div class="row">
                            @foreach(var item in Model.OtherNewses){
                                var imageURL = defaultImageURL;
                                if(item.DefaultPictureModel.ImageUrl!=null){
                                    imageURL =item.DefaultPictureModel.ImageUrl;
                                }
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <div class="news-bottom-item">
                                    <img src="@imageURL" />
                                    <div class="news-bottom-info">
                                        <h5 style="min-height: 40px;">@item.Title</h5>
                                        <a class="btn-stroke" href="@item.SeName" title="@item.Title">@T("common.viewmore")</a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ footer Star /-->
    <section class="partner">
        <div class="container">
            <div class="partner-list foo">
                <span><img class="img-fluid" src="images/partner/01.png" /></span>
                <span><img class="img-fluid" src="images/partner/01.png" /></span>
                <span><img class="img-fluid" src="images/partner/01.png" /></span>
            </div>
        </div>
    </section>
</div>
