﻿@using System.Text
@model Nop.Core.Domain.Stores.Branch

    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Address" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Address" asp-required="true" />
                <span asp-validation-for="Address"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="PhoneNumber" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="PhoneNumber" asp-required="true" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Fax" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Fax" asp-required="true" />
                <span asp-validation-for="Fax"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Email" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Email" asp-required="true" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="Hotline" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Hotline" asp-required="true" />
                <span asp-validation-for="Hotline"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <nop-label asp-for="WorkTime" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="WorkTime" asp-required="true" />
                <span asp-validation-for="WorkTime"></span>
            </div>
        </div>
    </div>