﻿@model Nop.Core.Domain.Stores.Branch
@{
    const string hideInfoBlockAttributeName = "NewsItemPage.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName);
}
<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-panels id="branch-panels">
            <nop-panel asp-name="branch-info" asp-icon="fa fa-info" asp-title="Branch"  asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock">@await Html.PartialAsync("_BranchCreateOrUpdate.Info", Model)</nop-panel>
        </nop-panels>
    </div>
</div>