@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.DefaultStoreTheme_OverrideForStore" asp-parent-container="theme-selection-block" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.DefaultStoreTheme" />
        </div>
        <div class="col-md-9">
            <div id="theme-selection-block" class="theme-selection-block clearfix">
                @foreach (var theme in Model.StoreInformationSettings.AvailableStoreThemes)
                {
                    <div class="checkbox">
                        <label>
                            <span>
                                <input type="radio" name="@Html.NameFor(x => x.StoreInformationSettings.DefaultStoreTheme)" value="@theme.SystemName" @if (theme.SystemName.Equals(Model.StoreInformationSettings.DefaultStoreTheme, StringComparison.InvariantCultureIgnoreCase)) { <text> checked="checked" </text> }>
                                @theme.FriendlyName
                            </span>
                            <img src="@Url.Content(theme.PreviewImageUrl)" alt="@theme.PreviewText" title="@theme.PreviewText">
                        </label>
                    </div>
                }
            </div>
            <span asp-validation-for="StoreInformationSettings.DefaultStoreTheme"></span>
            <p><em>@T("Admin.Configuration.Settings.GeneralCommon.DefaultStoreTheme.GetMore")</em></p>
        </div>
    </div>
    <div class="form-group" @(Model.StoreInformationSettings.AvailableStoreThemes.Count == 1 ? Html.Raw("style=\"display:none\"") : null)>
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.AllowCustomerToSelectTheme_OverrideForStore" asp-input="StoreInformationSettings.AllowCustomerToSelectTheme" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.AllowCustomerToSelectTheme" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.AllowCustomerToSelectTheme" />
            <span asp-validation-for="StoreInformationSettings.AllowCustomerToSelectTheme"></span>
        </div>
    </div>
    <div class="form-group ">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.LogoPictureId_OverrideForStore" asp-parent-container="logo-block" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.LogoPictureId" />
        </div>
        <div class="col-md-9" id="logo-block">
            <nop-editor asp-for="StoreInformationSettings.LogoPictureId" />
            <span asp-validation-for="StoreInformationSettings.LogoPictureId"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.DisplayEuCookieLawWarning_OverrideForStore" asp-input="StoreInformationSettings.DisplayEuCookieLawWarning" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.DisplayEuCookieLawWarning" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.DisplayEuCookieLawWarning" />
            <span asp-validation-for="StoreInformationSettings.DisplayEuCookieLawWarning"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.StoreClosed_OverrideForStore" asp-input="StoreInformationSettings.StoreClosed" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.StoreClosed" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.StoreClosed" />
            <span asp-validation-for="StoreInformationSettings.StoreClosed"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm_OverrideForStore" asp-input="StoreInformationSettings.SubjectFieldOnContactUsForm" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.SubjectFieldOnContactUsForm" />
            <span asp-validation-for="StoreInformationSettings.SubjectFieldOnContactUsForm"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm_OverrideForStore" asp-input="StoreInformationSettings.UseSystemEmailForContactUsForm" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.UseSystemEmailForContactUsForm" />
            <span asp-validation-for="StoreInformationSettings.UseSystemEmailForContactUsForm"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-3">
            <nop-override-store-checkbox asp-for="StoreInformationSettings.PopupForTermsOfServiceLinks_OverrideForStore" asp-input="StoreInformationSettings.PopupForTermsOfServiceLinks" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="StoreInformationSettings.PopupForTermsOfServiceLinks" />
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="StoreInformationSettings.PopupForTermsOfServiceLinks" />
            <span asp-validation-for="StoreInformationSettings.PopupForTermsOfServiceLinks"></span>
        </div>
    </div>
</div>