@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/Slider/List">Tới trang cài đặt Slider</a>
            <div class="setting-desc">
                <p>Nội dung được lấy từ danh mục <b>Slider</b>. <a href="/Admin/Slider/List">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                <p>Để thêm mới, chọn Thêm mới, tải lên hình ảnh cho slider và chọn "Xuất bản". Sau đó nhấn Lưu</p>
                <p>Để chỉnh sửa, chọn slider cần chỉnh sửa, chọn hoặc bỏ chọn "Xuất bản". Sau đó nhấn Lưu</p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/slider.png" class="img-responsive"/>
        </div>
    </div>
</div>