@model Nop.Core.Domain.Stores.Branch

<style>

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight:600;
    font-size:20px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
</style>
<div class="container panel-body">
<nop-panels  id="about-slider" asp-name="about-slider" asp-icon="fa fa-search-plus" asp-title="Slider">
<div class="container">
    <div class="form-group">
        <label for="exampleInputEmail">Tên chi nhánh</label>
        <nop-editor asp-for="Name" />
        <small id="address" class="form-text text-muted">Tên chi nhánh, ví dụ Bình Dương.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Địa chỉ</label>
        <nop-editor asp-for="Address" />
        <small id="address" class="form-text text-muted">Cung cấp địa chỉ có kèm chỉ dẫn sẽ giúp bệnh nhân dễ tìm ra bệnh viện hơn.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Điện thoại</label>
        <nop-editor asp-for="PhoneNumber" />
        <small id="address" class="form-text text-muted">Số điện thoại hoặc hotline của bệnh viện.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Fax</label>
        <nop-editor asp-for="Fax" />
        <small id="address" class="form-text text-muted">Số Fax.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail">Email</label>
        <nop-editor asp-for="Email" />
        <small id="address" class="form-text text-muted">Địa chỉ thư điện tử của chi nhánh bệnh viện.</small>
    </div>
</div>
</nop-panels>
</div>