@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HospitalSettings.BannerDefaultId">Banner </label>
                <div title="Banner trang mặc định." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.BannerDefaultId" />
            <span asp-validation-for="HospitalSettings.BannerDefaultId"></span>
        </div>
    </div>
</div>