@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/News/NewsCategories">Tới trang cài đặt chuyên khoa (Vui lòng lọc với danh mục Chuyên khoa)</a>
            <div class="setting-desc">
                <p>Nội dung được lấy tự động từ danh mục <b>Chuyên khoa</b>. <a href="/Admin/News/NewsCategories">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                <p>Để thêm mới, chọn Thêm mới, chọn "hiển thị lên trang chủ" và danh mục "Chuyên khoa". Sau đó nhấn Lưu</p>
                <p>Để chỉnh sửa, chọn bản tin cần chỉnh sửa, chọn hoặc bỏ chọn "hiển thị lên trang chủ" và danh mục "Chuyên
                    khoa". Sau đó nhấn Lưu</p>
                <p>Hình ảnh chuyên khoa sẽ được lấy từ <b>hình đầu tiên </b>trong danh sách hình ảnh của danh mục chuyên khoa. </p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/chuyen-khoa.png" class="img-responsive"/>
        </div>
    </div>
</div>