@model GeneralCommonSettingsModel
@{
    var url = Model.HospitalSettings.DoctorVideoUrl?.Replace("watch?v=", "embed/");
}
<style>
    .panel-container {
        padding: 20px 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .panel-container input,
    textarea {
        border-radius: 4px;
    }

    .panel.collapsible-panel>.panel-heading span {
        font-size: 18px;
        font-weight: 600;
    }

    .pull-right button {
        width: 100px;
        border-radius: 6px;
        font-size: 15px;
        padding: 8px;
    }

    .onoffswitch {
        display: none;
    }
    .label-wrapper{
        float: left!important;
    }
</style>
<div class="panel-body">
    <!-- old -->
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Mô tả về bệnh viện</nop-label>
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="HospitalSettings.BrandShortDescription" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>@T("common.phone") Hotline</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.PhoneSuport" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>@T("common.phone") bác sĩ trực</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.PhoneOnline" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>@T("common.phone") bệnh viện</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.PhoneNumber" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Số Fax</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.Fax" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Email</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.Email" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Thời gian làm việc</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.WorkTime" asp-template="RichEditor"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label><strong>Link Video Youtube Trang Chuyên gia - Bác sĩ </strong></nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor class="form-control" asp-for="HospitalSettings.DoctorVideoUrl" />
            @if(!string.IsNullOrEmpty(url)){
                <iframe style="margin-top:10px;" width="420" height="315"
                        src="@url">
                </iframe>
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Cài đặt thông tin về bệnh viện</nop-label>
        </div>
        <div class="col-md-9">
            <a href="/Admin/Store/Edit/1">Tới trang thông tin bệnh viện</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Cài đặt về địa chỉ chi nhánh </nop-label>
        </div>
        <div class="col-md-9">
            <a href="/Admin/Setting/Branches">Tới trang thông tin chi nhánh</a>
        </div>
    </div>
</div>