@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/News/NewsItems">Tới trang quản lý bản tin Truyền thông (Vui lòng lọc với danh mục Truyền thông)</a>
            <div class="setting-desc">
                    <p>Nội dung được lấy tự động từ bản tin <b>Truyền thông</b>. <a href="/Admin/News/NewsItems">Bấm vào
                            đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                    <p>Để thêm mới, chọn Thêm mới, chọn "hiển thị lên trang chủ" và danh mục "Truyền thông", nhập Link Video Youtube, Sau đó nhấn Lưu</p>
                    <p>Để chỉnh sửa, chọn bản tin cần chỉnh sửa, chọn hoặc bỏ chọn "hiển thị lên trang chủ" và danh mục "Gói
                        khám". Sau đó nhấn Lưu</p>
                </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/comm.png" class="img-responsive"/>
        </div>
    </div>
</div>