@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Rss1PictureId">Mô tả</label>
                <div title="Tầm nhìn của bệnh viện" ." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="input-group input-group-required">
                @Html.EditorFor(model => model.HospitalSettings.AboutWhyChooseUs, "RichEditor")

                <div class="input-group-btn">
                    <nop-required />
                </div>
            </div>
            <span asp-validation-for="HospitalSettings.AboutWhyChooseUs"></span>
        </div>
    </div>
</div>