@model GeneralCommonSettingsModel
@{ 
    var url = "";
    if (!string.IsNullOrEmpty( Model.HospitalSettings.AboutVideoUrl)){
     url = Model.HospitalSettings.AboutVideoUrl.Replace("watch?v=", "embed/");
    }
}
<style>

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight:600;
    font-size:20px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
</style>
<div class="container panel-body">
<nop-panels  id="about-slider" asp-name="about-slider" asp-icon="fa fa-search-plus" asp-title="Slider">
<div class="container">
    <div class="form-group">
        <label for="exampleInputEmail3">Tên chi nhánh</label>
        <nop-editor asp-for="HospitalSettings.Branch3" />
        <small id="address3" class="form-text text-muted">Tên chi nhánh, ví dụ Bình Dương.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail3">Địa chỉ</label>
        <nop-editor asp-for="HospitalSettings.Address3" />
        <small id="address3" class="form-text text-muted">Cung cấp địa chỉ có kèm chỉ dẫn sẽ giúp bệnh nhân dễ tìm ra bệnh viện hơn.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail3">Điện thoại</label>
        <nop-editor asp-for="HospitalSettings.PhoneNumber3" />
        <small id="address3" class="form-text text-muted">Số điện thoại hoặc hotline của bệnh viện.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail3">Fax</label>
        <nop-editor asp-for="HospitalSettings.Fax3" />
        <small id="address3" class="form-text text-muted">Số Fax.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail3">Email</label>
        <nop-editor asp-for="HospitalSettings.Email3" />
        <small id="address3" class="form-text text-muted">Địa chỉ thư điện tử của chi nhánh bệnh viện.</small>
    </div>
</div>
</nop-panels>
</div>