@model GeneralCommonSettingsModel
<div class="panel-body">
     <div class="form-group">
        <div class="col-md-3">
            <nop-label>Mô tả đặt khám</nop-label>
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="HospitalSettings.BookingDescription" />
        </div>
    </div>
     <div class="form-group">
        <div class="col-md-3">
            <nop-label>Thời gian làm việc</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.BookingWorkTime" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Thời gian làm việc buổi sáng</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.BookingWorkTimeMorning" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Thời gian làm việc buổi chiều</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.BookingWorkTimeAfternoon" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HomePageBookingPictureId">Hình ảnh mục đặt khám</label>
                <div title="Hình ảnh mục đặt khám." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.HomePageBookingPictureId" />
            <span asp-validation-for="HospitalSettings.HomePageBookingPictureId"></span>
        </div>
    </div>
</div>