@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Rss1PictureId">Hình ảnh Thông tin sở y tế</label>
                <div title="Hình ảnh Thông tin sở y tế." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.Rss1PictureId" />
            <span asp-validation-for="HospitalSettings.Rss1PictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="Rss2PictureId">Hình ảnh Thông tin phòng khám</label>
                <div title="Hình ảnh Thông tin phòng khám." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.Rss2PictureId" />
            <span asp-validation-for="HospitalSettings.Rss2PictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="http://www.medinet.hochiminhcity.gov.vn/">Thông tin được cập nhật tự động từ sở y tế thành phố Hồ
                Chí Minh.</a>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/rss.png" class="img-responsive" />
        </div>
    </div>
</div>