@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/News/NewsItems">Thông tin y khoa được cập nhật tự động từ các bài viết tin tức được đánh dấu "Hiển thị trên trang chủ"</a>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/news.png" class="img-responsive"/>
        </div>
    </div>
</div>