@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/Manufacturer/List">Tới trang cài đặt Đối tác</a>
            <div class="setting-desc">
                <p>Nội dung được lấy tự động từ <b>Đối tác</b>. <a href="/Admin/Manufacturer/List">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/vendor.png" class="img-responsive"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HomePageVendorPictureId">Hình ảnh mục đối tác (hiển thị trên máy tính bảng và laptop)</label>
                <div title="Hình ảnh mục đối tác." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.HomePageVendorPictureId" />
            <span asp-validation-for="HospitalSettings.HomePageVendorPictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HomePageVendorMobilePictureId">Hình ảnh mục đối tác (hiển thị trên điện thoại)</label>
                <div title="Hình ảnh mục đối tác." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.HomePageVendorMobilePictureId" />
            <span asp-validation-for="HospitalSettings.HomePageVendorMobilePictureId"></span>
        </div>
    </div>
</div>