@model GeneralCommonSettingsModel
@{
    var url = Model.HospitalSettings.BannerVideoUrl.Replace("watch?v=", "embed/");
}
<style>
    .panel-container {
        padding: 20px 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .panel-container input,
    textarea {
        border-radius: 4px;
    }

    .panel.collapsible-panel>.panel-heading span {
        font-size: 18px;
        font-weight: 600;
    }

    .pull-right button {
        width: 100px;
        border-radius: 6px;
        font-size: 15px;
        padding: 8px;
    }

    .onoffswitch {
        display: none;
    }
    .label-wrapper{
        float: left!important;
    }
</style>
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/News/NewsItems">Tới trang cài đặt gói khám (Vui lòng lọc với danh mục Gói khám)</a>
            <div class="setting-desc">
                <p>Nội dung được lấy tự động từ danh mục <b>Gói khám</b>. <a href="/Admin/News/NewsItems">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                <p>Để thêm mới, chọn Thêm mới, chọn "hiển thị lên trang chủ" và danh mục "Gói khám". Sau đó nhấn Lưu</p>
                <p>Để chỉnh sửa, chọn bản tin cần chỉnh sửa, chọn hoặc bỏ chọn "hiển thị lên trang chủ" và danh mục "Gói
                    khám". Sau đó nhấn Lưu</p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/goi-kham.png" class="img-responsive"/>
        </div>
    </div>
</div>
