@model GeneralCommonSettingsModel
@{ 
    var url = "";
    if (!string.IsNullOrEmpty( Model.HospitalSettings.AboutVideoUrl)){
     url = Model.HospitalSettings.AboutVideoUrl.Replace("watch?v=", "embed/");
    }
}
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/News/NewsItems"><strong>Bài viết liên quan được lấy tự từ bản tin được gắn thẻ "về chúng tôi".</strong></a>
            <a href="/Admin/News/NewsItems">Tới trang quản lý bài viết "Về chúng tôi"</a>
            <div class="setting-desc">
                <p>Nội dung được lấy tự động từ các bản tin có gắn thẻ <b>Về chúng tôi</b>. <a href="/Admin/News/NewsItems">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                <p>Để thêm mới, chọn Thêm mới, điền thẻ "Về chúng tôi" và gõ Enter. Sau đó nhấn Lưu</p>
                <p>Để chỉnh sửa, chọn bản tin cần chỉnh sửa, chọn hoặc bỏ chọn "Về chúng tôi". Sau đó nhấn Lưu</p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/news-edit.png" class="img-responsive"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label><strong>Link Video Youtube</strong></nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor class="form-control" asp-for="HospitalSettings.AboutVideoUrl" />
            @if(!string.IsNullOrEmpty(url)){
                <iframe style="margin-top:10px;" width="420" height="315"
                        src="@url">
                </iframe>
            }
        </div>
    </div>
</div>