@model GeneralCommonSettingsModel
<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Tiêu đề giới thiệu đội ngũ bác sĩ</nop-label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.DoctorTitle" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <nop-label>Mô tả</nop-label>
        </div>
        <div class="col-md-9">
            <nop-textarea asp-for="HospitalSettings.DoctorDescription" />
        </div>
    </div>
    <br/>
    <div class="form-group">
        <div class="col-md-3 underline">
            <a href="/Admin/Product/List">Tới trang cài đặt Bác sĩ</a>
            <div class="setting-desc">
                <p>Nội dung được lấy tự động từ danh sách các <b>Bác sĩ</b>. <a href="/Admin/Product/List">Bấm vào
                        đây</a> để đi tới trang chỉnh sửa hoặc thêm mới. </p>
                <p>Để thêm mới, chọn Thêm mới, chọn "hiển thị lên trang chủ" và danh mục "Bác sĩ". Sau đó nhấn Lưu</p>
                <p>Để chỉnh sửa, chọn bản tin cần chỉnh sửa, chọn hoặc bỏ chọn "hiển thị lên trang chủ" và danh mục "Gói
                    khám". Sau đó nhấn Lưu</p>
            </div>
        </div>
        <div class="col-md-9 underline">
            <img src="/assets/img/doctor.png" class="img-responsive"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HomePageDoctorPictureId">Hình ảnh mục chuyên gia - bác sĩ (hiển thị trên máy tính bảng và laptop)</label>
                <div title="Hình ảnh mục chuyên gia - bác sĩ." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.HomePageDoctorPictureId" />
            <span asp-validation-for="HospitalSettings.HomePageDoctorPictureId"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <div class="label-wrapper"><label class="control-label" for="HomePageDoctorMobilePictureId">Hình ảnh mục chuyên gia - bác sĩ (hiển thị trên điện thoại)</label>
                <div title="Hình ảnh mục chuyên gia - bác sĩ." data-toggle="tooltip" class="ico-help"><i
                        class="fa fa-question-circle"></i></div>
            </div>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="HospitalSettings.HomePageDoctorMobilePictureId" />
            <span asp-validation-for="HospitalSettings.HomePageDoctorMobilePictureId"></span>
        </div>
    </div>
</div>