@model GeneralCommonSettingsModel

@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.Settings.HomePageSetting").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Banner page setting");
}
@{
    const string hideCommonBlockAttributeName = "GeneralCommonSettingsPage.HideCommonBlock";
    var hideCommonBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideCommonBlockAttributeName);

    const string hideFaviconBlockAttributeName = "GeneralCommonSettingsPage.HideFaviconBlock";
    var hideFaviconBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideFaviconBlockAttributeName);

    const string hideTopMenuItemsBlockAttributeName = "GeneralCommonSettingsPage.HideTopMenuItemsBlock";
    var hideTopMenuItemsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideTopMenuItemsBlockAttributeName);

    const string hideFooterItemsBlockAttributeName = "GeneralCommonSettingsPage.HideFooterItemsBlock";
    var hideFooterItemsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideFooterItemsBlockAttributeName);

    const string hideSocialMediaBlockAttributeName = "GeneralCommonSettingsPage.HideSocialMediaBlock";
    var hideSocialMediaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSocialMediaBlockAttributeName);

    const string hideSitemapBlockAttributeName = "GeneralCommonSettingsPage.HideSitemapBlock";
    var hideSitemapBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSitemapBlockAttributeName);

    const string hideSEOBlockAttributeName = "GeneralCommonSettingsPage.HideSEOBlock";
    var hideSEOBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSEOBlockAttributeName);

    const string hideMinificationBlockAttributeName = "GeneralCommonSettingsPage.HideMinificationBlock";
    var hideMinificationBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMinificationBlockAttributeName);

    const string hideSecurityBlockAttributeName = "GeneralCommonSettingsPage.HideSecurityBlock";
    var hideSecurityBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSecurityBlockAttributeName);

    const string hideCaptchaBlockAttributeName = "GeneralCommonSettingsPage.HideCaptchaBlock";
    var hideCaptchaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideCaptchaBlockAttributeName);

    const string hidePDFBlockAttributeName = "GeneralCommonSettingsPage.HidePDFBlock";
    var hidePDFBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePDFBlockAttributeName);

    const string hideLocalizationBlockAttributeName = "GeneralCommonSettingsPage.HideLocalizationBlock";
    var hideLocalizationBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideLocalizationBlockAttributeName);

    const string hideFullTextBlockAttributeName = "GeneralCommonSettingsPage.HideFullTextBlock";
    var hideFullTextBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideFullTextBlockAttributeName);

    const string hideAdminAreaBlockAttributeName = "GeneralCommonSettingsPage.HideAdminAreaBlock";
    var hideAdminAreaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideAdminAreaBlockAttributeName);
}
<style>
    .picture-container img{
        width: 200px;
    }
</style>
<form asp-controller="Setting" asp-action="GeneralCommon" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.GeneralCommon")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.GeneralCommonSettingsButtons })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")
            <div asp-validation-summary="All"></div>

            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-vision" asp-icon="fa fa-compress panel-icon" asp-title="Về chúng tôi" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerAbout", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-mission" asp-icon="fa fa-compress panel-icon" asp-title="Thông tin tuyển dụng" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerRecruit", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-coreValue" asp-icon="fa fa-compress panel-icon" asp-title="Liên hệ" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerContact", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-WhyChooseUs" asp-icon="fa fa-compress panel-icon" asp-title="Chuyên khoa" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerSpecialist", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-specialist" asp-icon="fa fa-compress panel-icon" asp-title="Chuyên gia - Bác sĩ" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerDoctor", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-service" asp-icon="fa fa-compress panel-icon" asp-title="Dịch vụ" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerService", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-package" asp-icon="fa fa-compress panel-icon" asp-title="Gói khám" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerPackage", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-guide" asp-icon="fa fa-compress panel-icon" asp-title="Hướng dẫn khách hàng" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerUserManual", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-news" asp-icon="fa fa-compress panel-icon" asp-title="Tin tức" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerNews", Model)</nop-panel>
            </nop-panels>
            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-about" asp-icon="fa fa-compress panel-icon" asp-title="Chung" asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.BannerDefault", Model)</nop-panel>
            </nop-panels>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.SitemapSettings.SitemapEnabled)").click(toggleSitemapSettings);
            $("#@Html.IdFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)").click(toggleLoadAllLocaleRecordsOnStartup);
            toggleSitemapSettings();
            toggleLoadAllLocaleRecordsOnStartup();
        });

        function toggleSitemapSettings() {
            if ($('#@Html.IdFor(model => model.SitemapSettings.SitemapEnabled)').is(':checked')) {
                $("#pnlSitemapPageSize, #pnlSitemapIncludeCategories, #pnlSitemapIncludeManufacturers, #pnlSitemapIncludeProducts, #pnlSitemapIncludeProductTags, #pnlSitemapIncludeTopics, #pnlSitemapIncludeBlogPosts, #pnlSitemapIncludeNews").show();
            }
            else {
                $("#pnlSitemapPageSize, #pnlSitemapIncludeCategories, #pnlSitemapIncludeManufacturers, #pnlSitemapIncludeProducts, #pnlSitemapIncludeProductTags, #pnlSitemapIncludeTopics, #pnlSitemapIncludeBlogPosts, #pnlSitemapIncludeNews").hide();
            }
        }

        function toggleLoadAllLocaleRecordsOnStartup() {
            warningValidation('@Url.Action("RedisCacheHighTrafficWarning", "Setting")',
                '@Html.NameFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)',
                {
                    loadAllLocaleRecordsOnStartup: $('#@Html.IdFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)').is(':checked')
                });
        }
    </script>
</form>

@*upload favicon and app icons form*@
<div id="uploadiconsarchive-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="uploadiconsarchive-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadiconsarchive-window-title">@T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive")</h4>
            </div>
            <form asp-controller="Setting" asp-action="UploadIconsArchive" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                @string.Format(T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive.Hint").Text, Model.ActiveStoreScopeConfiguration)
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ZipFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="archivefile" name="archivefile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="upload-icons-archive">
                            @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

