@model Nop.Core.Domain.Stores.Branch

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.NewsItems.AddNew").Text;
    Html.SetActiveMenuItemSystemName("Contact page setting");
}

<form asp-controller="Setting" asp-action="Branch" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.NewsItems.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Branches">@T("Admin.ContentManagement.News.NewsItems.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_BranchCreateOrUpdate", Model)
</form>