@model Nop.Core.Domain.Stores.Branch

@{
    //page title
    ViewBag.PageTitle = T("Admin.ContentManagement.News.NewsItems.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Contact page setting");
}


<form asp-controller="Setting" asp-action="Branch" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.News.NewsItems.EditNewsItemDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="NewsItems">@T("Admin.ContentManagement.News.NewsItems.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">            
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <span id="branch-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_BranchCreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-action="DeleteBranch" asp-model-id="@Model.Id" asp-button-id="branch-delete" />