@model List<Nop.Core.Domain.Stores.Branch>

@{
    //page title
    ViewBag.PageTitle = "Cài đặt trang Liên hệ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Contact page setting");
    var data = new DataTablesModel
               {
                   Name = "branch-grid",
                   UrlRead = new DataUrl("BranchList", "Setting", null),
                   SearchButtonId = "search-branch",
                   Length = 15,
                   LengthMenu ="7, 15, 20, 50, 100",
                   Filters = new List<FilterParameter>
                        {
                            new FilterParameter("Name")
                        },
                   ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.Name))
                            {
                                Title = "Tên chi nhánh"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.Address))
                            {
                                Title = "Địa chỉ"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.PhoneNumber))
                            {
                                Title = "Số điện thoại"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.Fax))
                            {
                                Title = "Fax"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.Email))
                            {
                                Title = "Email"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.Hotline))
                            {
                                Title = "Hotline"
                            },
                            new ColumnProperty(nameof(Nop.Core.Domain.Stores.Branch.WorkTime))
                            {
                                Title = "Thời gian làm việc"
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("BranchEdit"))
                            }
                        }
               };
}

<div class="content-header clearfix">
    <h1 class="pull-left">
        Cài đặt trang Liên hệ
    </h1>
    <div class="pull-right">
        <a asp-action="BranchCreate" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.NewsListButtons })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @*hide the entire search block if no elements are displayed*@
            @* <div class="panel panel-default panel-search" >
                <div class="panel-body">
                    <div class="row search-row >
                        <div class="search-text">@T("Admin.Common.Search")</div>
                        <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                        <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div> *@

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", data)
                </div>
            </div>
        </div>
    </div>
</div>