@model List<Nop.Core.Domain.Stores.Branch>

@{
    //page title
    ViewBag.PageTitle = "Cài đặt trang Liên hệ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Contact page setting");
}


<form asp-controller="Setting" asp-action="Branch" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
             Cài đặt trang Liên hệ
        </h1>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div asp-validation-summary="All"></div>

            <nop-panels id="Branchsettings-panels">
                @foreach(var item in Model){
                     <nop-panel asp-name="Branchsettings-common" asp-icon="fa fa-info" asp-title="@T("Admin.Configuration.Settings.Branch")" asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.Contact", item)</nop-panel>
                }
            </nop-panels>
        </div>
    </div>
</form>
