@model GeneralCommonSettingsModel

@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.IStoreContext storeContext
@using Nop.Web.Models.Home;
@{

    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    //page class
    Html.AppendPageCssClassParts("html-home-page");
    if (homepageSettings.VideoUrl.Length > 11)
    {
        homepageSettings.VideoUrl = homepageSettings.VideoUrl.Substring(Math.Max(0, homepageSettings.VideoUrl.Length - 11));
    }
    var defaultImageURL = "images/news/new01.jpg";
    Random rnd = new Random();
    //page title
    ViewBag.PageTitle = "Cài đặt trang chủ";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Home page setting");
    const string hideCommonBlockAttributeName = "GeneralCommonSettingsPage.HideCommonBlock";
    var hideCommonBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideCommonBlockAttributeName);

    const string hideFaviconBlockAttributeName = "GeneralCommonSettingsPage.HideFaviconBlock";
    var hideFaviconBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideFaviconBlockAttributeName);

    const string hideTopMenuItemsBlockAttributeName = "GeneralCommonSettingsPage.HideTopMenuItemsBlock";
    var hideTopMenuItemsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideTopMenuItemsBlockAttributeName);

    const string hideFooterItemsBlockAttributeName = "GeneralCommonSettingsPage.HideFooterItemsBlock";
    var hideFooterItemsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideFooterItemsBlockAttributeName);

    const string hideSocialMediaBlockAttributeName = "GeneralCommonSettingsPage.HideSocialMediaBlock";
    var hideSocialMediaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideSocialMediaBlockAttributeName);

    const string hideSitemapBlockAttributeName = "GeneralCommonSettingsPage.HideSitemapBlock";
    var hideSitemapBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideSitemapBlockAttributeName);

    const string hideSEOBlockAttributeName = "GeneralCommonSettingsPage.HideSEOBlock";
    var hideSEOBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSEOBlockAttributeName);

    const string hideMinificationBlockAttributeName = "GeneralCommonSettingsPage.HideMinificationBlock";
    var hideMinificationBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideMinificationBlockAttributeName);

    const string hideSecurityBlockAttributeName = "GeneralCommonSettingsPage.HideSecurityBlock";
    var hideSecurityBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideSecurityBlockAttributeName);

    const string hideCaptchaBlockAttributeName = "GeneralCommonSettingsPage.HideCaptchaBlock";
    var hideCaptchaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideCaptchaBlockAttributeName);

    const string hidePDFBlockAttributeName = "GeneralCommonSettingsPage.HidePDFBlock";
    var hidePDFBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hidePDFBlockAttributeName);

    const string hideLocalizationBlockAttributeName = "GeneralCommonSettingsPage.HideLocalizationBlock";
    var hideLocalizationBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideLocalizationBlockAttributeName);

    const string hideFullTextBlockAttributeName = "GeneralCommonSettingsPage.HideFullTextBlock";
    var hideFullTextBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideFullTextBlockAttributeName);

    const string hideAdminAreaBlockAttributeName = "GeneralCommonSettingsPage.HideAdminAreaBlock";
    var hideAdminAreaBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer,
    hideAdminAreaBlockAttributeName);
}
<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
<!-- CSS here -->
@* <link rel="stylesheet" href="~/assets/css/bootstrap.min.css"> *@
<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/assets/css/slicknav.css">
<link rel="stylesheet" href="~/assets/css/flaticon.css">
<link rel="stylesheet" href="~/assets/css/progressbar_barfiller.css">
<link rel="stylesheet" href="~/assets/css/gijgo.css">
<link rel="stylesheet" href="~/assets/css/animate.min.css">
<link rel="stylesheet" href="~/assets/css/animated-headline.css">
<link rel="stylesheet" href="~/assets/css/magnific-popup.css">
<link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/assets/css/themify-icons.css">
<link rel="stylesheet" href="~/assets/css/slick.css">
<link rel="stylesheet" href="~/assets/css/nice-select.css">
<link rel="stylesheet" href="~/assets/scss/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
<script src="~/assets/js/owl.carousel.min.js"></script>

<style>
    .main-header {
        position: relative;
        max-height: 100px;
        z-index: 1030;
    }

    body {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

    .btn i {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        left: 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    .setting-desc{
        padding-top: 20px;
    }
    .setting-desc p{
        text-align: justify;
        color:red;
    }
        .panel-container {
        padding: 20px 40px;
        font-size: 15px;
        font-weight: 600;
    }

    .panel-container input,
    textarea {
        border-radius: 4px;
    }

    .panel.collapsible-panel>.panel-heading span {
        font-size: 18px;
        font-weight: 600;
    }

    .pull-right button {
        width: 100px;
        border-radius: 6px;
        font-size: 15px;
        padding: 8px;
    }

    .onoffswitch {
        display: none;
    }
    .label-wrapper{
        float: left!important;
    }
</style>
<form asp-controller="Setting" asp-action="GeneralCommon" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Cài đặt trang chủ
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.GeneralCommonSettingsButtons
            })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @await Component.InvokeAsync("SettingMode")
            <div asp-validation-summary="All"></div>

            <nop-panels id="generalcommon-panels">
                <nop-panel asp-name="generalcommon-slider" asp-icon="fa fa-search-plus"
                    asp-title="Slider"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeSlider", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-specialist" asp-icon="fa fa-info panel-icon"
                    asp-title="Chuyên khoa"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeSpecialist", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-booking" asp-icon="fa fa-globe panel-icon panel-icon"
                    asp-title="Đặt khám"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeBooking", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-package" asp-icon="fa fa-clipboard panel-icon"
                    asp-title="Gói khám"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomePackage", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-doctor" asp-icon="fa fa-lock panel-icon"
                    asp-title="Bác sĩ"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeDoctor", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-Vendor" asp-icon="fa fa-picture-o panel-icon"
                    asp-title="Đối tác"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeVendor", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-Rss" asp-icon="fa fa-sitemap panel-icon"
                    asp-title="Thông tin sở y tế"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeRss", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-News" asp-icon="fa fa-compress panel-icon"
                    asp-title="Thông tin y khoa"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeNews", Model)</nop-panel>
                <nop-panel asp-name="generalcommon-Comm" asp-icon="fa fa-globe panel-icon panel-icon"
                    asp-title="Tin truyền thông"
                    asp-hide-block-attribute-name="@hideSEOBlockAttributeName" asp-hide="@hideSEOBlock"
                    asp-advanced="false">@await Html.PartialAsync("_GeneralCommon.HomeComm", Model)</nop-panel>

                @await Component.InvokeAsync("AdminWidget", new { widgetZone =
                AdminWidgetZones.GeneralCommonDetailsBlock, additionalData = Model })
            </nop-panels>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.SitemapSettings.SitemapEnabled)").click(toggleSitemapSettings);
            $("#@Html.IdFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)").click(toggleLoadAllLocaleRecordsOnStartup);
            toggleSitemapSettings();
            toggleLoadAllLocaleRecordsOnStartup();
        });

        function toggleSitemapSettings() {
            if ($('#@Html.IdFor(model => model.SitemapSettings.SitemapEnabled)').is(':checked')) {
                $("#pnlSitemapPageSize, #pnlSitemapIncludeCategories, #pnlSitemapIncludeManufacturers, #pnlSitemapIncludeProducts, #pnlSitemapIncludeProductTags, #pnlSitemapIncludeTopics, #pnlSitemapIncludeBlogPosts, #pnlSitemapIncludeNews").show();
            }
            else {
                $("#pnlSitemapPageSize, #pnlSitemapIncludeCategories, #pnlSitemapIncludeManufacturers, #pnlSitemapIncludeProducts, #pnlSitemapIncludeProductTags, #pnlSitemapIncludeTopics, #pnlSitemapIncludeBlogPosts, #pnlSitemapIncludeNews").hide();
            }
        }

        function toggleLoadAllLocaleRecordsOnStartup() {
            warningValidation('@Url.Action("RedisCacheHighTrafficWarning", "Setting")',
                '@Html.NameFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)',
                {
                    loadAllLocaleRecordsOnStartup: $('#@Html.IdFor(model => model.LocalizationSettings.LoadAllLocaleRecordsOnStartup)').is(':checked')
                });
        }
    </script>
</form>

@*upload favicon and app icons form*@
<div id="uploadiconsarchive-window" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="uploadiconsarchive-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadiconsarchive-window-title">
                    @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive")</h4>
            </div>
            <form asp-controller="Setting" asp-action="UploadIconsArchive" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                @string.Format(T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive.Hint").Text,
                                Model.ActiveStoreScopeConfiguration)
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ZipFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="archivefile" name="archivefile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="upload-icons-archive">
                            @T("Admin.Configuration.Settings.GeneralCommon.FaviconAndAppIcons.UploadIconsArchive")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
