﻿@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@inject IWebHelper webHelper
@{
     Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    Html.AppendPageCssClassParts("html-login-page");

    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.CurrentRequestProtocol);
}
<style>
  .message-error,.field-validation-error{
      color:red;
  }
  .abcRioButtonContentWrapper{
    background: #f54124;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .abcRioButton{
    width: 100%!important;
    height: 100%!important;
  }
  .login-page .login-content .signup_v4 .social-area .social-links li {
    width: 30%;
  }
@@media screen and (max-width : 480px){
    .social-links a{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
    .otp-login{
        background: #797d7c;
        color: white;
    }

    .otp-login a{
        background: #797d7c;
        color: white;
    }
</style>

    <main>
        <!-- BANNER -->
        <div class="main-banner">
            <img class="img-fluid" src="/assets/img/gallery/login_banner.jpg" />
        </div>
        <!-- /. BANNER -->
        <div class="login-page">
            <!-- <div class="sub-breadcrumb">
                <div class="container">
                    <img src="/assets/img/icon/hospital_ico.svg" /> <span>Đăng nhập/ Đăng ký</span>
                </div>
            </div> -->
            <div class="login-content">
                <div class="container">
                    <div class="tabbable-panel">
                        <div class="card signup_v4 mb-30">
                            <div class="card-body">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation" > <a class="nav-link active"
                                            data-toggle="tab" href="/login" role="tab" aria-controls="login"
                                            aria-selected="true">ĐĂNG NHẬP</a> </li>
                                    <li class="nav-item" role="presentation"> <a class="nav-link" 
                                             href="/register" role="tab" aria-controls="register"
                                            aria-selected="false">ĐĂNG KÍ</a> </li>
                                </ul>
                                <div class="tab-content" id="loginTabContent">
                                    <!-- ///////////////SIGNIN///////////////// -->
                                    <div class="tab-pane login-tab fade show active" id="login" role="tabpanel"
                                        aria-labelledby="login-tab">
                                        <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
                                         <div asp-validation-summary="ModelOnly" class="message-error">@T("Account.Login.Unsuccessful")</div>
                                            <div class="form-row">
                                              <div class="col-12">
                                                <div class="input-group mb-3">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                                                  </div>
                        @if (Model.UsernamesEnabled)
                        {
                            <input class="input form-control" name="Username" type="text" asp-for="Username" id="username" placeholder="Số điện thoại hoặc email" aria-label="Username" aria-describedby="basic-addon1" />
                            <span asp-validation-for="Username"></span>
                        }
                        else
                        {
                            <input class="input form-control" name="Email" type="text" asp-for="Email"  id="username" placeholder="Số điện thoại hoặc email" aria-label="Username" aria-describedby="basic-addon1" />
                            <span asp-validation-for="Email"></span>
                        }
                                                </div>
                                              </div>
                                              <div class="col-12">
                                                <div class="input-group mb-3">
                                                  <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                                  </div>
                                                  <input  asp-for="Password" name="password" id='password-group' type="password" class="input form-control" id="password" placeholder="Mật khẩu" required="true" aria-label="password" aria-describedby="basic-addon1" />
                                                  <div class="input-group-append" >
                                                    <span class="input-group-text" onclick="password_show_hide();">
                                                      <i class="fas fa-eye" id="show_eye"></i>
                                                      <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                                                    </span>
                                                  </div>
                                                <span asp-validation-for="Password"></span>
                                                </div>
                                              </div>
                                             
                                              <div class="col-sm-12 pt-3 text-right">
                                                <p><a asp-route="PasswordRecovery" class="txt-blue">@T("Account.Login.ForgotPassword")</a></p>
                                              </div>
                                              <div class="col-12 center">
                                                <button class="btn btn-red" type="submit" name="signin">Đăng nhập</button>
                                              </div>
                                            </div>
                                          </form>
                                        <div class="social-area">
                                            <p>Hoặc tiếp tục</p>
                                              <ul class="social-links">
                                                <li class="otp-login"> <a class="conto-login" href="/customer/loginOTP"
                                                        class="btn exoauth_btn "> <i
                                                          class="fa fa-phone" aria-hidden="true"></i>OTP</a> </li>
                                                @* <li class="fb"> <a href="/facebookauthentication/login"> <i class="fab fa-facebook-f"></i>Facebook</a> </li> *@
                                                <li class="gg"> <a href="/googleauthentication/login" > <i class="fab fa-google-plus-g" ></i>Google</a> </li>
                                            </ul>
                                            @* @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication") *@
                                        </div>
                                    </div>
                                    <!-- /////////////// END SIGNIN ///////////////// -->
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
 if(window.location.pathname.ToLower() === '/customer/loginotp'){
    var loginOtpBtn = document.getElementsByClassName('conto-login')[0]
    loginOtpBtn.href='/login'
    loginOtpBtn.innerHTML = '<i class="fa fa-envelope" aria-hidden="true"></i> Email'
 }
function password_show_hide() {
  var passwordField = document.getElementById("password-group");
  console.log({passwordField})
  if (passwordField.type === "password") {
    passwordField.type = "text";
  } else {
    passwordField.type = "password";
  }
}
</script>
