﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page container">
    <div class="page-title" style="margin: 20px;">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="PasswordRecoveryConfirm" asp-route-token="@Context.Request.Query["token"]" asp-route-guid="@Context.Request.Query["guid"]" method="post" autocomplete="off">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields" style="display: flex;flex-direction: column;flex-wrap: wrap;align-content: flex-start;align-items: stretch;justify-content: center;">
                        <div class="inputs">
                            <label asp-for="NewPassword" style="margin-right: 38px;" asp-postfix=":"></label>
                            <input asp-for="NewPassword" />
                            <nop-required />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="ConfirmNewPassword" style="margin-top: 20px;" asp-postfix=":"></label>
                            <input asp-for="ConfirmNewPassword" />
                            <nop-required />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons btn btn-default" style="margin: 20px;">
                    <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            </form>
        }
    </div>
</div>