﻿@model PasswordRecoveryModel

@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);
}
<link href="~/custom_css/frontend.min.css" rel="stylesheet">
<style>
    .action{
        width:100%;
    }
    .action button{
        text-align: center;
    }
body {
    font-family: "Muli", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    overflow-x: hidden !important;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1;
    letter-spacing: normal;
}
.btn{
    font-weight: 400;
    border: none;
    border-radius: 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    background-size: 200%;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    background-position: right;
}
.group-results:hover{
    background-color: #3a90d2;
}
.group-results:hover .gr-info > .gr-p-name{
    color: #fff !important;
}
.group-results:hover .gr-info .choose-profile-active{
    color: #fff !important;
}
    #section-find-doctor-1 .find-doctor-left h4, #section-find-doctor-2 .find-doctor-left-1 h4, #section-find-doctor-2 .find-doctor-left-2 h4{
        background: #078ae0;
    }
    .btn.btn--rounded-blue.btn--sm{
        height: 40px;
        font-size: 14px;
        line-height: 30px;
        font-weight: 600;
    }
    .booking-left-menu-top.shadow-2{
        line-height: 20px;
    }
    .result{
    margin-bottom: 10px;
    color: green;
    }
</style>

<div id="section-booking-45">
    <div class="sub-banner">
        <div class="banner">
            <img src="~/assets/img/gallery/abouts/bg_banner.png" alt="dat-kham-banner"/>
            <div class="banner-bottom">
                <div class="container">
                    <div class="sub-breadcrumb">
                        <img src="~/assets/img/icon/hospital_ico.svg" alt='Khôi phục mật khẩu'/> <span>Khôi phục mật khẩu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3 order-2 order-md-1">
        <div class="booking-left-menu">
          <div class="booking-left-menu-top shadow-2">
            <div class="blmt-name">
              <div class="nav-title-name uppercase">@storeName</div>
            </div>
            <div class="blmt-info">@storeAddress</div>
          </div>
          @* <div class="booking-left-menu-hotline text-center shadow-2">
            <div class="blmh-name">@T("common.phoneonline")</div>
            <a href="tel:@homepageSettings.PhoneOnline" class="d-block"
              >@storePhoneNumber</a
            >
          </div> *@
        </div>
      </div>
      <div class="col-md-8 col-lg-9 order-1 order-md-2">
        <div class="booking-right-navigation">
          <ul>
            <li>
              <a to="#" class="active"
                > Khôi phục mật khẩu
                <i class="fa fa-angle-right"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="user-navigate mb-2">Vui lòng nhập email để khôi phục tài khoản</div>
        <div class="booking-right-time">
          <form asp-route="PasswordRecovery" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <table>
              <tr>
                <td>
                  <div class="page-body">
                    @if (!string.IsNullOrEmpty(Model.Result)) 
                    {
                    <div class="result">@Model.Result</div>
                    }
                    <div
                      asp-validation-summary="ModelOnly"
                      class="message-error"
                    ></div>
                    <p class="tooltip">
                      @T("Account.PasswordRecovery.Tooltip")
                    </p>
                    <div class="fieldset">
                      <div class="form-fields">
                        <div class="inputs">
                          <label>Email</label>
                          <input asp-for="Email" class="email"/>
                          <nop-required />
                          <span asp-validation-for="Email"></span>
                        </div>
                      </div>
                      @if (Model.DisplayCaptcha) 
                      {
                      <div class="captcha-box">
                        <nop-captcha />
                      </div>
                      }
                    </div>
                  </div>
                </td>
              </tr>

              <div class="form-fields"></div>
            </table>
            <div class="action m-auto row">
              <div class="buttons col-md-4">
                <input type="submit" name="send-email"  style="margin: 20px"  class="btn btn--rounded-blue btn--sm"
                value="@T("Account.PasswordRecovery.RecoverButton")" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
