﻿@model RegisterModel
@using System.Linq;
@inject Nop.Services.Localization.ILocalizationService localizationService
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.IStoreContext storeContext
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
}
<style>
    .message-error,.field-validation-error{
        color:red;
    }
    .date-picker-wrapper {
        width: 100%;
        display: inherit;
        margin-left: 15px;
    }
    .date-picker-wrapper select{
        margin-right: 15px;
    }
    .login-content input, .login-content select{
        border-radius: 15px;
    }
    .login-content textarea{
        border-radius: 30px;
    }
    .field-validation-error{
        color: red;
    }
    .abcRioButtonContentWrapper{
    background: #f54124;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .abcRioButton{
    width: 100%!important;
    height: 100%!important;
  }
  .exoauth_btn.facebook-btn{

  }
@@media screen and (max-width : 480px){
    .social-links a{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }
  .social-area .title{
      display: none;
  }
    .otp-login{
        background: #797d7c;
        color: white;
    }

    .otp-login a{
        background: #797d7c;
        color: white;
    }
</style>
    <main>
        <!-- BANNER -->
        <div class="main-banner">
            <img class="img-fluid" src="/assets/img/gallery/login_banner.jpg" />
        </div>
        <!-- /. BANNER -->
        <div class="login-page">
            <!-- <div class="sub-breadcrumb">
                <div class="container">
                    <img src="/assets/img/icon/hospital_ico.svg" /> <span>Đăng nhập/ Đăng ký</span>
                </div>
            </div> -->
            <div class="login-content">
                <div class="container">
                    <div class="tabbable-panel">
                        <div class="card signup_v4 mb-30">
                            <div class="card-body">
                                <ul class="nav nav-tabs"role="tablist">
                                    <li class="nav-item" role="presentation"> <a class="nav-link " 
                                             href="/login" role="tab" aria-controls="login"
                                            aria-selected="true">ĐĂNG NHẬP</a> </li>
                                    <li class="nav-item" role="presentation"> <a class="nav-link active" 
                                            data-toggle="tab" href="/register" role="tab" aria-controls="register"
                                            aria-selected="false">ĐĂNG KÍ</a> </li>
                                </ul>
                                <div class="tab-content" id="loginTabContent">
                                    <!-- ///////////////SIGNIN///////////////// -->
                                    <div class="tab-pane login-tab fade" id="login" role="tabpanel"
                                        aria-labelledby="login-tab">
                                    </div>
                                    <!-- /////////////// END SIGNIN ///////////////// -->
                                    <!-- /////////////// SIGNUP ///////////////// -->
                                    <div class="tab-pane fade signup-tab show active" id="register" role="tabpanel"
                                        aria-labelledby="register-tab">
                                         <form asp-route="Register" asp-route-returnurl='@Context.Request.Query["ReturnUrl"]' method="post" autocomplete="off">
                                            <h5>THÔNG TIN CƠ BẢN</h5>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Giới tính</label>
                                                <div class="col-8">
                                                    <label class="radio-container m-r-45">Nam
                                                        <input type="radio" asp-for="Gender" value="Nam" default-checked checked='@(Model.Gender != "Nữ")' id="gender-male" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radio-container">Nữ
                                                <input type="radio" asp-for="Gender" value="Nữ" checked='@(Model.Gender == "Nữ")' id="gender-female" />
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Tên</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="FirstName"
                                                        required="required" aria-autocomplete="list"/>
                                                    <span asp-validation-for="FirstName"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Họ </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="LastName"
                                                        required="required" aria-autocomplete="list"/>
                                                    <span asp-validation-for="LastName"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Email</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="Email"
                                                        required="required" aria-autocomplete="list"/>
                                                    <span asp-validation-for="Email"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Điện thoại</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="Phone"
                                                        required="required" aria-autocomplete="list"/>
                                                <span asp-validation-for="Phone"></span>
                                                </div>
                                            </div>
                                            <div class="select-birth form-group row">
                                                <label class="col-form-label col-4">Ngày sinh</label>
                                                <div class="col-8">
                                                   <div class="row">
                                                    <nop-date-picker required 
                                                    class="form-control"
                                                    asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                    asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                    asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                    asp-begin-year="@(DateTime.Now.Year - 110)"
                                                    asp-end-year="@(DateTime.Now.Year)"
                                                    asp-selected-day="@Model.DateOfBirthDay"
                                                    asp-selected-month="@Model.DateOfBirthMonth"
                                                    asp-selected-year="@Model.DateOfBirthYear" />
                                                    <span asp-validation-for="DateOfBirthDay"></span>
                                                    <span asp-validation-for="DateOfBirthMonth"></span>
                                                    <span asp-validation-for="DateOfBirthYear"></span>
                                                   </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Tỉnh / Thành phố</label>
                                                <div class="col-8">
                                                    <select name="CityId" class="city form-control" required  onchange="getDirectory('district',this.value)" tabindex="14"  id="inlineFormCustomSelect">
                                                        <option selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="CityId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Quận / huyện</label>
                                                <div class="col-8">
                                                    <select name="DistrictId"  class="district form-control" required  onchange="getDirectory('ward',this.value)" tabindex="14" id="inlineFormCustomSelect">
                                                        <option value='' selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="DistrictId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Phường / Xã</label>
                                                <div class="col-8">
                                                    <select class="ward form-control"name="WardId" required  tabindex="14" id="inlineFormCustomSelect">
                                                        <option value='' selected>--Chọn--</option>
                                                    </select>
                                                    <span asp-validation-for="WardId"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Địa chỉ</label>
                                                <div class="col-8">
                                                    <textarea name="StreetAddress" asp-for="StreetAddress"  class="form-control" rows="3"></textarea>
                                                   <span asp-validation-for="StreetAddress"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">CMND / CCCD</label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="Passport"
                                                        required="required" />
                                                <span asp-validation-for="Passport"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Mật khẩu</label>
                                                <div class="col-8">
                                                    <input asp-for="Password" type="password" class="form-control" name="Password" placeholder="Mật khẩu từ 6 đến 32 kí tự"
                                                        required="required" aria-autocomplete="list"/>
                                                <span asp-validation-for="Password"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-form-label col-4">Xác nhận mật khẩu</label>
                                                <div class="col-8">
                                                    <input asp-for="ConfirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Nhập lại mật khẩu"
                                                        required="required" aria-autocomplete="list"/>
                                                <span asp-validation-for="ConfirmPassword"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 center">
                                                <button class="btn btn-red" type="submit" name="signin">Đăng kí</button>
                                              </div>
                                            <div class="social-area">
                                                <p>Hoặc tiếp tục</p>
                                                <ul class="social-links">
                                                    <li class="otp-login"> <a class="conto-login" href="/customer/loginOTP"
                                                            class="btn exoauth_btn "> <i
                                                            class="fa fa-phone" aria-hidden="true"></i>OTP</a> </li>
                                                    @* <li class="fb"> <a href="/facebookauthentication/login"> <i class="fab fa-facebook-f"></i>Facebook</a> </li> *@
                                                <li class="gg"> <a href="/googleauthentication/login" > <i class="fab fa-google-plus-g" ></i>Google</a> </li>
                                                </ul>
                                                @* @await Component.InvokeAsync("ExternalMethods", "ExternalAuthentication") *@
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /////////////// SIGNUP ///////////////// -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script>
setTimeout(()=>{
    $(document).ready(()=>{
        $(`.city`).children().remove()
        $(`.city`).append(` <option value="" selected>--Chọn--</option>`)
        $.getJSON(`/booking/GetCities?country_code=VN`).then(res=>{
                (res || []).map(x=> $(`.city`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
    })
},1000)    
const getDirectory = (type,value)=>{
    switch(type){
        case 'city':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetCities?country_code=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'district':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetDistricts?city_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        case 'ward':
            $(`.${type}`).children().remove()
            $(`.${type}`).append(` <option value="" selected>--Chọn--</option>`)
            $.getJSON(`/booking/GetWards?district_id=${value}`).then(res=>{
                (res || []).map(x=> $(`.${type}`).append(`<option value="${x.Id}">${x.Name}</option>`))
            }).catch(err=>console.log(err))
            break
        default:
            break
    }
}
 if(window.location.pathname.ToLower() === '/customer/loginotp'){
    var loginOtpBtn = document.getElementsByClassName('conto-login')[0]
    loginOtpBtn.href='/login'
    loginOtpBtn.innerHTML = '<i class="fa fa-envelope" aria-hidden="true"></i> Email'
 }
console.log('errors: @ViewBag.Errors')
</script>