﻿@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    var bannerUrl = "/assets/img/gallery/services/01.jpg";
    if(!String.IsNullOrEmpty(ViewBag.BannerUrl)){
        bannerUrl = ViewBag.BannerUrl;
    }
    var success = Context.Request.RouteValues["resultId"].ToString() == "1"  
                || Context.Request.RouteValues["resultId"].ToString() == "2"
                || Context.Request.RouteValues["resultId"].ToString() == "3";
}
<style>
    .registration-result-page{
        padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 100px;
    }
    .button-1{
        margin-top: 5px;
    }
    .register-page-result{

    }
</style>
  <main>
        <!-- ////////////BANNER//////////////// -->
        <div class="main-banner">
            <img class="img-fluid" src="@bannerUrl" />
        </div>
        <!--////////////// /. BANNER////////// -->
        <div class="login-page register-page-result">
            <div class="sub-breadcrumb">
                <div class="container">
                    <img src="/assets/img/icon/hospital_ico.svg" /> <span>ĐĂNG KÝ</span>
                </div>
            </div>
            <div class="login-content">
                <div class="container" data-success='@success'>
                @if(success){
                    <!-- SUCCESS -->
                   <div class="register-alert register-success">
                       <img src="/assets/img/icon/check.png"/>
                       <h2>Đăng kí thành công</h2>
                       <h4>Chào mừng bạn đến với Phòng khám Saigon Healthcare</h4>
                       <a href="/" class="btn-blue">Trở về trang chủ</a>
                   </div>
                }else{
                   <!-- FAIL -->
                   <div class="register-alert register-fail">
                    <img src="/assets/img/icon/alert.png"/>
                    <h2>Đăng kí không thành công</h2>
                    <p>@Model.Result</p>
                    <a href="/register" class="btn-blue">Trở về trang đăng kí</a>
                </div>
                }
                </div>
            </div>
        </div>
    </main>
<script>
    console.log('conto @success')
</script>