﻿@model ProfileInfoModel
@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings

<div class="item-dropdown dropdown flex-display">
@if(Model.IsAuthenticated){
    <img src="/icons/user.png" alt="nguoi-dung"/>
    <a class="dropdown-toggle" data-toggle="dropdown">@T("pagetitle.account")</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/ho-so-benh-nhan">
            <img src="/icons/login.png" alt="dang-nhap"/> <span class="active">@T("pagetitle.accountinfo")</span>
        </a>
        <a class="dropdown-item" asp-controller="Customer" asp-action="Logout" asp-area="">
            <img src="/icons/logout.png" alt="dang-xuat"/> <span>@T("account.logout")</span>
        </a>
    </div>
}else{
    <img src="/icons/user.png" alt="nguoi-dung"/>
    <a class="" data-toggle="dropdown" href="/login" onclick="onfly('/login')">
    @T("account.loginorregister")
    </a>
}
</div>