﻿@inject Nop.Core.Domain.Common.HomepageSettings homepageSettings
@inject Nop.Core.Domain.StoreInformationSettings storeSettings
@inject Nop.Services.Localization.ILocalizationService localizationService
@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IStoreContext storeContext
@inject IWorkContext workContext;
@{
    var storeName = localizationService.GetLocalized(storeContext.CurrentStore, x => x.Name);
    var storeAddress = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyAddress);
    var storePhoneNumber = localizationService.GetLocalized(storeContext.CurrentStore, x => x.CompanyPhoneNumber);

}
<style>
.popup-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
}
.popup__close-btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2.5rem;
    height: 1.875rem;
    width: 1.875rem;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    top: -.625rem;
    right: -.625rem;
    border-radius: 1.25rem;
    border: 3px solid #fff;
}
.footer-area .footer-tittle p, .footer-area .footer-tittle small{
    font-size: 14px;
}
.footer-area .footer-tittle ul li a{
    font-size: 14px;
}
</style>
   <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container-fluid">
                <div class="row d-flex justify-content-between">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="single-footer-caption">
                                <div class="footer-tittle mt30">
                                     <a href="/"><img class="footer-logo" src="~/assets/img/logo/logo.png" alt="logo"/></a>
                                    <div class="footer-info">
                                        <h1 style='text-transform: capitalize; color: white;'>@storeName</h1>
                                        <p style='line-height: 15px;'>@T("contactpage.address"): @storeAddress
                                        <p>@T("account.fields.phone"):<b style='color: white;'> @storePhoneNumber</b></p>
                                        <p>Email:<b style='color: white;'> @homepageSettings.Email</b></p>
                                        <p>Thời gian làm việc: </p>
                                            <p style='color: white;font-size: 14px;line-height: 15px;font-weight: 600;'> @Html.Raw(homepageSettings.WorkTime)</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4  footer-list">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <ul>
                                        <li><a href="/ve-chung-toi">Về Saigon Healthcare </a></li>
                                        <li><a href="/bac-si">Đội ngũ bác sĩ</a></li>
                                        <li><a href="/tin-tuc">Tin tức</a></li>
                                        <li><a href="/thong-tin-tuyen-dung">Tuyển dụng</a></li>
                                        <li><a href="/home/sitemap">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4  footer-list">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <ul>
                                        <li><a href="/dich-vu">Dịch vụ</a></li>
                                        <li><a href="/ve-chung-toi">Giới thiệu</a></li>
                                        <li><a href="/dat-kham">Đặt lịch khám
                                        </a></li>
                                        <li><a href="/goi-kham">Gói khám</a></li>
                                        <li><a href="/quy-trình-khám-bệnh-dịch-vụ">Quy trình khám bệnh dịch vụ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-4 col-xs-12">
                            <div class="single-footer-caption">
                                <div class="footer-app">
                                    <div class="app-ico">
                                        <h5>Tải app phòng khám</h5>
                                        <div>
                                            <img  src="/assets/img/icon/app-store.png" alt="" />
                                            <img  src="/assets/img/icon/google-play.png" alt="" />
                                        </div>
                                    </div>
                                   
                                    <div  class="app-ico">
                                        <h5>Chứng nhận :</h5>
                                        <div>
                                            <img  src="/assets/img/icon/red.png" alt="" />
                                            <img  src="/assets/img/icon/blue.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        <!-- buble area -->
        <a href="/cart" id="cart" class="cart" data-totalitems="@Model.CartCount">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="link-chat-group">
            <a href="@Model.ZaloChat" target="_blank">
                <img src="/assets/img/icon/zalo-chat.png" alt="zalo-chat" />
            </a>
            <a href="@Model.FacebookChat" target="_blank">
                <img src="/assets/img/messenger.png" alt="fb-chat" />
            </a>
        </div>
        <!-- footer-bottom area -->
        @* <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-12">
                            <div class="col-xl-9 col-lg-8">
                                <div class="footer-copy-right">
                                    <p>@T("setting.copyright")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
        @* <div class="chat-box">
            <img src="~/assets/img/icon/chat-box.png" alt=""/>
        </div> *@
        <!-- Footer End-->

    </footer>
<script src="https://cdn.jsdelivr.net/npm/localstorage-slim"></script>
<script>
    const sendEmail = () =>{
        let email = $('#email').val()
        alert("Gửi email thành công! Chúng tôi đã nhận được thông tin từ bạn và sẽ phản hồi trong thời gian sớm nhất!")
        $.post(`/booking/sendemail?email=${email}`).then(x=>{
        }).catch(err=>{
            console.error(err)
        })
        
    }
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1066323930787103');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1066323930787103&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-198108670-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-198108670-1');
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1066507640823462&autoLogAppEvents=1" nonce="y5VjStXF"></script>