﻿@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/ExternalAuth.Google/Content/googlestyles.css");    
}
<div class="google-login-block">
    <div class="buttons">
        <a asp-controller="googleauthentication" asp-action="login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" class="google-btn"></a>
    </div>
</div>