@model ShoppingCartModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@inject IWebHelper webHelper
@inject IWorkContext workContext
@inject OrderSettings orderSettings
    @* @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.OrderSummaryContentBefore }) *@
    @* @await Html.PartialAsync("_OrderReviewData", Model.OrderReviewData) *@
<style>
.read:hover{
    color: #0056b3;
}
.terms-of-service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}
.terms-of-service input{
    margin-right: 10px;
}
.terms-of-service label{
    margin-bottom: 0;
}
.empty-cart{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
</style>
    <main>
    @if(Model.Items.Count>0){
        <div class="cart-page">
            <div class="cart-wrap">
                <div class="container">
                    @* This form match with action StartCheckout > Checkout/Index*@
                <form asp-route="ShoppingCart" method="post" enctype="multipart/form-data" id="shopping-cart-form">
                    <div class="row">
                        <div class="col-lg-9">
                            <h4>GIỎ HÀNG</h4>
                            @if (Model.Warnings.Count > 0)
                            {
                                <div class="message-error">
                                    <ul>
                                        @foreach (var warning in Model.Warnings)
                                        {
                                            <li>@warning</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <div class="table-cart">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>SẢN PHẨM</th>
                                            <th>GIÁ</th>
                                            <th>SỐ LƯỢNG</th>
                                            <th>TẠM TÍNH</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model.Items){
                                        <tr>
                                            <td>
                                                <div class="display-flex align-center">
                                                        <i style="cursor: pointer;" class="far fa-times-circle" onclick="updateCart({item:{Id: @item.Id, Quantity: @(item.Quantity)}, isRemove: true})"></i>
                                                    <a class="img-product ds-flex" href="/@item.ProductSeName">
                                                        <img src="@item.Picture.ImageUrl" alt="@item.ProductName" class="">
                                                    </a>
                                                    <a class="name-product" href="/@item.ProductSeName">
                                                       @item.ProductName
                                                    </a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="price">
                                                    @item.UnitPrice
                                                 </div>
                                            </td>
                                            <td class="product-count">
                                                <div class="counter">
                                                    <input class="counter__input" type="text" value="@item.Quantity" name="counter" size="5" readonly="readonly"/>
                                                    <a class="counter__increment" href="#" onclick="updateCart({item:{id: @item.Id, quantity: @(item.Quantity+1)}})">+</a>
                                                    <a class="counter__decrement" href="#" onclick="updateCart({item:{id: @item.Id, quantity: @(item.Quantity-1)}})">&ndash;</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="total">
                                                    @item.SubTotal
                                                </div>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                                @* <div class="btn-group">
                                    <a class="btn-stroke-blue"><i class="fas fa-angle-double-left"></i>TIẾP TỤC XEM SẢN PHẨM</a>
                                    <a class="btn-dark-blue">CẬP NHẬT GIỎ HÀNG</a>
                                </div> *@
                            </div>
                            <!-- /.table-cart -->
                        </div>
                        <!-- /.col-lg-8 -->
                        <div class="col-lg-3">
                            <div class="cart-totals">
                                <h5>TỔNG GIỎ HÀNG</h5>
                                <div action="#" method="get" accept-charset="utf-8">
                                @await Component.InvokeAsync("OrderTotals", new { isEditable = Model.IsEditable })
                                <!-- /.cart-totals -->
                                @if (Model.TermsOfServiceOnShoppingCartPage)
                                {
                                    <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display: none;">
                                        <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                                    </div>
                                    <div class="terms-of-service">
                                        <input checked id="termsofservice" type="checkbox" name="termsofservice" />
                                        <label for="termsofservice" style="font-size: 12px;">Tôi đồng ý với các 
                                        <a style="font-size: 12px;" class="read" id="read-terms" href="/dieu-khoan-dich-vu">điều khoản dịch vụ</a></label>
                                    </div>
                                }
                                <div class="btn-cart-totals">
                                    <button type="submit" id="checkout" name="checkout" value="checkout" class="btn-dark-blue">THANH TOÁN</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                </form>
                </div>
            </div>
        </div>
    }else{
        <div class="cart-page">
            <div class="cart-wrap empty-cart">
               <h5>Chưa có sản phẩm nào trong giỏ hàng của bạn </h5>
               <br/>
               <a href="/goi-kham" class="btn btn-blue">Tới trang gói khám</a>
            </div>
        </div>
    }
    </main>
<script asp-location="Footer">
    $('#cart').attr('data-totalitems', '@Model.Items.Sum(x=>x.Quantity)')
    if('@Model.Warning'){
        console.warn('@Model.Warning')
    }    
</script>
<script>
     const updateCart = ({item, isRemove}) =>{
        if(isRemove){
            jQuery.ajax ({
                url: '/ShoppingCart/RemoveItem',
                type: "POST",
                data: JSON.stringify(item),
                dataType: "json",
                contentType: "application/json",
                success: function(x){
                    window.location.reload()
                }
            }).always(x=>{
                console.log('always')
                window.location.reload()
            })
            return
        }   
        jQuery.ajax ({
                url: '/ShoppingCart/UpdateItem',
                type: "POST",
                data: JSON.stringify(item),
                dataType: "json",
                contentType: "application/json",
                success: function(x){
                    window.location.reload()
                }
            }).always(x=>{
                    window.location.reload()
            })
       }
</script>