@model ProductModel

@{
    //page title
    ViewBag.PageTitle = "Thêm gói khám mới";
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Packages");
}

<form asp-controller="Product" asp-action="PackageCreate" method="post" id="product-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
           Thêm mới
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">Trở về</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_PackageCreateOrUpdate", Model)
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //product editor settings modal
    @await Html.PartialAsync("_ProductEditorSettingsModal", Model)
}